@import _variable
@import _html_default
@import _fontSize

@import _form

#logo
  position: absolute
  right: 50px
  top: 50px


.custom-header
  height: 90px
  transition: height .5s ease
  z-index: 1

  &.sticky
    background: #fff
    box-shadow: 0 0 10px rgba(black,.4)
    height: 60px
    z-index: 200

.select-lang
  display: inline-block

.select-lang--icon
  display: inline-block
  width: 42px
  margin-right: 6px

.select-lang--select
  box-shadow: none
  border: none
  margin: 0
  padding: 0
  min-height: 40px

@media (min-width: 1400px)
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl
    max-width: 1260px



// Plugin Setting ======================
.swiper-pagination-bullet-active
  color: #d74b00
  background-color: #d74b00

.bg-getac
  background-color: $orgColor
  color: $white

.bg-graygetac
  background-color: #f9f7f7

.bg-black-getac
  background-color: $black

.text-getac
  color: $orgColor


.black-shadow
  text-shadow: 1px 1px 2px black

.black-shadow-box
  box-shadow: 1px 1px 2px black

.gray-shadow-box
  box-shadow: 1px 1px 2px #aaa

.white-shadow
  text-shadow: 1px 1px 2px white


// btn
.btn-orange
  background-color: $orgColor
  color: $white
  border-radius: 50px
  display: none

.btn-text
  color: $white
  background-color: $orgColor
  padding: 10px 30px
  letter-spacing: .5px
  font-size: 22px
  font-weight: 400
  box-shadow: 0px 3px 6px #00000029
  border-radius: 62px
  .icon
    margin-right: 12px

  &:hover
    color: $white
    background: #EE5936

.btn-submit
  background-color: $orgColor
  color: $white
  border-radius: 5px
  border: none
  appearance: none
  border-radius: 50px
  padding: 20px
  display: block
  width: 70% 
  transition: all .5s ease
  margin: 0 auto

  &:hover
    color: $white
    letter-spacing: 1px
    box-shadow: 0 0 10px rgba($orgColor,.5 )

#btn-stick
  display: none

#btn-stick.btn-block-head
  display: unset

#myBtn
  display: none
  position: fixed
  bottom: 20px
  right: 30px
  z-index: 99
  font-size: 18px
  border: none
  outline: none
  background-color: $orgColor
  color: white
  cursor: pointer
  padding: 15px
  border-radius: 4px
  
.elq-item-input
  display: block
  height: 50px
  margin-bottom: 10px

.elq-item-select
  height: 50px
  padding-right: 40px

.form-rule-layout
  padding-left: 15px
  padding-right: 15px


.invalid-feedback label
  color: red


// navigation ============================
.nav-link
  font-size: 20px
  line-height: 34px
  font-weight: 400
  border-radius: 50px !important

.nav-link.active
  background-color: $orgColor !important

  &:hover
    background-color: $orgColor !important

#pills-tab
  margin-bottom: 25px

#navmenu
  font-family: "Oswald", sans-serif

header
  position: sticky
  top: 0
  z-index: 100


// kv ==============================
#slider-content
  background: url(../../images/kv.png)
  background-repeat: no-repeat
  background-position: center top
  background-size: cover
  border-bottom: 5px solid #D54725
  
  .container
    position: relative

  .slide-group
    position: relative
    height: 656px

  .slider-txt
    padding-top: 85px
    display: flex
    align-items: center
  
  .slider-txt--box
    width: 50%

  .container
    position: absolute
    top: 0
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    z-index: 20
    
  h1
    text-shadow: 5px 5px 6px #2E2E2ECC
    margin-bottom: 25px
    font-weight: 400

  p
    text-shadow: 0px 3px 2px #000000
    margin-bottom: 62px
    font-weight: 400

  .kv-scroll
    position: absolute
    bottom: 100px
    left: 50%
    width: 20px
    margin-left: -10px


.btn-3d-exhibition
  box-shadow: 0px 3px 6px #00000029
  border-radius: 62px
  .icon
    margin-right: 12px

.kv-peo
  position: absolute
  bottom: 0
  right: 0
  width: 500px
  z-index: 100

  img
    width: 100%

model-viewer
  --poster-color: transparent

// section 1 ==============================
#intro-content
  padding-top: 80px
  padding-bottom: 110px

  h2
    color: black
    margin-bottom: 30px

  p
    color: #666666

  .d-flex
    height: 100%


// section 2 ======================
#environment-carousel
  position: relative
  background: $orgColor
  margin-bottom: 200px

  .container
    position: relative
    z-index: 20

  .title-box
    h2
      color: white
      margin-bottom: 30px

    p
      color: white
      margin-bottom: 60px

.swiper-experience-card
  margin-bottom: -230px
  width: 380px

.swiper-slide .card
  background: #FFFFFF 0% 0% no-repeat padding-box
  box-shadow: 0px 5px 10px rgba(black,.1 )
  border-radius: 12px
  margin: 10px
  margin-top: 0
  border: none
  padding: 20px

  img
    border: none
    margin-bottom: 10px
    width: 100%

  .title
    font-weight: bold
    font-family: Arial, sans-serif
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical
    white-space: normal

  .txt-box
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 7
    -webkit-box-orient: vertical
    white-space: normal
    text-align: left
    p
      margin: 0

  .txt
    display: inline-block
    line-height: 1.2
    font-family: Arial, sans-serif

.experience-card-top
  width: 100%
  height: 32px
  background: url(../../images/card_top.png) no-repeat center 0
  background-size: contain

// section 3 =====================

#imgcover-carousel
  position: relative
  background: #080405

.imgcover-card
  position: relative
  z-index: 10
  display: flex
  align-items: center
  
  &--left
    flex: 55%
  &--right
    flex: 45%
    
  .txt-box
    padding: 38px 30px

    .title
      color: $white

    .txt
      color: $white

.swiper-button-getac
  color: $orgColor

.swiper-pagination--white
  position: relative
  z-index: 20
  margin-top: -44px
  padding-left: 45px

  .d-flex
    &--left
      flex: 55%
    &--right
      flex: 45%

  .swiper-pagination-bullet
    width: 60px
    height: 4px
    border-radius: 4px
    background: $white
    margin-right: 4px
    margin-left: 4px

.clip-img
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: 55%
  background-size: cover
  background-position: center center
  z-index: 1

.swiper-imgcover-card
  height: 500px

  .swiper-button-prev
    left: 30px

  .swiper-button-next
    right: 30px

.orangeline
  display: block
  width: 10em
  height: 0.8em
  background-color: $orgColor


.carousel-control-prev-icon
  height: 60px
  width: 60px
  outline: $orgColor
  background-size: 100%, 100%
  border-radius: 10%
  border: 1px solid $orgColor
  background-color: $orgColor

.carousel-control-next-icon
  height: 60px
  width: 60px
  outline: $orgColor
  background-size: 100%, 100%
  border-radius: 10%
  border: 1px solid $orgColor
  background-color: $orgColor

  &:after
    /*content: '>';
     *font-size: 35px;
     *color: #666666;
    content: url(../../images/next.png)

.carousel-control-prev-icon:after
  content: url(../../images/previous.png)

@media (min-width: 1400px)
  .container.custom-container-xs
      max-width: 1100px

// AR  ==============================
#threed-show
  padding-top: 45px
  padding-bottom: 48px

.ar-name
  position: absolute
  top: 50px
  left: 0
  width: 350px
  height: 140px
  background-color: rgba(white,.6 )
  padding: 20px 30px
  padding-left: 88px
  box-sizing: border-box

  

  .icon
    position: absolute
    top: 30px
    left: 30px
    width: 34px

  .title
    margin-bottom: 5px

  .txt
    color: #2E2E2E
    font-weight: regular

.ar-tools
  position: absolute
  top: 80px
  right: 0
  width: 280px
  
.qrcode-link
  display: block
  width: 150px
  margin-bottom: 10px
  margin-left: 15px

  img
    max-width: 100%

  .txt
    font-weight: 600

model-viewer
  width: 100%
  height: 505px

// tabs
.slider_gradient
  background-color: #e6e6e6


.btn-getac-alt
  background-color: #E9ECEF !important
  color: #000
  transition: all .5s ease

  &:hover
    background-color: #C7C6C6 !important
    color: black

.btn-gray
  background-color: #e8e8e8 !important


.d-tabs
  position: static
  background: url(../../images/back-office.png)
  background-repeat: no-repeat
  background-position: center bottom
  background-size: cover


/* Set model-viewer wrapper for both embedded and standalone
main.arWrapper
  position: relative
  width: 100%
  height: 100%
  background-color: transparent

/* Remove top margin in embedded
#modelcontainer main.arWrapper
  margin-top: 0


.privacy
  width: 100%
  height: 200px
  border: 1px solid $white
  overflow-y: scroll
  overflow-x: hidden

.marketing-rule
  padding: 20px 0

  a
    color: $orgColor


.LV_validation_message
  color: $white
  padding: 0 10px
  border-radius: 20px
  display: inline-block
  background: $orgColor


.swiper-experience-card 
  .card-text
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    white-space: normal

  .swiper-pagination
    position: static
    margin-top: 10px

  
// RWD ===============================

@media (min-width: 320px) and (max-width: 374px)
  .menu .col-12
    text-align: center !important
    padding: 10px 0px

@media (min-width: 375px) and (max-width: 575px)
  .menu .col-12
    text-align: center !important
    padding: 10px 0px


.submit-button-style
  text-align: center
  input[type="submit"]
    display: none


#btn-stick
  margin-right: 20px
  box-shadow: none

.custom-modal
  .modal-content
    background: none
  .modal-body
    padding: 0
  .close
    position: absolute
    top: 0
    right: 0
    border: none
    width: 60px
    height: 60px
    background: white

    span
      color: black
      font-size: 20px