extends ../template/_F110_dock
block desc
    h2.title Faites l'expérience des appareils Getac avec la réalité augmentée
    p.txt Scannez le code QR avec votre smartphone, placez l'appareil dans votre environnement. Vous êtes prêt à jouer avec!