<!-- container -->
.overflow-scrollbar
    .modal-infor
        .modal-infor--main
        .tab-content.show#tab1-content
            .row.mb-sm-5.mb-md-0
                .col-md-5
                    <img src="https://fakeimg.pl/336x345/" class="mb-3img-fluid">

                .col-md-7
                    h2.title EVHC (2)
                    p.txt On average $35 gets added to the average customer retail invoice every time a EVHC is performed on a vehicle. So it's no surprise that vehicle manufacturers and their dealer network will want to perform a multi-point inspection of the vehicle, while the Technician has the vehicle on the ramp and the wheels off. Dialyzing the process ensures no points are missed and customers are kept up to date in realtime. Increasing conversion rates of red and amber identified items by as much as 70%.



        .tab-content#tab2-content
            .row.mb-sm-5.mb-md-3
                .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                    
                .col-md-7
                    h2.title Challenge
                    p.txt Once the vehicle is on the ramp, the technician should carry out a thorough multi-point inspection every time. This is traditionally done on a paper check-sheet, with any identified items logged and updated to the DMS. Though doing it on paper means the technician can skip the full inspection and only check the items they wish to. It's a time consuming process, without transparency for the customer as there is no image or video capability. 




            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                    
                .col-md-7
                    h2.title Solution
                    p.txt Getac Automotive gives workshops the ability to perform easy, integrated and paperless EVHCs. 
                    ol.list
                        li <i class="fas fa-chevron-right"></i> Paperless Workshops – Digitize paper-based checks and allow the technician to capture photos, videos and comments that can be passed on to the customer in a follow up email.
                        li <i class="fas fa-chevron-right"></i> Native Application 
                        li <i class="fas fa-chevron-right"></i> Online / Offline Capabilities
                        li <i class="fas fa-chevron-right"></i> Roles based
                        li <i class="fas fa-chevron-right"></i> Embedded Video


            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                    
                .col-md-7
                    h2.title Benefits
                    p.txt Getac Automotive's combination of seamless software and rugged hardware come together to deliver a number of workshop benefits: 


                    ol.list 
                        li <i class="fas fa-chevron-right"></i> Move from paper to tablet
                        li <i class="fas fa-chevron-right"></i> No double-keying
                        li <i class="fas fa-chevron-right"></i> Builds trust with a transparent digital experience
                        li <i class="fas fa-chevron-right"></i> Allow you to deliver on your customer duty of care easily
                        li <i class="fas fa-chevron-right"></i> More health checks mean more throughput, safer customers and better retention rates

        .tab-content#tab3-content
            .row.mb-sm-5.mb-md-0
                .col-md-5
                    #modal-swiper.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                include ../video/_UX10
                            .swiper-slide
                                include ../video/_F110
                            .swiper-slide
                                include ../video/_GDMS
                        .swiper-pagination

                .col-md-7
                    h2.title Getac Device
                    ol.list
                        li <i class="fas fa-chevron-right"></i> ZX70
                        li <i class="fas fa-chevron-right"></i> UX10
                        li <i class="fas fa-chevron-right"></i> F110
                    br
                    br
                    
                    h2.title Software
                    ol.list
                        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
                        li <i class="fas fa-chevron-right"></i>EVHC Software
                        li <i class="fas fa-chevron-right"></i> Absolute

                    br
                    br

                    h2.title Accessories
                    ol.list
                        li <i class="fas fa-chevron-right"></i> Carrying Solutions 
                        li <i class="fas fa-chevron-right"></i> Charging Solutions 


        .tab-content#tab4-content
            include ar/_ZX70
<!-- container end -->