<!-- container -->
.overflow-scrollbar
    .modal-infor
        .modal-infor--main
            .tab-content.show#tab1-content
                .row.mb-sm-5.mb-md-0
                    .col-md-5
                        <img src="https://fakeimg.pl/336x345/" class="mb-3img-fluid">

                    .col-md-7
                        h2.title Validation & Testing
                        p.txt Today's vehicles are becoming more sophisticated, with onboard computers, electrical power and complex architecture. Every aspect of a vehicle must be thoroughly tested and validated before production - meaning engineers need devices that can work in tandem with complex systems. 


        .tab-content#tab2-content
            .row.mb-sm-5.mb-md-3
                .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                    
                .col-md-7
                    h2.title Challenge
                    p.txt Testing doesn't just put a demand on the vehicles - it can also put strain on the devices used to perform checks, scanning and calibration. From extreme weather testing to the bumps, knocks and drops in the test lab, devices must be able to support engineers with smooth, precise software that can interface with complicated instruments and stand up to the rugged environment. 



            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                    
                .col-md-7
                    h2.title Solution
                    p.txt Getac's rugged devices are perfectly suited to the test lab and have been used to support multiple projects in R&D. 

                    ol.list
                        li <i class="fas fa-chevron-right"></i> Extreme Weather Ready – Getac devices are certified to perform in rain, dust, shock, vibration and withstand both extreme high and low temperatures. 
                        li <i class="fas fa-chevron-right"></i> Specialized Ports – Our devices are equipped with ports that support a wide range of calibration, measurement and industry specific tools. 
                        li <i class="fas fa-chevron-right"></i> Secure – Protect your sensitive data with biometric security and complete control of your devices. 
                        li <i class="fas fa-chevron-right"></i> Versatile –  Rugged hardware works in conjunction with manufacturer engineering software to perform scanning, cataloguing and ECU programming uninterrupted.
            
            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                    
                .col-md-7
                    h2.title Benefits
                    p.txt The test lab is a critical part of a vehicle's journey from concept to production. It's a place you need rugged devices you can put your full trust in, that's why we've built our range of devices to perform in R&D.


                    ol.list 
                        li <i class="fas fa-chevron-right"></i> Cable-Free Connectivity – Connect directly to the vehicle, VCI and R&D infrastructure via fast dual WLAN and Bluetooth. 
                        li <i class="fas fa-chevron-right"></i> Global Certification and Support – Our devices are in use by major OEMs, are certified for use globally and backed by our world-class support and services. 
                        li <i class="fas fa-chevron-right"></i> Optimized Screen Sizes – No matter your needs, our wide range of devices have large screen sizes to support tasks such as Test Data, Thermal Battery Testing and 3D prototyping. 
                        li <i class="fas fa-chevron-right"></i> Flexible Connectivity  – Our configurable port options work with the industry's leading testing and measurement devices.
                       
        .tab-content#tab3-content
            .row.mb-sm-5.mb-md-0
                .col-md-5
                    #modal-swiper.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                include ../video/_UX10
                            .swiper-slide
                                include ../video/_F110
                            .swiper-slide
                                include ../video/_B360
                            .swiper-slide
                                include ../video/_S410
                            .video-iframe
                                include ../video/_GDMS
                        .swiper-pagination

                .col-md-7
                    h2.title Getac Device
                    ol.list
                        li <i class="fas fa-chevron-right"></i> UX10
                        li <i class="fas fa-chevron-right"></i> F110
                        li <i class="fas fa-chevron-right"></i> B360
                        li <i class="fas fa-chevron-right"></i> S410

                    br
                    br
                    
                    h2.title Software
                    ol.list
                        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
                        li <i class="fas fa-chevron-right"></i> Absolute
                    br

                    h2.title Accessories
                    ol.list
                        li <i class="fas fa-chevron-right"></i> Carrying Solutions 
                        li <i class="fas fa-chevron-right"></i> Docking Solutions 
                        li <i class="fas fa-chevron-right"></i> Charging Solutions 
                        li <i class="fas fa-chevron-right"></i> Keyboards


        .tab-content#tab4-content
            include ar/_F110
<!-- container end -->