<!-- container -->
.overflow-scrollbar
    .modal-infor
        .modal-infor--main
            .tab-content.show#tab1-content
                .row.mb-sm-5.mb-md-0
                    .col-md-5
                        <img src="https://fakeimg.pl/336x345/" class="mb-3img-fluid">

                    .col-md-7
                        h2.title Shop Floor & Production
                        p.txt The shop floor is a tough environment - with heavy machinery, high levels of vibration and increasingly sophisticated software solutions bringing everything together.


            .tab-content#tab2-content
                .row.mb-sm-5.mb-md-3
                    .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                        
                    .col-md-7
                        h2.title Challenge
                        p.txt Aside from environmental factors, the shop floor also serves as the crossroads for a number of other areas including material routing, inventory management, part availability and workforce scheduling. 

                .row.mb-5.mb-sm-5.mb-md-3
                    .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                        
                    .col-md-7
                        h2.title Solution
                        p.txt Getac devices are rugged enough to stand up to any environment - including your shop floor. They have a range of key benefits that make running a shop floor easier, smoother and more intelligent: 

                        ol.list
                            li <i class="fas fa-chevron-right"></i> Mobile performance monitoring for real-time production tracking. 
                            li <i class="fas fa-chevron-right"></i> Integration with WMS software for seamless interoperability. 
                            li <i class="fas fa-chevron-right"></i> Easy to read screens and ease of use for data capture in extreme environments.
                            

                .row.mb-5.mb-sm-5.mb-md-3
                    .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                        
                    .col-md-7
                        h2.title Benefits
                        p.txt Leading industrial manufacturers trust Getac to provide quality devices that blend rugged hardware with optimized software for the challenges of the shop floor.

                        ol.list 
                            li <i class="fas fa-chevron-right"></i> Getac products are inherently rugged and built to survive in the harshest conditions. 
                            li <i class="fas fa-chevron-right"></i> We give you comprehensive field engineering support for areas including system integration and compatibility testing, development of docking solutions, software imaging, and aftersales support 
                            li <i class="fas fa-chevron-right"></i> Our products are trusted by leading global manufacturers. 
                            li <i class="fas fa-chevron-right"></i> Get the industry-best warranty for a minimum of three years, including accidental damage. 

            .tab-content#tab3-content
                .row.mb-sm-5.mb-md-0
                    .col-md-5
                        #modal-swiper.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    include ../video/_UX10
                                .swiper-slide
                                    include ../video/_F110
                                .swiper-slide
                                    include ../video/_K120
                                .swiper-slide
                                    include ../video/_B360
                                .video-iframe
                                    include ../video/_GDMS
                            .swiper-pagination

                    .col-md-7
                        h2.title Getac Device
                        ol.list
                            li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
                            li <i class="fas fa-chevron-right"></i> T800, T800-EX
                            li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
                            li <i class="fas fa-chevron-right"></i> F110, F110-EX 
                            li <i class="fas fa-chevron-right"></i> K120, K120-EX
                            li <i class="fas fa-chevron-right"></i> A140
                            li <i class="fas fa-chevron-right"></i> B360

                        br
                        br
                        
                        h2.title Software
                        ol.list
                            li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
                            li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility 
                        br

                        h2.title Accessories
                        ol.list
                            li <i class="fas fa-chevron-right"></i> Carrying Solutions 
                            li <i class="fas fa-chevron-right"></i> Docking Solutions 
                            li <i class="fas fa-chevron-right"></i> Charging Solutions 
                            li <i class="fas fa-chevron-right"></i> Keyboards


            .tab-content#tab4-content
                include ar/_B360
<!-- container end -->