<!-- container -->
.overflow-scrollbar
    .modal-infor
        .modal-infor--main
            .tab-content.show.tab1-content
                .row.mb-sm-5.mb-md-0
                    .col-md-5
                        .intro-img
                            <img src="../assets/modal_detail/rd/img_Extreme Conditions.png" class="mb-3 img-fluid">


                    .col-md-7
                        block se1
        .tab-content.tab2-content
            .row.mb-sm-5.mb-md-3
                .col-md-5 <img src="../assets/modal_detail/img_18.png" class="mb-3 img-fluid">
                    
                .col-md-7
                    block se2

            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="../assets/modal_detail/img_19.png" class="mb-3 img-fluid">
                    
                .col-md-7
                    block se3
            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="../assets/modal_detail/img_20.png" class="mb-3 img-fluid">
                    
                .col-md-7
                    block se4
        .tab-content.tab3-content
            .row.mb-sm-5.mb-md-0
                .col-md-5
                    #modal-swiper.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                include ../../video/_UX10
                            .swiper-slide
                                include ../../video/_F110
                            .swiper-slide
                                include ../../video/_B360
                            .swiper-slide
                                include ../../video/_S410
                            .video-iframe
                                include ../../video/_GDMS
                        .swiper-pagination

                .col-md-7
                    block se5

        .tab-content.tab4-content
            block se6 
            case lang
                when 'de'
                    include ../../ar/de/_B360
                when 'fr'
                    include ../../ar/fr/_B360
                when 'it'
                    include ../../ar/it/_B360
                when 'es'
                    include ../../ar/es/_B360
                when 'cn'
                    include ../../ar/cn/_B360
                default
                    include ../../ar/en/_B360
<!-- container end -->