<!-- container -->
.overflow-scrollbar
    .modal-infor
        .modal-infor--main
        .tab-content.show.tab1-content
            .row.mb-sm-5.mb-md-0
                .col-md-5
                    .intro-img
                        <img src="../assets/modal_detail/workshop/img_Digital Technical Publications.png" class="mb-3 img-fluid">


                .col-md-7
                    block se1

        .tab-content.tab2-content
            .row.mb-sm-5.mb-md-3
                .col-md-5 <img src="../assets/modal_detail/img_13.png" class="mb-3 img-fluid">
                    
                .col-md-7
                   block se2

            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="../assets/modal_detail/img_14.png" class="mb-3 img-fluid">
                    
                .col-md-7
                    block se3
            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="../assets/modal_detail/img_05.png" class="mb-3 img-fluid">
                    
                .col-md-7
                    block se4
        .tab-content.tab3-content
            .row.mb-sm-5.mb-md-0
                .col-md-5
                    #modal-swiper.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                include ../../video/_UX10
                            .swiper-slide
                                include ../../video/_F110
                        .swiper-pagination

                .col-md-7
                    block se5

        .tab-content.tab4-content
            block se6 
            case lang
                when 'de'
                    include ../../ar/de/_F110_dock
                default
                    include ../../ar/en/_F110_dock
<!-- container end -->