<!-- container -->
.overflow-scrollbar
    .modal-infor
        .modal-infor--main
            .tab-content.show.tab1-content
                .row.mb-sm-5.mb-md-0
                    .col-md-5
                        .intro-img
                            <img src="../assets/modal_detail/warehouse/img_Warehouse.png" class="mb-3 img-fluid">

                    .col-md-7
                        block se1
        .tab-content.tab2-content
            .row.mb-sm-5.mb-md-3
                .col-md-5 <img src="../assets/modal_detail/img_30.png" class="mb-3 img-fluid">
                    
                .col-md-7
                    block se2
            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="../assets/modal_detail/img_29.png" class="mb-3 img-fluid">
                    
                .col-md-7
                    block se3

            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="../assets/modal_detail/img_31.png" class="mb-3 img-fluid">
                    
                .col-md-7
                   block se4

        .tab-content.tab3-content
            .row.mb-sm-5.mb-md-0
                .col-md-5
                    #modal-swiper.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                include ../../video/_F110
                            .swiper-slide
                                include ../../video/_GDMS
                            .swiper-slide
                                include ../../video/_KeyWedge
                            .swiper-slide
                                include ../../video/_DrivingSafety
                                
                        .swiper-pagination

                .col-md-7
                    block se5

        .tab-content.tab4-content
            block se6 
            case lang
                when 'de'
                    include ../../ar/de/_F110
                when 'fr'
                    include ../../ar/fr/_F110
                when 'it'
                    include ../../ar/it/_F110
                default
                    include ../../ar/en/_F110
<!-- container end -->