
/*Unity*/

.webgl-content * {border: 0; margin: 0; padding: 0}
.webgl-content {position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

.webgl-content .logo, .progress {position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.webgl-content .logo {background: url('./unity.jslib/TemplateData/progressLogo.Light.png') no-repeat center / contain; width: 154px; height: 130px;}
.webgl-content .progress {height: 18px; width: 141px; margin-top: 90px;}
.webgl-content .progress .empty {background: url('./unity.jslib/TemplateData/progressEmpty.Light.png') no-repeat right / cover; float: right; width: 100%; height: 100%; display: inline-block;}
.webgl-content .progress .full {background: url('./unity.jslib/TemplateData/progressFull.Light.png') no-repeat left / cover; float: left; width: 0%; height: 100%; display: inline-block;}

.webgl-content .logo.Dark {background-image: url('./unity.jslib/TemplateData/progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('./unity.jslib/TemplateData/progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('./unity.jslib/TemplateData/progressFull.Dark.png');}

.webgl-content .footer {margin-top: 5px; height: 38px; line-height: 38px; font-family: Helvetica, Verdana, Arial, sans-serif; font-size: 18px;}
.webgl-content .footer .webgl-logo, .title, .fullscreen {height: 100%; display: inline-block; background: transparent center no-repeat;}
.webgl-content .footer .webgl-logo {background-image: url('./unity.jslib/TemplateData/webgl-logo.png'); width: 204px; float: left;}
.webgl-content .footer .title {margin-right: 10px; float: right;}
.webgl-content .footer .fullscreen {background-image: url('./unity.jslib/TemplateData/fullscreen.png'); width: 38px; float: right;}


/* Unity UI */
.links {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  z-index: 100;
}
.links a {
  flex: 25%;
  height: 100px;
  background-color: black;
  color: white;
  font-size: 20px;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
.links a:hover,
.links a.active {
  background-color: rgb(245, 84, 35);
}
#unityContainer {
  position: relative;
  z-index: 1;
}

.map {
  position: relative;
  width: 1000px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.map img {
  width: 100%;
}

.map .room {
  position: absolute;
  width: 300px;
  height: 80px;
  color: white;
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 80px;
  background-color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

.map .room:hover {
  color: white;
  background-color: rgb(245, 84, 35);
}
.room-1 {
  top: 60px;
  left: 200px;
}

.room-2 {
  top: 380px;
  left: 200px;
}

.room-3 {
  top: 480px;
  left: 590px;
}

.room-4 {
  top: 100px;
  left: 640px;
}

.unity-scene{
  display: none;
}