{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php",
        ".svg",
        ".png",
        ".jpg"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": [
          "lang/manufacturing_factory/en.pug",
          "lang/aftersales_workshop/en.pug",
          "lang/engineering_lab/en.pug",
          "lang/warehouse/en.pug"
        ]
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": []
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "last 2 versions"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "last 2 versions"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 80
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_funcs": true,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "allowWildcardImports": false,
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 80
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "last 2 versions"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "css/web.sass",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "css\\web.css"
        }
      },
      {
        "file": "dist/images/360-icon-button.svg",
        "config": {
          "originalSize": 222625,
          "optimized": true
        }
      },
      {
        "file": "dist/images/Card_01.png",
        "config": {
          "originalSize": 136215,
          "optimized": true
        }
      },
      {
        "file": "dist/images/Card_01@2x.png",
        "config": {
          "originalSize": 472108,
          "optimized": true
        }
      },
      {
        "file": "dist/images/Card_02.png",
        "config": {
          "originalSize": 137308,
          "optimized": true
        }
      },
      {
        "file": "dist/images/Card_02@2x.png",
        "config": {
          "originalSize": 530576,
          "optimized": true
        }
      },
      {
        "file": "dist/images/Card_03.png",
        "config": {
          "originalSize": 163395,
          "optimized": true
        }
      },
      {
        "file": "dist/images/Card_03@2x.png",
        "config": {
          "originalSize": 605641,
          "optimized": true
        }
      },
      {
        "file": "dist/images/Guide_frame.png",
        "config": {
          "originalSize": 3618,
          "optimized": true
        }
      },
      {
        "file": "dist/images/back-office.png",
        "config": {
          "originalSize": 674480,
          "optimized": true
        }
      },
      {
        "file": "dist/images/card_top.png",
        "config": {
          "originalSize": 1565,
          "optimized": true
        }
      },
      {
        "file": "dist/images/icon_ar.svg",
        "config": {
          "originalSize": 1762,
          "optimized": true
        }
      },
      {
        "file": "dist/images/icon_ar_white.svg",
        "config": {
          "originalSize": 1756,
          "optimized": true
        }
      },
      {
        "file": "dist/images/icon_lang.svg",
        "config": {
          "originalSize": 1385,
          "optimized": true
        }
      },
      {
        "file": "dist/images/icon_up.svg",
        "config": {
          "originalSize": 433,
          "optimized": true
        }
      },
      {
        "file": "dist/images/icon_virtual exhibition.svg",
        "config": {
          "originalSize": 1112,
          "optimized": true
        }
      },
      {
        "file": "dist/images/kv.png",
        "config": {
          "originalSize": 402336
        }
      },
      {
        "file": "dist/images/kv_peo.png",
        "config": {
          "originalSize": 684751,
          "optimized": true
        }
      },
      {
        "file": "dist/images/logo-Intel.png",
        "config": {
          "originalSize": 9686,
          "optimized": true
        }
      },
      {
        "file": "dist/images/logo_getac.svg",
        "config": {
          "originalSize": 2003,
          "optimized": true
        }
      },
      {
        "file": "dist/images/m-back-office.png",
        "config": {
          "originalSize": 161156,
          "optimized": true
        }
      },
      {
        "file": "dist/images/m_kv.png",
        "config": {
          "originalSize": 462498,
          "optimized": true
        }
      },
      {
        "file": "dist/images/qrcode_b360.png",
        "config": {
          "originalSize": 6600,
          "optimized": true
        }
      },
      {
        "file": "dist/images/qrcode_f110.png",
        "config": {
          "originalSize": 6554,
          "optimized": true
        }
      },
      {
        "file": "dist/images/qrcode_s410.png",
        "config": {
          "originalSize": 6608,
          "optimized": true
        }
      },
      {
        "file": "dist/images/qrcode_ux10.png",
        "config": {
          "originalSize": 6718,
          "optimized": true
        }
      },
      {
        "file": "dist/images/qrcode_zx70.png",
        "config": {
          "originalSize": 6650,
          "optimized": true
        }
      },
      {
        "file": "dist/images/slide_01.png",
        "config": {
          "originalSize": 696443,
          "optimized": true
        }
      },
      {
        "file": "dist/images/slide_01@2x.png",
        "config": {
          "originalSize": 2022607,
          "optimized": true
        }
      },
      {
        "file": "dist/images/slide_02.png",
        "config": {
          "originalSize": 718658,
          "optimized": true
        }
      },
      {
        "file": "dist/images/slide_02@2x.png",
        "config": {
          "originalSize": 2087344,
          "optimized": true
        }
      },
      {
        "file": "dist/images/slide_03.png",
        "config": {
          "originalSize": 1093961,
          "optimized": true
        }
      },
      {
        "file": "dist/images/slide_03@2x.png",
        "config": {
          "originalSize": 3327318,
          "optimized": true
        }
      },
      {
        "file": "dist/map/assets/btn_hover.svg",
        "config": {
          "originalSize": 833,
          "optimized": true
        }
      },
      {
        "file": "dist/map/assets/icon_Manufacturing_50x50.svg",
        "config": {
          "originalSize": 1811,
          "optimized": true
        }
      },
      {
        "file": "dist/map/assets/icon_Map_50x50.svg",
        "config": {
          "originalSize": 2391,
          "optimized": true
        }
      },
      {
        "file": "dist/map/assets/icon_R&D_50x50.svg",
        "config": {
          "originalSize": 1267,
          "optimized": true
        }
      },
      {
        "file": "dist/map/assets/icon_Warehouse_50x50.svg",
        "config": {
          "originalSize": 1334,
          "optimized": true
        }
      },
      {
        "file": "dist/map/assets/icon_help.svg",
        "config": {
          "originalSize": 1164,
          "optimized": true
        }
      },
      {
        "file": "dist/map/assets/icon_workshop_50x50.svg",
        "config": {
          "originalSize": 2758,
          "optimized": true
        }
      },
      {
        "file": "images/360-icon-button.svg",
        "config": {
          "optimized": true,
          "originalSize": 222625
        }
      },
      {
        "file": "images/3D-icon.svg",
        "config": {
          "optimized": true,
          "originalSize": 215890
        }
      },
      {
        "file": "images/Card_01.png",
        "config": {
          "optimized": true,
          "originalSize": 136215
        }
      },
      {
        "file": "images/Card_01@2x.png",
        "config": {
          "optimized": true,
          "originalSize": 472108
        }
      },
      {
        "file": "images/slide_03@2x.png",
        "config": {
          "originalSize": 3327318
        }
      },
      {
        "file": "js/validate.js",
        "config": {
          "customOutput": "dist\\js\\validate.js"
        }
      },
      {
        "file": "js/web.js",
        "config": {
          "customOutput": "dist\\js\\web.js"
        }
      },
      {
        "file": "lang/aftersales_workshop/en.pug",
        "config": {
          "customOutput": "lang\\aftersales_workshop\\en.txt"
        }
      },
      {
        "file": "lang/en/en.pug",
        "config": {
          "customOutput": "lang\\dist\\en.txt"
        }
      },
      {
        "file": "lang/engineering_lab/en.pug",
        "config": {
          "customOutput": "lang\\engineering_lab\\en.txt"
        }
      },
      {
        "file": "lang/manufacturing_factory/en.pug",
        "config": {
          "customOutput": "lang\\manufacturing_factory\\en.txt"
        }
      },
      {
        "file": "lang/warehouse/en.pug",
        "config": {
          "customOutput": "lang\\warehouse\\en.txt"
        }
      },
      {
        "file": "map/assets/sass/unity_web.sass",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "map\\assets\\unity_web.css"
        }
      },
      {
        "file": "map/components/_modal_w_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "map/components/_popup_detail_manufacturing.pug",
        "config": {
          "compileImported": true
        }
      },
      {
        "file": "map/components/aftersales_workshop.pug",
        "config": {
          "customOutput": "dist\\map\\aftersales_workshop\\index.html"
        }
      },
      {
        "file": "map/components/en/_modal_m_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "map\\components\\en\\minify\\_modal_m_1.html"
        }
      },
      {
        "file": "map/components/en/_modal_m_2.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "compileImported": true,
          "customOutput": "map\\components\\en\\minify\\_modal_m_2.html"
        }
      },
      {
        "file": "map/components/en/_modal_m_3.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "compileImported": true,
          "customOutput": "map\\components\\en\\minify\\_modal_m_3.html"
        }
      },
      {
        "file": "map/components/en/_modal_m_4.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "compileImported": true,
          "customOutput": "map\\components\\en\\minify\\_modal_m_4.html"
        }
      },
      {
        "file": "map/components/en/_modal_rd_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "map\\components\\en\\minify\\_modal_rd_1.html"
        }
      },
      {
        "file": "map/components/en/_modal_rd_2.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "map\\components\\en\\minify\\_modal_rd_2.html"
        }
      },
      {
        "file": "map/components/en/_modal_w_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "compileImported": true,
          "customOutput": "map\\components\\en\\minify\\_modal_w_1.html"
        }
      },
      {
        "file": "map/components/en/_modal_warehouse_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "compileImported": true,
          "customOutput": "map\\components\\en\\minify\\_modal_warehouse_1.html"
        }
      },
      {
        "file": "map/components/en/_modal_work_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "map\\components\\en\\minify\\_modal_work_1.html"
        }
      },
      {
        "file": "map/components/en/_modal_work_2.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "map\\components\\en\\minify\\_modal_work_2.html"
        }
      },
      {
        "file": "map/components/en/_modal_work_3.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "map\\components\\en\\minify\\_modal_work_3.html"
        }
      },
      {
        "file": "map/components/en/_modal_work_4.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\en\\minify\\_modal_work_4.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/en/_modal_work_5.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\en\\minify\\_modal_work_5.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/en/_modal_work_6.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\en\\minify\\_modal_work_6.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/engineering_lab.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "dist\\map\\engineering_lab\\index.html"
        }
      },
      {
        "file": "map/components/index.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "dist\\map\\index.html"
        }
      },
      {
        "file": "map/components/manufacturing_factory.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "dist\\map\\manufacturing_factory\\index.html"
        }
      },
      {
        "file": "map/components/modal/de/_modal_m_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_m_1.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_m_2.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_m_2.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_m_3.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_m_3.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_m_4.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "autoCompile": true,
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_m_4.html"
        }
      },
      {
        "file": "map/components/modal/de/_modal_rd_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_rd_1.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_rd_2.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_rd_2.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_warehouse_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_warehouse_1.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_work_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_work_1.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_work_2.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_work_2.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_work_3.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_work_3.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_work_4.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_work_4.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_work_5.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_work_5.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/de/_modal_work_6.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\de\\minify\\_modal_work_6.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_m_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_m_1.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_m_2.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_m_2.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_m_3.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_m_3.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_m_4.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_m_4.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_rd_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_rd_1.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_rd_2.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_rd_2.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_warehouse_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_warehouse_1.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_work_1.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_work_1.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_work_2.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_work_2.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_work_3.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_work_3.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_work_4.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_work_4.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_work_5.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_work_5.html",
          "autoCompile": true
        }
      },
      {
        "file": "map/components/modal/en/_modal_work_6.pug",
        "config": {
          "autoCompile": true,
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "map\\components\\modal\\en\\minify\\_modal_work_6.html"
        }
      },
      {
        "file": "map/components/warehouse.pug",
        "config": {
          "tasks": {
            "minify-html": {
              "enable": true
            }
          },
          "customOutput": "dist\\map\\warehouse\\index.html"
        }
      },
      {
        "file": "map/js/UnityLoader.js",
        "config": {
          "customOutput": "dist\\map\\js\\UnityLoader.js",
          "autoCompile": true
        }
      },
      {
        "file": "map/js/UnityProgress.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "customOutput": "dist\\map\\js\\UnityProgress.js",
          "autoCompile": true
        }
      },
      {
        "file": "map/js/checkLang.js",
        "config": {
          "customOutput": "dist\\map\\js\\checkLang.js"
        }
      },
      {
        "file": "map/js/detectLang.js",
        "config": {
          "customOutput": "dist\\map\\js\\detectLang.js",
          "autoCompile": true
        }
      },
      {
        "file": "map/js/functions.js",
        "config": {
          "customOutput": "dist\\map\\js\\functions.js",
          "autoCompile": true
        }
      },
      {
        "file": "map/js/indexDetectLang.js",
        "config": {
          "customOutput": "dist\\map\\js\\indexDetectLang.js",
          "autoCompile": true
        }
      },
      {
        "file": "map/js/mapIndex.js",
        "config": {
          "customOutput": "dist\\map\\js\\mapIndex.js",
          "autoCompile": true
        }
      },
      {
        "file": "map/js/modal.js",
        "config": {
          "customOutput": "dist\\map\\js\\modal.js",
          "autoCompile": true
        }
      },
      {
        "file": "map/sass/unity_web.sass",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "dist\\map\\assets\\unity_web.css"
        }
      },
      {
        "file": "sass/web.sass",
        "config": {
          "tasks": {
            "minify-css": {
              "enable": true
            }
          },
          "customOutput": "dist\\css\\web.css"
        }
      },
      {
        "file": "unity_lang/pug/de.pug",
        "config": {
          "customOutput": "unity_lang\\dist\\de.txt"
        }
      },
      {
        "file": "unity_lang/pug/en.pug",
        "config": {
          "customOutput": "unity_lang\\dist\\en.txt"
        }
      }
    ]
  }
}
