.row.mb-sm-5.mb-md-0
    .col-md-7
        .device-ar
            iframe(src="../../ar/?device=UX10", frameborder="0" ,width="100%" ,height="400") 
    .col-md-5.device-ar-main
        block desc
        .device-ar-code
            a(href="../../ar/?device=UX10" target="_blank")
                img(src="./../../images/qrcode_ux10.png", alt="UX10") 