extends ../template/_modal_work_2.pug
block se1
    h2.title EVHC
    p.txt La digitalizzazione interessa ogni settore, dalla ricerca di un taxi o l'accesso alle informazioni in ambito di assistenza sanitaria. L'industria automotive non si differenzia, aspettative e comportamento dei clienti favoriscono la necessità di un cambiamento. L'Electronic Vehicle Health Checks (EVHC) favorisce il rapporto tra cliente e team di assistenza rendendolo più trasparente, grazie all'eliminazione dei fogli di carta e assicura che il processo di consegna e di collaudo sia ridotto al minimo, migliorando così la customer experience e aumentando le opportunità di upselling dei ricambi soggetti a usura.

block se2
    h2.title Sfida
    p.txt Le operazioni in formato cartaceo necessitano molto tempo per essere eseguite. Una volta che il cliente ha firmato, l'addetto all'assistenza dovrà nuovamente inserire i dati all'interno del DMS. Oltre a generare un doppio lavoro, questo aspetto potrebbe portare il personale addetto all'assistenza a saltare i processi standard dettati dagli OEM o dai dealer, lasciando potenzialmente esposta la concessionaria. Oltre al lavoro extra e al rischio di non conformità anche i clienti avranno un'esperienza negativa, perché perdono tempo nell'attesa dell'inserimento dati all'interno del DMS.

block se3
    h2.title Soluzione
    p.txt Getac Automotive permette alle officine di eseguire EVHC in modo facile, integrato e senza l'utilizzo di fogli di carta.
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Ispezioni del veicolo al 100% - La piattaforma EVHC di Getac impone che tutti i controlli siano eseguiti in conformità agli standard OEM, garantendo così la tranquillità del cliente e maggiori opportunità di guadagno per il concessionario. 
        li <i class="fas fa-chevron-right"></i> Interfaccia utente rapida e intuitiva - La piattaforma EVHC di Getac semplifica l'intero processo, consentendo di generare corrette tempistiche di lavorazione e di consegna e prendere rapide decisioni. 
        li <i class="fas fa-chevron-right"></i> Si adatta al tuo modo di lavorare - Il nostro software è un sistema operativo agnostico, con un API altamente configurabile e flessibile.
        li <i class="fas fa-chevron-right"></i> Tutto in un'unica schermata - Ottieni una dashboard e una console di gestione di verifica della produttività e il rendimento di un singolo sito o gruppo sia nazionale che internazionale.

block se4
    h2.title Vantaggi
    p.txt La combinazione di software altamente integrato e hardware rugged di Getac Automotive è in grado di offrire una serie di vantaggi per l'officina: 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Passaggio da processi cartacei lenti a un ecosistema di tablet veloce ed efficiente.
        li <i class="fas fa-chevron-right"></i>  Controllo del processo per la verifica dello stato di salute del veicolo
        li <i class="fas fa-chevron-right"></i>  Maggiore visibilità ai tuoi clienti.
        li <i class="fas fa-chevron-right"></i>  Aumento delle parti per ordine di riparazione e ore di manodopera vendute.
        li <i class="fas fa-chevron-right"></i>  Business intelligence che mostra dove è possibile apportare miglioramenti.
        
block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i>  Software EVHC
        li <i class="fas fa-chevron-right"></i>  Absolute 
    br
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i>  Soluzioni di ricarica

block se6 
    - var lang = 'it'