extends ../template/_modal_m_4.pug
block se1
    h2.title Asset Management e Manutenzione
    p.txt Se la tua attività richiede ingenti risorse, è indispensabile massimizzare i benefici combinando un hardware appropriato con soluzioni software interconnesse, così da ottenere il miglior ROI possibile.

block se2
    h2.title Sfida
    p.txt L'ambiente di produzione è sfidante sia per i manager che per gli operatori.
 
    ol.list 
        li <i class="fas fa-chevron-right"></i> La scarsa connettività limita l'accesso all'assistenza da remoto. 
        li <i class="fas fa-chevron-right"></i> Una connettività di rete instabile può interrompere la gestione dell'asset management e rendere difficile la gestione di richiesta di assistenza da remoto 
        li <i class="fas fa-chevron-right"></i> La scarsa prestazione della batteria dei dispositivi può causare tempi di inattività e perdite di produttività
        li <i class="fas fa-chevron-right"></i> Lavorare in ambienti ostili significa avere bisogno di dispositivi professionali e rugged

block se3
    h2.title Soluzione
    p.txt I dispositivi rugged di Getac e il software perfettamente integrato si collegano all’attuale modalità di funzionamento del tuo impianto di produzione, trovando il sistema di migliorare i flussi di lavoro di gestione delle risorse e aumentare la produttività. 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Eseguire la manutenzione predittiva per ridurre i tempi di fermo delle risorse. 
        li <i class="fas fa-chevron-right"></i>  Raccogliere dati in tempo reale per identificare eventi che potrebbero causare problemi in futuro. 
        li <i class="fas fa-chevron-right"></i>  Utilizzare dispositivi rugged che resistono all'ambiente della fabbrica.
        li <i class="fas fa-chevron-right"></i>  La capacità della doppia batteria può durare un intero turno e oltre, riducendo i tempi di fermo del dispositivo.


block se4
    h2.title Vantaggi
    p.txt I principali produttori si affidano a Getac per la fornitura di dispositivi di qualità che combinano hardware robusto con software ottimizzato per eseguire attività di gestione e manutenzione delle risorse. 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i>  I prodotti Getac sono intrinsecamente robusti e costruiti per resistere a tutte le condizioni atmosferiche. 
        li <i class="fas fa-chevron-right"></i>  Offriamo un supporto tecnico completo sul campo per aree che includono integrazione del sistema e test di compatibilità, sviluppo di soluzioni di docking, imaging software e assistenza post-vendita. 
        li <i class="fas fa-chevron-right"></i>  I nostri prodotti sono considerati affidabili dai principali produttori mondiali. 
        li <i class="fas fa-chevron-right"></i>  Offriamo la migliore garanzia del settore per un minimo di tre anni, inclusi i danni accidentali.

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
        li <i class="fas fa-chevron-right"></i> T800, T800-EX
        li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
        li <i class="fas fa-chevron-right"></i> F110, F110-EX
        li <i class="fas fa-chevron-right"></i> K120, K120-EX
        li <i class="fas fa-chevron-right"></i> A140
        li <i class="fas fa-chevron-right"></i> B360

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i>  Soluzioni di docking
        li <i class="fas fa-chevron-right"></i>  Soluzioni di ricarica
        li <i class="fas fa-chevron-right"></i>  Tastiere


block se6 
    - var lang = 'it'