extends ../template/_modal_m_2.pug
block se1
    h2.title Controllo qualità
    p.txt Un ciclo di produzione senza intoppi si basa su macchinari e processi efficienti. Nel settore automotive, ci sono in tutto il mondo oltre 550 impianti di produzione, che rappresentano 60 brand di 14 aziende multinazionali: tutti cercano di trarre vantaggio dalla tecnologia Industry 4.0 per incrementare l'efficienza, ridurre i costi e migliorare la customer satisfaction.

block se2
    h2.title Sfida
    p.txt Sia che si tratti di Six Sigma, TQM o Lean Production, i sistemi di controllo qualità sono pieni di variabili. Queste variabili come l'analisi dei guasti, i test di accettazione, le ispezioni tecniche, la certificazione e l'ispezione delle parti per-assemblate possono essere digitalizzate. 
 
    p.txt Per digitalizzare in modo adeguato avete bisogno di una soluzione che: 
    ol.list 
        li <i class="fas fa-chevron-right"></i> gestisca un enorme quantità di dati
        li <i class="fas fa-chevron-right"></i> sia rugged per supportare le operazioni in modalità mobile
        li <i class="fas fa-chevron-right"></i> memorizzi i guasti passati, analizzi la causa principale di guasto e suggerisca la relativa misura correttiva 
        li <i class="fas fa-chevron-right"></i> garantisca un funzionamento ottimale, continuativo e fruibile in tempo reale da tutti i membri del team
        

block se3
    h2.title Soluzione
    p.txt L’hardware rugged mobile di Getac e il software possono diventare il fulcro delle tue operazioni di controllo qualità.

    p.txt I nostri dispositivi sono considerati affidabili dai principali produttori perché: 
    ol.list
        li <i class="fas fa-chevron-right"></i> Si integrano perfettamente con il tuo attuale software ERP. 
        li <i class="fas fa-chevron-right"></i> Resistono agli ambienti difficili dell'officina grazie alla loro struttura robusta.
        li <i class="fas fa-chevron-right"></i> Acquisiscono tutti gli input di più utenti che sono quindi disponibili su tutti i dispositivi mobili interconnessi.

block se4
    h2.title Vantaggi
    p.txt I principali produttori si affidano a Getac per fornire soluzioni di controllo della qualità che uniscono hardware robusto con software ottimizzato. 

    ol.list 
        li <i class="fas fa-chevron-right"></i> I prodotti Getac sono intrinsecamente robusti e costruiti per resistere a tutte le condizioni atmosferiche. 
        li <i class="fas fa-chevron-right"></i> Offriamo un supporto tecnico completo sul campo per aree che includono integrazione del sistema e test di compatibilità, sviluppo di soluzioni di docking, imaging software e assistenza post-vendita. 
        li <i class="fas fa-chevron-right"></i> I nostri prodotti sono considerati affidabili dai principali produttori mondiali. 
        li <i class="fas fa-chevron-right"></i> Offriamo la migliore garanzia del settore per un minimo di tre anni, inclusi i danni accidentali.

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> K120
        li <i class="fas fa-chevron-right"></i> V110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i> Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i> Soluzioni di docking
        li <i class="fas fa-chevron-right"></i> Soluzioni di ricarica
        li <i class="fas fa-chevron-right"></i> Tastiere


block se6 
    - var lang = 'it'