extends ../template/_modal_rd_2.pug
block se1
    h2.title Condizioni estreme e test ambientali
    p.txt Gli autoveicoli moderni devono resistere in condizioni estreme - sia che si tratti di una strada ghiacciata che un ambiente subcontinentale caldo e umido. Per eseguire dei test approfonditi in queste condizioni, è necessario disporre di un dispositivo che possa resistere a queste sfide.

block se2
    h2.title Sfida
    p.txt Non tutti i dispositivi sono in grado di funzionare in condizioni difficili - semplicemente perché non sono stati progettati all'origine per essere rugged oppure perché devono essere riposti in una custodia per evitare danni. Alta umidità, basse temperature, calore rovente - ognuno ha le sue sfide, per non parlare poi del rischio di cadute, urti o danni in laboratorio.

block se3
    h2.title Soluzione
    p.txt Getac è il dispositivo scelto da diversi OEM per essere portato sul campo, connettersi con dispositivi di misurazione e funzionare come dispositivo di acquisizione dati. Progettato per funzionare a temperature rigide ed estreme, sopportare alti livelli di vibrazioni, garantendo che non vi siano costose interruzioni, sostituzione del dispositivo o la necessità di ripetere il test.

block se4
    h2.title Vantaggi
    p.txt I nostri dispositivi compatti e robusti hanno una serie di caratteristiche che li rendono perfettamente adatti a qualsiasi ambiente: 
 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  La struttura robusta riguarda ogni livello dei nostri dispositivi.
        li <i class="fas fa-chevron-right"></i>  Processori veloci e potenti consentono un lavoro rapido e calcoli per ottenere i dati più precisi. 
        li <i class="fas fa-chevron-right"></i>  L'elevata facilità d'uso e la familiarità del dispositivo garantiscono un'operatività ininterrotta da parte di tutti i membri del team. 
        li <i class="fas fa-chevron-right"></i>  Una gamma di configurazioni e accessori consente di modulare i nostri dispositivi per adattarsi a qualsiasi attività o ambiente.
    

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i>  Soluzioni di docking
        li <i class="fas fa-chevron-right"></i>  Soluzioni di ricarica
        li <i class="fas fa-chevron-right"></i>  Tastiere

block se6 
    - var lang = 'it'