extends ../template/_modal_work_6.pug
block se1
    h2.title Pianificazione intelligente
    p.txt Digitalizzando le tue schede di lavoro connettendole ad altri sistemi di gestione dell'officina, come per esempio il DMS, ricambistica e reparto tecnico, è possibile guadagnare il 10% in efficienza e risparmiare per ogni tecnico 12 ore al mese di lavoro, rispetto al governo dei flussi di lavoro in modalità manuale e cartacea.

block se2
    h2.title Sfida
    p.txt I tecnici spesso perdono tempo per localizzare i veicoli all'interno del parcheggio, un aspetto che potrebbe richiedere fino a 10 minuti per ogni scheda di lavoro. Per un'officina di medie dimensioni (10 postazioni di servizio) significa un'aggiunta di 146 ore di tempo improduttivo ogni mese. Inoltre, i tecnici che timbrano le schede di lavoro possono perdere fino a 12 ore al mese, tempo non sprecato in caso di sistemi di timbratura centralizzati.

block se3
    h2.title Soluzione
    p.txt Getac Automotive è una soluzione hardware e software rugged integrata, per creare un'officina più intelligente e un'assistenza post-vendita ottimizzata. 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Senza carta - Digitalizza i flussi di lavoro basati su carta con ordini di riparazione in modalità digitale, che prevedono la ripartizione delle attività, un time-clocking, messaggistica interna, collegamento diretto ai ricambi e alle informazioni tecniche (just in time e real time) 
        li <i class="fas fa-chevron-right"></i> Grazie alla tecnologia di prossimità unita al tablet Getac utilizzato dai tecnici, l'operatore sarà in grado di localizzare rapidamente l'autoveicolo posizionato all'interno di un piazzale affollato.

block se4
    h2.title Vantaggi
    p.txt Le officine più smart offrono servizi post-vendita ottimizzati, ecco perché abbiamo combinato l’hardware rugged con un software di pianificazione altamente integrato in un'unica piattaforma. 

    ol.list 
        li <i class="fas fa-chevron-right"></i> Il tablet Getac è un'unica piattaforma mobile per le operazioni di riparazione, time-clocking, dati tecnici e diagnostica. 
        li <i class="fas fa-chevron-right"></i> Migliora la conformità con una migliore visibilità del processo con sistema non cartaceo in tempo reale.
        li <i class="fas fa-chevron-right"></i> Si collega alla tua officina tramite un'API aperta indipendente dal sistema operativo.
        li <i class="fas fa-chevron-right"></i> La nostra metodologia ""Just in time"" offre maggiore praticità ed efficienza. 
        li <i class="fas fa-chevron-right"></i> Invita il personale a essere produttivo e assumere un numero maggiore di lavori redditizi con tempi di inattività molto inferiori.

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Software di pianificazione
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i>  Soluzioni di ricarica
block se6 
    - var lang = 'it'