extends ../template/_modal_warehouse_1.pug
block se1
    h2.title Inventario e gestione del magazzino
    p.txt Un magazzino all'avanguardia è fondamentale per assicurare efficienza operativa all'interno di un processo produttivo, dalla gestione della movimentazione dei componenti, della merce in arrivo fino al prodotto finale in uscita.

block se2
    h2.title Sfida
    p.txt Per controllare le proprie scorte, molti magazzini utilizzano un Warehouse Management System (WMS), per raggiungere l'efficienza e ridurre i costi molti si stanno orientando verso un sistema automatizzato. E' necessario disporre di dispositivi che possano supportare questa innovazione.
 
    p.txt I dispositivi di magazzino all'avanguardia devono essere in grado di: 
    ol.list 
        li <i class="fas fa-chevron-right"></i> Registrare, acquisire e gestire il flusso dell'inventario. 
        li <i class="fas fa-chevron-right"></i> Eseguire l'elaborazione degli ordini, le attività di picking/imballaggio e governare le operazioni di carico e scarico. 
        li <i class="fas fa-chevron-right"></i> Automatizzare un sistema di handling delle merci in grado di interagire sia con l'uomo che con i robot - Integrare i sistemi di stoccaggio e recupero automatico e i veicoli a guida automatica. 
        li <i class="fas fa-chevron-right"></i> Funzionare con codici a barre o lettori RFID. 
        li <i class="fas fa-chevron-right"></i> Supportare gli operatori in mobile per facilitare operazioni integrate. 
        li <i class="fas fa-chevron-right"></i> Resistere al difficile ambiente di una fabbrica"
 
block se3
    h2.title Soluzione
    p.txt La soluzione Getac per l'inventario e la gestione del magazzino si integra perfettamente con i principali software di gestione dell'inventario, ERP e WMS. I nostri dispositivi rugged hanno sia la potenza di calcolo che la struttura robusta necessarie per lavorare bene, fornendo la piattaforma ideale per l'inventario e la gestione del magazzino.

block se4
    h2.title Vantaggi
    p.txt Le nostre soluzioni rugged resistono alla prova del difficile ambiente di magazzino, fornendo una gamma di funzionalità che possono aiutarti a monitorare e gestire l'inventario. 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Le soluzioni Getac possono collegarsi direttamente ai sistemi di gestione del magazzino, migliorando l'efficienza operativa grazie all’ottimizzazione delle risorse di manodopera disponibili. 
        li <i class="fas fa-chevron-right"></i> I nostri tablet rugged possono essere utilizzati con una sola mano avvalendosi della penna con modalità digitalizzatore opzionale. 
        li <i class="fas fa-chevron-right"></i> Le telecamere integrate rendono superflue le descrizioni verbali, facilitando la conservazione e il trasferimento dei dati. 
        li <i class="fas fa-chevron-right"></i> I nostri dispositivi offrono opzioni di lettori di codici a barre 1D e 2D per aiutare le operazioni di magazzino a funzionare senza imprevisti. 
        li <i class="fas fa-chevron-right"></i> Con una gamma di supporti, dock e altri accessori, i nostri dispositivi sono completamente configurabili, sia che siano montati su un carrello elevatore o con opzioni di trasporto a mani libere.

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System• KeyWedge Barcode Reader Utility Getac
        li <i class="fas fa-chevron-right"></i> Driving Safety Utility Getac 
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i>  Soluzioni di docking
        li <i class="fas fa-chevron-right"></i>  Soluzioni di ricarica
        li <i class="fas fa-chevron-right"></i>  Router e antenne
        li <i class="fas fa-chevron-right"></i>  Tastiere

block se6 
    - var lang = 'it'