extends ../template/_modal_m_1.pug
block se1
    h2.title Officina e produzione
    p.txt L'ambiente dell'officina è molto sfidante: macchinari pesanti e elevati livelli di vibrazioni devono essere associati a soluzioni software sofisticate.

block se2
    h2.title Sfida
    p.txt A parte i fattori ambientali, l'officina è un punto di smistamento di altre funzioni come l'approvvigionamento dei materiali, la gestione delle scorte, la disponibilità dei pezzi di ricambio e la programmazione della forza lavoro.

block se3
    h2.title Soluzione
    p.txt I dispositivi Getac sono sufficientemente robusti da resistere a qualsiasi ambiente, compresa la tua officina. Hanno una serie di vantaggi chiave che rendono la gestione di un'officina più semplice, fluida e intelligente: 

    ol.list
        li <i class="fas fa-chevron-right"></i> Monitoraggio delle prestazioni mobile per il tracciamento della produzione in tempo reale. 
        li <i class="fas fa-chevron-right"></i> Integrazione con il software WMS per un’interoperabilità senza interruzioni. 
        li <i class="fas fa-chevron-right"></i> Schermi di facile lettura e facilità d'uso per l'acquisizione dei dati in ambienti estremi.

block se4
    h2.title Vantaggi
    p.txt I principali produttori si affidano a Getac per fornire dispositivi di qualità che combinano hardware robusto con software ottimizzato per le sfide dell'officina. 

    ol.list 
        li <i class="fas fa-chevron-right"></i> I prodotti Getac sono intrinsecamente robusti e costruiti per resistere alle condizioni più difficili. 
        li <i class="fas fa-chevron-right"></i> Offriamo un’assistenza tecnica completa sul campo in vari ambiti, tra cui integrazione di sistemi e test di compatibilità, sviluppo di soluzioni di docking, imaging software e assistenza post-vendita
        li <i class="fas fa-chevron-right"></i> I nostri prodotti sono considerati affidabili dai principali produttori mondiali. 
        li <i class="fas fa-chevron-right"></i> Ottieni la migliore garanzia del settore per un minimo di tre anni, inclusi i danni accidentali.
        

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
        li <i class="fas fa-chevron-right"></i> T800, T800-EX
        li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
        li <i class="fas fa-chevron-right"></i> F110, F110-EX 
        li <i class="fas fa-chevron-right"></i> K120, K120-EX
        li <i class="fas fa-chevron-right"></i> A140
        li <i class="fas fa-chevron-right"></i> B360

    br
    br

    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i>  KeyWedge Barcode Reader Utility Getac
        li <i class="fas fa-chevron-right"></i>  Absolute
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i> Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i> Soluzioni di docking
        li <i class="fas fa-chevron-right"></i> Soluzioni di ricarica
        li <i class="fas fa-chevron-right"></i> Tastiere


block se6 
    - var lang = 'it'