extends ../template/_modal_work_3.pug
block se1
    h2.title EVHC
    p.txt In media, nella fattura del cliente vengono addebitati 35 dollari per ogni rapporto di EHVC eseguito su un veicolo. Non deve sorprendere che produttori e rete di concessionarie vogliano eseguire il controllo multipunto mentre il tecnico ha il veicolo sulla rampa e con le ruote staccate da terra. Digitalizzare questo processo significa non tralasciare nessun aspetto e aggiornare i clienti in tempo reale. Il rapporto di conversione può aumentare fino al 70%, grazie agli elementi identificativi di colore rosso e ambra.

block se2
    h2.title Sfida
    p.txt Quando il veicolo è posizionato sulla rampa, il tecnico esegue un'accurata ispezione multipunto. Tradizionalmente viene fatta su una foglio di controllo cartaceo, tutti gli elementi identificati vengono registrati e aggiornati all'interno del DMS. In questo modo, il tecnico potrebbe saltare l'ispezione completa e controllare solo gli elementi che ritiene necessario. E' un processo che richiede tempo, senza trasparenza per il cliente, perché privo di immagini o video.

block se3
    h2.title Soluzione
    p.txt Getac Automotive permette alle officine la possibilità di eseguire EVHC in modo facile, integrato e senza l'utilizzo della carta.

    ol.list
        li <i class="fas fa-chevron-right"></i>  Officine senza fogli di carta - Digitalizzare le verifiche effettuate in modalità cartacea, permette al tecnico di acquisire foto, video e commenti che possono essere trasmessi al cliente in una mail di follow-up.
        li <i class="fas fa-chevron-right"></i>  Applicazione nativa 
        li <i class="fas fa-chevron-right"></i>  Capacità online / offline
        li <i class="fas fa-chevron-right"></i>  Accesso al sistema per utenti autorizzati
        li <i class="fas fa-chevron-right"></i>  Video integrati

block se4
    h2.title Vantaggi
    p.txt La combinazione di software altamente integrato e hardware rugged di Getac Automotive è in grado di offrire una serie di vantaggi per l'officina: 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i>  Passaggio dalla carta al tablet
        li <i class="fas fa-chevron-right"></i>  Nessuna doppia digitazione
        li <i class="fas fa-chevron-right"></i>  Fidelizzazione con un'esperienza digitale trasparente
        li <i class="fas fa-chevron-right"></i>  Adempimento più facile al tuo dovere di assistenza al cliente
        li <i class="fas fa-chevron-right"></i>  Maggiori controlli dello stato di salute significano più produttività, clienti più sicuri e migliori tassi di fidelizzazione

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i>  Software EVHC
        li <i class="fas fa-chevron-right"></i>  Absolute

    br
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i>  Soluzioni di ricarica
        
block se6 
    - var lang = 'it'