extends ../template/_modal_work_5.pug
block se1
    h2.title Pubblicazioni tecniche digitali
    p.txt Il parco circolante di auto su strada sta invecchiando - negli Stati Uniti è di circa 11,8 anni, in Germania 9,8 e in Russia 13 anni - di conseguenza, la manutenzione dei veicoli circolanti richiederà maggiori investimenti per la manutenzione. Ciò significa poter accedere in modo costante alle informazioni dettagliate rilasciate dagli OEM, per la riparazione e la manutenzione.

block se2
    h2.title Sfida
    p.txt Il diritto alla riparazione è un argomento scottante all'interno di numerose aziende, compresa quella automobilistica. Gli OEM hanno la responsabilità di fornire i pezzi di ricambio e tutte le informazioni tecniche al proprio network, ai clienti e alle officine di riparazione indipendenti , sia attraverso i portali tecnici e i siti web dei concessionari in franchising, che tramite servizi di abbonamento online per l'aftermarket indipendente.

block se3
    h2.title Soluzione
    p.txt Getac Automotive fornisce dettagli sul codice del veicolo, informazioni relative alle non-emissioni, riprogrammazione o flashing per tutte le marche e modelli, direttamente sul dispositivo rugged del tecnico, migliorando la manutenzione del veicolo e l'efficienza di riparazione, per garantire sessioni ininterrotte.

block se4
    h2.title Vantaggi
    p.txt Getac Automotive è l'officina di fiducia e lo strumento diagnostico preferito dagli OEM di tutto il mondo.

    p.txt Con la soluzione ottimizzata di Getac ottieni dispositivi in grado di: 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Diventare l'unica piattaforma per le operazioni di riparazione, time-clocking, dati tecnici e diagnostica. 
        li <i class="fas fa-chevron-right"></i>  Connettersi con WWAN per piattaforme tecniche dell’OEM basate su cloud OEM quando sei sul campo o hai scarse capacità WLAN.
        li <i class="fas fa-chevron-right"></i>  Informazioni tecniche riservate protette con funzioni opzionali di Getac come RFID, monitoraggio dei dispositivi e autenticazione a più fattori.
        li <i class="fas fa-chevron-right"></i>  Affrontare qualsiasi attività in officina con una struttura robusta e un software perfettamente integrato.

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i>  Soluzioni di ricarica

block se6 
    - var lang = 'it'