extends ../template/_modal_m_3.pug
block se1
    h2.title Consegna e trasporto
    p.txt Consegna e trasporto delle merci sono soggetti a standard rigorosi che devono essere rispettati. Al di là di questi aspetti, il flusso di lavoro in modalità cartacea può generare scarsa visibilità all'interno della supply chain.

block se2
    h2.title Sfida
    p.txt Il settori trasporto e logistica deve affrontare numerose sfide, che devono essere vinte per avere clienti soddisfatti ed eseguire consegne puntuali e gestire attività direttamente su strada. 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  La documentazione cartacea può rappresentare un potenziale problema in caso di documenti persi o danneggiati. 
        li <i class="fas fa-chevron-right"></i>  I clienti si aspettano che la merce sia consegnata velocemente, di conseguenza i tempi di consegna stanno diventando sempre più stretti
        li <i class="fas fa-chevron-right"></i>  Frodi e furti continuano ad essere un problema, un sistema scollegato è un attrattiva per coloro che hanno cattive intenzioni.
        

block se3
    h2.title Soluzione
    p.txt Le soluzioni software perfettamente connesse di Getac Automotive sono fornite sui nostri riconosciuti dispositivi rugged, in modo che non ci siano operazioni troppo difficili da compiere. 
 

    ol.list
        li <i class="fas fa-chevron-right"></i>  Aumenta l'efficienza, identifica opportunità di consolidamento e riduzione dei costi con il nostro software intelligente. 
        li <i class="fas fa-chevron-right"></i>  Ottimizza la pianificazione del percorso del conducente. 
        li <i class="fas fa-chevron-right"></i>  Ottieni un'unica piattaforma che si connette ai tuoi sistemi esistenti per semplificare le operazioni e familiarizzare con i dispositivi per tutta la tua forza lavoro. 
        li <i class="fas fa-chevron-right"></i>  Raccogli dati in tempo reale e rendili disponibili su tutti i dispositivi per più dipendenti e punti di contatto.


block se4
    h2.title Vantaggi
    p.txt I principali produttori si affidano a Getac per fornire dispositivi di qualità che combinano hardware robusto con software ottimizzato per il trasporto e la consegna. 
 

    ol.list
        li <i class="fas fa-chevron-right"></i>  I prodotti Getac sono intrinsecamente robusti e costruiti per resistere a tutte le condizioni atmosferiche. 
        li <i class="fas fa-chevron-right"></i>  Offriamo un supporto tecnico completo sul campo per aree che includono integrazione del sistema e test di compatibilità, sviluppo di soluzioni di docking, imaging software e assistenza post-vendita. 
        li <i class="fas fa-chevron-right"></i>  I nostri prodotti sono considerati affidabili dai principali produttori mondiali. 
        li <i class="fas fa-chevron-right"></i>  Offriamo la migliore garanzia del settore per un minimo di tre anni, inclusi i danni accidentali.

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility
        li <i class="fas fa-chevron-right"></i> Getac Driving Safety Utility
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i> Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i> Soluzioni di docking
        li <i class="fas fa-chevron-right"></i> Soluzioni di ricarica
        li <i class="fas fa-chevron-right"></i> Tastiere

block se6 
    - var lang = 'it'