extends ../template/_modal_work_4.pug
block se1
    h2.title officina basata su PC
    p.txt Lo sapevi che ci sono tra 60 e 100 unità di controllo elettronico su un moderno autoveicolo? Ognuna richiede un controllo approfondito, che deve essere aggiornato di continuo. Alcuni aggiornamenti avvengono via etere, ma altri devono essere fatti di persona da un tecnico di diagnostica.

block se2
    h2.title Sfida
    p.txt Il controllo della diagnostica completo di un veicolo può richiedere da 1 a 3 ore e se la vostra officina tratta prodotti di più OEM, avete bisogno di una soluzione sempre aggiornata e che supporti l'ambiente ostile e frenetico dell'officina.

block se3
    h2.title Soluzione
    p.txt Getac Automotive ti aiuta a recuperare il tempo perso e a massimizzare quello del tuo tecnico con un hardware rugged e un software altamente integrato. 
 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> I nostri tablet si collegano rapidamente al veicolo tramite WLAN integrata o Giga-bit Ethernet.
        li <i class="fas fa-chevron-right"></i> La diagnostica basata su PC di Getac considera tutti gli aspetti del processo diagnostico e garantisce una visualizzazione ottimale.
        li <i class="fas fa-chevron-right"></i> L'utilizzo di una tecnologia mobile rugged consente di dedicare più tempo al lavoro sul veicolo senza essere vincolati a un banco di lavoro.
 
block se4
    h2.title Vantaggi
    p.txt I dispositivi Getac sono lo strumento ottimale sia per le officine dei concessionari che per i tecnici che si muovono.

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Connettività senza cavi: i nostri dispositivi si collegano direttamente al veicolo, al VCI e ai sistemi informatici dell'officina con dual WLAN e Bluetooth. 
        li <i class="fas fa-chevron-right"></i>  Soluzione rugged come servizio: sono disponibili modelli su abbonamento, per suddividere l'investimento e approfittare di un forte ROI. 
        li <i class="fas fa-chevron-right"></i>  Certificazione e supporto globali: i dispositivi Getac sono certificati per l'utilizzo a livello mondiale, attualmente supportano i principali programmi degli OEM e sono potenziati dal nostro eccellente servizio di assistenza. 
        li <i class="fas fa-chevron-right"></i>  Dimensione dello schermo ottimale: le dimensioni dello schermo più grandi consentono agli utenti di visualizzare facilmente la registrazione dei dati, le pubblicazioni tecniche, gli schemi elettrici e le informazioni all’interno delle schede di lavoro

block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Sistema di monitoraggio dei dispositivi Getac
        li <i class="fas fa-chevron-right"></i>  Assoluto
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i>  Soluzioni di docking
        li <i class="fas fa-chevron-right"></i>  Soluzioni di ricarica
        li <i class="fas fa-chevron-right"></i>  Tastiere

block se6 
    - var lang = 'it'