extends ../template/_modal_rd_1.pug
block se1
    h2.title Convalida e Test
    p.txt I veicoli di oggi sono sempre più sofisticati, con computer di bordo, alimentazione elettrica e architetture complesse. Ogni aspetto del veicolo deve essere accuratamente testato e convalidato prima della fase produttiva - ciò significa che gli ingegneri necessitano di dispositivi in grado di funzionare in tandem con sistemi complessi.

block se2
    h2.title Sfida
    p.txt I test non solo mettono a dura prova i veicoli, ma anche i dispositivi utilizzati per eseguire controlli, scansioni e tarature. Dai test effettuati in condizioni climatiche estreme, agli urti, fino ai colpi e alle cadute nel laboratorio di prova, i dispositivi devono essere in grado di supportare gli ingegneri con un software molto preciso che non dia problemi in grado di interfacciarsi con strumenti complessi e resistere all'ambiente ostile.

block se3
    h2.title Soluzione
    p.txt I dispositivi rugged di Getac sono perfettamente adatti al laboratorio di prova e sono stati utilizzati per supportare più progetti di ricerca e sviluppo. 
 

    ol.list
        li <i class="fas fa-chevron-right"></i>  Pronti per le condizioni climatiche più estreme: i dispositivi Getac sono certificati per funzionare in caso di pioggia, polvere, urti, vibrazioni e resistere a temperature estremamente alte e basse. 
        li <i class="fas fa-chevron-right"></i>  Porte specializzate: i nostri dispositivi sono dotati di porte che supportano un'ampia gamma di strumenti di calibrazione, misurazione e specifici del settore. 
        li <i class="fas fa-chevron-right"></i>  Sicuri: proteggi i tuoi dati sensibili con la sicurezza biometrica e il controllo completo dei tuoi dispositivi. 
        li <i class="fas fa-chevron-right"></i>  Versatili: l'hardware rugged funziona in combinazione con il software di progettazione del produttore per eseguire la scansione, la catalogazione e la programmazione della ECU senza interruzioni.
 

block se4
    h2.title Vantaggi
    p.txt Il laboratorio di prova è una parte fondamentale del viaggio che un veicolo compie dall'ideazione alla produzione. È un luogo in cui hai bisogno di dispositivi robusti e pienamente affidabili: ecco perché abbiamo creato la nostra gamma di dispositivi per le attività di ricerca e sviluppo.
 
    ol.list 
        li <i class="fas fa-chevron-right"></i> Connettività senza cavi: collegati direttamente al veicolo, al VCI e all'infrastruttura R&S tramite doppia WLAN veloce e Bluetooth. 
        li <i class="fas fa-chevron-right"></i> Certificazione e assistenza globali: i nostri dispositivi sono utilizzati dai principali OEM, sono certificati per l'uso a livello globale e seguiti dal nostro eccellente servizio di assistenza. 
        li <i class="fas fa-chevron-right"></i> Dimensioni dello schermo ottimizzate: indipendentemente dalle esigenze, la nostra vasta gamma di dispositivi dispone di schermi di grandi dimensioni per supportare attività come dati di test, test della batteria termica e prototipazione 3D. 
        li <i class="fas fa-chevron-right"></i> Connettività flessibile: le nostre opzioni di porte configurabili funzionano con i principali dispositivi di test e misurazione del settore.


block se5
    h2.title Dispositivo Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accessori:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluzioni di trasporto
        li <i class="fas fa-chevron-right"></i>  Soluzioni di docking
        li <i class="fas fa-chevron-right"></i>  Soluzioni di ricarica
        li <i class="fas fa-chevron-right"></i>  Tastiere

block se6 
    - var lang = 'it'