extends ../template/_modal_work_6.pug
block se1
    h2.title Planification intelligente
    p.txt En numérisant vos fiches de travail et en vous connectant à d'autres systèmes d'atelier, tels que le DMS, les pièces de rechange et les informations techniques, vous pouvez gagner 10 % d’efficacité et 12 heures par mois et par technicien par rapport aux flux de travail manuels et papier.
block se2
    h2.title Défi
    p.txt Les techniciens perdent généralement du temps à localiser les véhicules sur le parking, et cette opération peut prendre jusqu’à 10 minutes par entretien à réaliser. Pour une taille moyenne d’atelier (10 aires de service) sur un mois, ce chiffre peut s’élever à 146 heures de temps de non-productivité. En outre, si vos techniciens doivent chronométrer le temps passé sur chaque fiche d’entretien, puis accéder à chaque fois au système de pointage centralisé, le temps perdu peut atteindre les 12 heures par mois.

block se3
    h2.title Solution
    p.txt Getac Automobile propose des solutions matérielles renforcées et des logiciels parfaitement intégrés qui vous permettent de gérer votre atelier de manière plus intelligente et d’optimiser votre service après-vente. 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Une solution informatisée – Numérisez vos flux de travail papier en mettant en place des demandes de réparation numériques qui intègrent l’attribution des tâches, le pointage, une messagerie interne et un lien direct pour accéder aux pièces de rechange et informations techniques (juste dans les temps et en temps réel). 
        li <i class="fas fa-chevron-right"></i> Grâce à la technologie de proximité et à la tablette Getac conçue pour les techniciens, ceux-ci seront en mesure de rapidement localiser un véhicule, même sur une avant-cour bondée.

block se4
    h2.title Avantages
    p.txt Les ateliers les plus intelligents offrent un service après-vente optimisé. C’est la raison pour laquelle nous avons combiné des solutions matérielles renforcées à un logiciel de planification entièrement intégré au sein d’une seule et même plateforme. 
    
    ol.list 
        li <i class="fas fa-chevron-right"></i> Votre tablette Getac permet dans sur une seule et même plateforme mobile de gérer les tâches de réparation, le pointage, les données techniques et les diagnostics. 
        li <i class="fas fa-chevron-right"></i> Améliorez votre mise en conformité grâce à une meilleure visibilité en temps réel sur vos processus informatisés.
        li <i class="fas fa-chevron-right"></i> Connexion à votre atelier via une Open API qui est agnostique en termes de système d’exploitation.
        li <i class="fas fa-chevron-right"></i> Notre méthodologie « Juste dans les temps » offre une efficacité renforcée et une commodité accrue. 
        li <i class="fas fa-chevron-right"></i> Optimisez la productivité de votre personnel et augmentez votre chiffre d’affaires en réduisant les périodes d’inactivité.


block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Planning Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i>  Solutions de transport 
        li <i class="fas fa-chevron-right"></i>  Solutions de recharge
        
block se6 
    - var lang = 'fr'