extends ../template/_modal_rd_2.pug
block se1
    h2.title Conditions extrêmes et essais environnementaux
    p.txt Les véhicules modernes doivent pouvoir résister à des conditions extrêmes, qu’il s’agisse d’une route gelée ou d’un climat subcontinental chaud et humide. Pour les tester dans de telles conditions, vous avez besoin d’un appareil qui puisse résister aux mêmes situations.
block se2
    h2.title Défi
    p.txt Tous les appareils ne sont pas capables de résister à des conditions difficiles. Ils peuvent tout simplement ne pas avoir été conçus pour ou doivent être équipés d'un accessoire pour ne pas les endommager. Fort taux d’humidité, températures basses, chaleur caniculaire : toutes ces conditions comportent leur lot de défis, sans mentionner le risque de chutes, coups ou dommages occasionnés en laboratoire.

block se3
    h2.title Solution
    p.txt Getac propose des appareils pour plusieurs équipementiers parfaitement adaptés pour le terrain qui peuvent être connectés à d’autres appareils de mesure et être utilisés comme appareil d’acquisition de données. Ils sont conçus pour fonctionner dans des conditions difficiles et des températures extrêmes, supporter des niveaux élevés de vibration, éviter les interruptions coûteuses, les remplacements d’appareils ou le besoin de refaire un test.

block se4
    h2.title Avantages
    p.txt Nos appareils compacts et renforcés intègrent de nombreuses fonctionnalités qui les rendent parfaitement adaptés à n’importe quel environnement : 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  La construction renforcée protège vos appareils à tous les niveaux.
        li <i class="fas fa-chevron-right"></i>  Les processeurs rapides et puissants permettent de calculer rapidement des données les plus précises possible. 
        li <i class="fas fa-chevron-right"></i>  La simplicité de fonctionnement de l’appareil assure une utilisation fluide par tous les membres de votre équipe. 
        li <i class="fas fa-chevron-right"></i>  Grâce à une vaste gamme de configurations et d’accessoires, vous pouvez adapter vos appareils à n’importe quelle tâche ou environnement.
        

block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i>  Solutions de transport 
        li <i class="fas fa-chevron-right"></i>  Solutions de station d’accueil 
        li <i class="fas fa-chevron-right"></i>  Solutions de recharge 
        li <i class="fas fa-chevron-right"></i>  Claviers

block se6 
    - var lang = 'fr'