extends ../template/_modal_warehouse_1.pug
block se1
    h2.title Gestion des stocks et de l’entrepôt
    p.txt L’entrepôt de fabrication moderne permet d’assurer l’efficacité opérationnelle du processus de fabrication : de la gestion du mouvement des pièces des marchandises entrantes au produit final sortant.
block se2
    h2.title Défi
    p.txt De nombreux entrepôts utilisent un système de gestion de l’entrepôt (Warehouse Management System, WMS) pour vérifier leurs niveaux de stocks, et beaucoup se tournent vers l’automatisation pour améliorer leur efficacité et réduire leurs coûts. Mais pour ce faire, vous avez besoin d’appareils capables de rivaliser avec un tel niveau de sophistication. 
 
    p.txt  Les appareils des entrepôts modernes doivent être capables :
    ol.list 
        li <i class="fas fa-chevron-right"></i> De capturer, enregistrer et gérer les stocks. 
        li <i class="fas fa-chevron-right"></i> De traiter les commandes, de la préparer et de les emballer, et d’effectuer des tâches de chargement et de déchargement. 
        li <i class="fas fa-chevron-right"></i> D’automatiser la manutention du matériel dans les espaces où des humains et robots travaillent. 
        li <i class="fas fa-chevron-right"></i> De s’intégrer aux systèmes de récupération et de stockage automatisés, aux véhicules guidés automatisés. 
        li <i class="fas fa-chevron-right"></i> De fonctionner avec des lecteurs de codes-barres ou RFID. 
        li <i class="fas fa-chevron-right"></i> D’être emportés sur le terrain pour effectuer des opérations entièrement intégrées. 
        li <i class="fas fa-chevron-right"></i> De résister aux environnements et tâches d’usine difficiles.

block se3
    h2.title Solution
    p.txt La solution Getac pour la gestion des stocks et de l’entrepôt s’intègre parfaitement aux principaux logiciels de gestion des stocks, ERP et WMS. Nos appareils renforcés sont tous dotés de la puissance de calcul et de la construction renforcée requises pour vous permettre de travailler facilement et de bénéficier ainsi de la plateforme idéale pour gérer vos stocks et votre entrepôt.


block se4
    h2.title Avantages
    p.txt Nos solutions renforcées résistent aux environnements d’entrepôt les plus difficiles et intègrent une gamme de fonctionnalités qui vous permet de suivre et de gérer vos stocks. 
    ol.list 
        li <i class="fas fa-chevron-right"></i>Les solutions Getac peuvent être connectées directement aux systèmes de gestion de votre entrepôt, vous permettant ainsi d’améliorer l’efficacité de vos opérations en optimisant la disponibilité de vos ressources en main-d’œuvre. 
        li <i class="fas fa-chevron-right"></i>Nos différentes tablettes renforcées peuvent être utilisées d’une seule main à l’aide du stylet fourni en option. 
        li <i class="fas fa-chevron-right"></i>Avec les caméras intégrées, les descriptions verbales deviennent redondantes, et la conservation et le transfert de données s’en trouvent renforcés. 
        li <i class="fas fa-chevron-right"></i>Nos appareils offrent des options de lecteur de codes-barres en 1D et 2D pour vous aider à gérer sans accrocs les opérations de votre entrepôt. 
        li <i class="fas fa-chevron-right"></i>Grâce à une gamme de supports, stations d’accueil et autres accessoires, vous pouvez entièrement configurer vos appareils, que vous souhaitiez monter un appareil sur un chariot élévateur ou disposer d’options mains libres pour le transport.


block se5
    h2.title Solutions Getac
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility
        li <i class="fas fa-chevron-right"></i> Getac Driving Safety Utility
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i> Solutions de transport 
        li <i class="fas fa-chevron-right"></i> Solutions de station d’accueil 
        li <i class="fas fa-chevron-right"></i> Solutions de recharge 
        li <i class="fas fa-chevron-right"></i> Routeurs et antennes 
        li <i class="fas fa-chevron-right"></i> Claviers

block se6 
    - var lang = 'fr'