extends ../template/_modal_m_1.pug
block se1
    h2.title Atelier et production
    p.txt L’atelier est un environnement difficile composé de grosses machines qui est soumis à des niveaux élevés de vibration et utilise des solutions logicielles de plus en plus sophistiquées.

block se2
    h2.title Défi
    p.txt Outre ces facteurs environnementaux, l’atelier sert aussi à d’autres activités : routage du matériel, gestion des stocks, disponibilité des pièces et planification du travail.

block se3
    h2.title Solution
    p.txt Les appareils Getac sont suffisamment renforcés pour résister à n’importe quel environnement, notamment celui de votre atelier. Ils offrent de nombreux avantages clés qui permettent de gérer un atelier plus facilement, de manière plus fluide et plus intelligente : 
  
    ol.list
        li <i class="fas fa-chevron-right"></i> Gestion des performances mobiles pour un suivi en temps réel de la production. 
        li <i class="fas fa-chevron-right"></i> Intégration avec le logiciel WMS pour une interopérabilité toute en fluidité. 
        li <i class="fas fa-chevron-right"></i> Écrans faciles à lire et à utiliser pour capturer des données dans des environnements extrêmes.
        

block se4
    h2.title Avantages
    p.txt Les fabricants leaders de l’industrie font confiance à Getac pour leur fournir des appareils de qualité qui associent solutions matérielles renforcées et logiciels optimisés pour surmonter les défis qui se présentent dans un atelier. 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i> Les produits Getac sont par nature renforcés et conçus pour résister aux conditions les plus extrêmes. 
        li <i class="fas fa-chevron-right"></i> Nous vous offrons un soutien complet en ingénierie sur le terrain pour différentes zones, notamment en matière d’intégration système et de tests de compatibilité, de développement de solutions de station d’accueil, d’imagerie par logiciel ainsi que de service après-vente. 
        li <i class="fas fa-chevron-right"></i> Des fabricants mondiaux, leaders sur le marché, ont confiance en nos produits. 
        li <i class="fas fa-chevron-right"></i> Bénéficiez de la meilleure garantie de l’industrie pendant une période minimale de trois ans, avec dommages accidentels compris.
            
block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
        li <i class="fas fa-chevron-right"></i> T800, T800-EX
        li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
        li <i class="fas fa-chevron-right"></i> F110, F110-EX 
        li <i class="fas fa-chevron-right"></i> K120, K120-EX
        li <i class="fas fa-chevron-right"></i> A140
        li <i class="fas fa-chevron-right"></i> B360

    br
    br

    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i> Solutions de transport 
        li <i class="fas fa-chevron-right"></i> Solutions de station d’accueil 
        li <i class="fas fa-chevron-right"></i> Solutions de recharge 
        li <i class="fas fa-chevron-right"></i> Claviers


block se6 
    - var lang = 'fr'