extends ../template/_modal_work_4.pug
block se1
    h2.title Diagnostic sur PC
    p.txt Saviez-vous qu’un véhicule moderne contient entre 60 et 100 unités de contrôle électroniques ? Pour réaliser une inspection complète, il faut réaliser des diagnostics dédiés sur chacune d’entre elles, et celles-ci sont régulièrement mises à jour. Certains peuvent s’effectuer à distance, mais d’autres doivent être réalisés en personne par un technicien dédié.

block se2
    h2.title Défi
    p.txt La vérification de diagnostic complète d’un véhicule prend entre 1 à 3 heures, et si votre atelier utilise des produits provenant de plusieurs équipementiers, vous avez besoin d’une solution qui gère aussi bien l’intégration des dernières mises à jour que l’environnement robuste et à rythme soutenu d’un atelier.

block se3
    h2.title Solution
    p.txt Getac Automobile vous aide à ne plus perdre de temps et à optimiser le temps de travail de vos techniciens grâce à des solutions matérielles renforcées et à des logiciels entièrement intégrés. 
 

    ol.list
        li <i class="fas fa-chevron-right"></i>  Notre tablette PC se connecte rapidement au véhicule via le réseau WLAN ou Gigabit Ethernet.
        li <i class="fas fa-chevron-right"></i>  Les diagnostics PC de Getac prennent en compte tous les aspects du processus de diagnostic et garantissent un affichage optimal.
        li <i class="fas fa-chevron-right"></i>  L’utilisation de technologies mobiles et renforcées permet de passer plus de temps sur le véhicule sans être cloué à un poste de travail.
        
block se4
    h2.title Avantages
    p.txt Les appareils Getac conviennent aussi bien aux ateliers de concession qu’aux techniciens mobiles.
 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Connectivité sans fil – Nos appareils se connectent directement au véhicule, à la VCI et aux systèmes informatiques de l’atelier grâce au réseau WLAN double et au Bluetooth. 
        li <i class="fas fa-chevron-right"></i>  Service renforcé – Modèles d’abonnement disponibles pour étendre votre investissement et bénéficier d’un fort retour sur investissement. 
        li <i class="fas fa-chevron-right"></i>  Assistance et certifications mondiales – Nos appareils sont certifiés pour une utilisation dans le monde entier et prennent actuellement en charge les principaux programmes d’équipementier. Ils sont renforcés par notre service et notre assistance de pointe. 
        li <i class="fas fa-chevron-right"></i>  Taille d’écran optimale – La taille plus importante des écrans permet aux utilisateurs d’afficher plus facilement les données, les publications techniques, les schémas de câblage et les informations de fiche d’entretien.
        

block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i> Solutions de transport 
        li <i class="fas fa-chevron-right"></i> Solutions de station d’accueil 
        li <i class="fas fa-chevron-right"></i> Solutions de recharge 
        li <i class="fas fa-chevron-right"></i> Claviers

block se6 
    - var lang = 'fr'