extends ../template/_modal_rd_1.pug
block se1
    h2.title Validation et test
    p.txt Les véhicules d’aujourd’hui sont de plus en plus sophistiqués. Ils sont dotés d’ordinateurs de bord, de fonctionnalités électroniques et d’une architecture complexe. Chaque aspect d’un véhicule doit être minutieusement testé et validé avant de lancer sa production. Les ingénieurs ont donc besoin d’appareils capables de fonctionner de concert avec des systèmes complexes.

block se2
    h2.title Défi
    p.txt Les tests ne mettent pas uniquement à rude épreuve les véhicules, mais aussi les appareils qui servent à réaliser les vérifications, les inspections et la calibration. Des tests en conditions extrêmes en passant par les chocs, chutes et coups reproduits en laboratoire, les appareils doivent être capables d’accompagner le travail des ingénieurs grâce à leurs logiciels précis et entièrement intégrés qui peuvent interagir avec des instruments complexes et survivre à un environnement difficile.

block se3
    h2.title Solution
    p.txt Les appareils renforcés de Getac sont parfaitement adaptés pour une utilisation en laboratoire et ont été utilisés dans le cadre de nombreux projets de R&D. 


    ol.list
        li <i class="fas fa-chevron-right"></i>  Adaptés aux conditions extrêmes – Les appareils Getac sont certifiés pour fonctionner en milieu hostile (pluie, poussière, chocs, vibrations) et résistent à des températures extrêmement hautes ou basses. 
        li <i class="fas fa-chevron-right"></i>  Ports spécialisés – Nos appareils sont équipés de ports qui prennent en charge de nombreux outils de calibration et de mesure ainsi que des outils spécifiques de l’industrie. 
        li <i class="fas fa-chevron-right"></i>  Solution sécurisée – Protégez vos données sensibles grâce aux fonctionnalités de sécurité biométrique et de contrôle complet de vos appareils. 
        li <i class="fas fa-chevron-right"></i>  Solution polyvalente – Les solutions matérielles renforcées fonctionnent de concert avec les logiciels d’ingénierie des fabricants et effectuent des vérifications, des tâches de catalogage et de programmation des unités de contrôle électroniques de manière continue.
    
block se4
    h2.title Avantages
    p.txt Le laboratoire est une phase critique du parcours d’un véhicule, de sa conception à sa production. À cette étape, vous avez besoin d’appareils renforcés en lesquels vous pouvez avoir confiance, et c’est pourquoi nous avons développé notre gamme d’appareils adaptés aux opérations de R&D.
 
    ol.list 
        li <i class="fas fa-chevron-right"></i> Connectivité sans fil – Les appareils Getac se connectent directement au véhicule, à la VCI et à l’infrastructure R&D grâce au réseau WLAN double et au Bluetooth. 
        li <i class="fas fa-chevron-right"></i> Assistance et certifications mondiales – Nos appareils sont utilisés par les principaux équipementiers, sont certifiés pour une utilisation dans le monde entier et sont renforcés par notre service et notre assistance de pointe. 
        li <i class="fas fa-chevron-right"></i> Tailles d’écran optimisées – Qu’importe vos besoins, nos nombreux appareils sont dotés de grandes tailles d’écran pour vous permettre d’afficher facilement vos données de test, vos tests de batterie thermique et vos prototypes en 3D. 
        li <i class="fas fa-chevron-right"></i> Connectivité flexible – Nos options configurables de ports sont compatibles avec les principaux appareils de test et de mesure du secteur.
        

block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i>  Solutions de transport 
        li <i class="fas fa-chevron-right"></i>  Solutions de station d’accueil 
        li <i class="fas fa-chevron-right"></i>  Solutions de recharge 
        li <i class="fas fa-chevron-right"></i>  Claviers

block se6 
    - var lang = 'fr'