extends ../template/_modal_work_3.pug
block se1
    h2.title EVHC
    p.txt En moyenne, un montant de 35 $ est ajouté à la facture d’un particulier chaque fois qu’un bilan de santé électronique est réalisé sur son véhicule. Il n’y a donc rien d’étonnant à ce que les fabricants automobiles et leur réseau de concessionnaires souhaitent inspecter plusieurs points du véhicule, pendant que le véhicule est à disposition du technicien, sur une rampe et sans ses roues. Suivre ce processus en plusieurs points permet de ne rien oublier, de tenir les clients au courant en temps réel et d’augmenter les taux de conversion des éléments identifiés en rouge et en orange de plus de 70 %.

block se2
    h2.title Défi
    p.txt Une fois le véhicule installé sur la rampe, le technicien doit à chaque fois inspecter plusieurs points du véhicule. Ce processus est généralement réalisé à l’aide d’une fiche de contrôle papier, et tous les éléments identifiés sont ensuite à saisir et mettre à jour sur le système de gestion de concessionnaire. En procédant ainsi sur papier, le technicien peut ne pas réaliser l’inspection complète et vérifier uniquement les éléments qu’il souhaite. Ce processus est chronophage et n’apporte aucune transparence au client en raison d’une incapacité à prendre des photos ou enregistrer des vidéos.

block se3
    h2.title Solution
    p.txt Getac Automobile permet aux ateliers de réaliser facilement et de manière intégrée des bilans informatisés de santé électronique des véhicules. 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Des ateliers informatisés – Numérisez vos contrôles sur papier et permettez à vos techniciens de prendre des photos, des vidéos et de laisser des commentaires qui pourraient ensuite être transmis au client dans un e-mail de suivi.
        li <i class="fas fa-chevron-right"></i> Application native 
        li <i class="fas fa-chevron-right"></i> Capacités en ligne/hors ligne
        li <i class="fas fa-chevron-right"></i> Fonctionnement basé sur les rôles
        li <i class="fas fa-chevron-right"></i> Vidéo intégrée

block se4
    h2.title Avantages
    p.txt Les solutions matérielles renforcées et les logiciels entièrement intégrés de Getac Automobile s’associent pour offrir un grand nombre d’avantages à votre atelier : 
 

    ol.list 
        li <i class="fas fa-chevron-right"></i> Passez du papier à la tablette
        li <i class="fas fa-chevron-right"></i> Aucune saisie en double
        li <i class="fas fa-chevron-right"></i> Instaurez une relation de confiance grâce à une expérience numérique et transparente
        li <i class="fas fa-chevron-right"></i> Respectez facilement votre devoir de vigilance auprès de vos clients
        li <i class="fas fa-chevron-right"></i> Plus de bilans de santé veut dire plus de capacité de production, des clients rassurés et de meilleurs taux de fidélisation

block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i>EVHC Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i>  Solutions de transport 
        li <i class="fas fa-chevron-right"></i>  Solutions de recharge
        
block se6 
    - var lang = 'fr'