extends ../template/_modal_work_5.pug
block se1
    h2.title Publications techniques numériques
    p.txt Avec l’âge moyen du parc automobile qui recule de plus en plus (environ 11,8 ans aux États-Unis, 9,8 en Allemagne et 13 ans en Russie), l’entretien des véhicules existants va demander plus d’investissements en termes de maintenance. Cela veut dire pouvoir accéder à toutes les informations de réparation et de maintenance fournies par l’équipementier.

block se2
    h2.title Défi
    p.txt Le droit à la réparation est un sujet brûlant dans de nombreux secteurs, notamment dans le secteur automobile. Il est de la responsabilité des équipementiers de distribuer des pièces techniques et des informations de service à leur réseau, leurs clients et leurs ateliers de réparation indépendants, que ce soit via des portails et sites Web techniques pour leurs points de service franchisés ou via des services d’abonnement en ligne, pour le marché indépendant des pièces de rechange.

block se3
    h2.title Solution
    p.txt Getac Automobile fournit des informations sur le code du véhicule, des informations relatives à la non-émission, sur la reprogrammation ou sur les clignotants pour tous les modèles, directement sur l’appareil mobile renforcé du technicien pour améliorer l’efficacité de la maintenance et de la réparation des véhicules et créer ainsi une expérience fluide.

block se4
    h2.title Avantages
    p.txt Getac Automobile est l’outil éprouvé pour le diagnostic et l’atelier choisi par les équipementiers du monde entier.
  
    p.txt Avec la solution optimisée de Getac, vous obtenez des appareils qui peuvent : 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Devenir la seule et unique plateforme pour gérer les tâches de réparation, le pointage, les données techniques et les diagnostics. 
        li <i class="fas fa-chevron-right"></i>  Se connecter au réseau WWAN pour les plateformes techniques Cloud des équipementiers lorsque vous êtes sur le terrain ou lorsque l’atelier a de faibles capacités WLAN.
        li <i class="fas fa-chevron-right"></i>  Veiller à ce que l’accès aux informations techniques confidentielles soit sécurisé grâce aux fonctionnalités facultatives de Getac, telles que le RFID, la surveillance des appareils et l’authentification multifacteur.
        li <i class="fas fa-chevron-right"></i>  Résister à n’importe quelle tâche d’atelier grâce à une construction renforcée et à un logiciel entièrement intégré.
        

block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i>  Solutions de transport 
        li <i class="fas fa-chevron-right"></i>  Solutions de recharge
        
block se6 
    - var lang = 'fr'