extends ../template/_modal_work_2.pug
block se1
    h2.title EVHC
    p.txt Tous les secteurs sont en train de passer au numérique, que ce soit pour commander un taxi ou accéder à des informations sur des professionnels de santé. Le secteur automobile n’est en rien différent. Le comportement et les attentes des clients incitent au changement. Les bilans de santé électronique des véhicules (Electronic Vehicle Health Checks, EVHC) vous permettent d’offrir une expérience transparente et informatisée aussi bien à vos clients qu’à votre équipe d’accueil des réparations, vous assurant ainsi de réduire au maximum le temps d’inspection et de remise du véhicule, pour une expérience client améliorée et de nouvelles occasions d’accroître les ventes des pièces d’usure.

block se2
    h2.title Défi
    p.txt La procédure d’inspection sur papier d’un véhicule prend beaucoup de temps. Une fois que le client a signé, le conseiller de service doit reporter ses notes dans le système de gestion de concessionnaire. Cela duplique le travail et offre la possibilité au conseiller de service d’ignorer la procédure standard du concessionnaire ou de l'équipementier, exposant ainsi potentiellement la concession à des risques. En plus de cette surcharge de travail et du risque de non-conformité, l’expérience des clients s’en trouve aggravée, car ceux-ci doivent attendre que le conseiller se réfère au système de gestion de concessionnaire pour recevoir plus d’informations.

block se3
    h2.title Solution
    p.txt Getac Automobile permet aux ateliers de réaliser facilement et de manière intégrée des bilans informatisés de santé électronique des véhicules. 
 

    ol.list
        li <i class="fas fa-chevron-right"></i> 100 % des véhicules inspectés – La plateforme EVHC de Getac impose d’effectuer tous les contrôles conformément aux normes de l’équipementier, ce qui rassure le client et apporte de nouvelles perspectives de revenus pour le concessionnaire. 
        li <i class="fas fa-chevron-right"></i> Interface utilisateur rapide et intuitive – La plateforme EVHC de Getac rationalise l’ensemble des processus, ce qui permet de faire des estimations de temps et de donner des délais de remise précis, pour des prises de décision rapides. 
        li <i class="fas fa-chevron-right"></i> Solution qui s’adapte à votre manière de travailler – Notre logiciel est agnostique en termes de système d’exploitation et est doté d’une Open API flexible et hautement configurable.
        li <i class="fas fa-chevron-right"></i> Profitez d’une véritable vue d’ensemble – Grâce au tableau de bord et à la console de gestion, suivez votre capacité de production, votre conformité réglementaire et votre efficacité sur site, au niveau du groupe, au niveau national et au niveau mondial.
        

block se4
    h2.title Avantages
    p.txt Les solutions matérielles renforcées et les logiciels entièrement intégrés de Getac Automobile s’associent pour offrir un grand nombre d’avantages à votre atelier : 


    ol.list 
        li <i class="fas fa-chevron-right"></i>  Passez de processus lents sur papier à un écosystème rapide et efficace sur tablette.
        li <i class="fas fa-chevron-right"></i>  Contrôlez vos processus de bilan de santé.
        li <i class="fas fa-chevron-right"></i>  Donnez plus de visibilité à vos clients.
        li <i class="fas fa-chevron-right"></i>  Augmentez le nombre de pièces et d’heures de travail facturées par réparation.
        li <i class="fas fa-chevron-right"></i>  Repérez les axes d’amélioration grâce à la veille économique.
        

block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Logiciel EVHC
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i>  Solutions de transport 
        li <i class="fas fa-chevron-right"></i>  Solutions de recharge 

block se6 
    - var lang = 'fr'