extends ../template/_modal_work_1.pug
block se1
    h2.title Planification intelligente
    p.txt L’intelligence artificielle est partout. Vous pouvez désormais l’utiliser pour automatiser les processus de chargement et de réservation au sein de votre atelier. Vous pouvez réduire fortement le temps que vos clients doivent passer pour réserver leur véhicule et économiser plus de 25 % de temps travaillé pour réaliser les mêmes tâches de chargement.

block se2
    h2.title Défi
    p.txt Très souvent, le planning de votre atelier est encore réalisé au moyen de procédures manuelles et papier. Cela ralentit les opérations, fait perdre du temps, augmente les coûts et place une lourde responsabilité sur les épaules de l’équipe d’entretien, car celle-ci doit prendre des décisions commerciales cruciales, mais n’est en réalité pas en mesure de réussir. Même les meilleurs plans d’action peuvent changer, et si vous ne pouvez pas vous adapter rapidement, vous offrirez sans doute une mauvaise expérience à vos clients, et vous verrez vos taux de fidélisation chuter.

block se3
    h2.title Solution
    p.txt Getac Automobile propose des solutions matérielles renforcées et des logiciels parfaitement intégrés qui vous permettent de gérer votre atelier de manière plus intelligente et d’optimiser votre service après-vente. 
    ol.list
        li <i class="fas fa-chevron-right"></i> Le traitement et la distribution en temps réel des tâches des techniciens vous permettent d’éviter les goulots d’étranglement au niveau des ressources. Ces derniers résultent souvent des systèmes de planification manuels qui offrent peu de visibilité. 
        li <i class="fas fa-chevron-right"></i>  Notre planification intelligente d’atelier permet de calculer des flux de travail complexes pour répondre aux besoins des clients, l’IA apprenant en permanence pour répondre aux demandes uniques de votre atelier.
        li <i class="fas fa-chevron-right"></i>  Utilisation d’une architecture Open API et conformité RPA.
        li <i class="fas fa-chevron-right"></i>  Utilisation de l’IA pour planifier le travail et assigner automatiquement les tâches, d’une manière qui assure le respect du temps de remise au client et prend en compte les compétences et certifications des techniciens.
        li <i class="fas fa-chevron-right"></i>  Notre logiciel s’adapte instantanément et réassigne les travaux en cas d’arrêt maladie, peut prendre en charge les réservations en ligne et gère le planning des équipes. 
        li <i class="fas fa-chevron-right"></i>  Fonctionnement adapté aux concessionnaires à points de vente uniques ou multiples, et qui génère constamment des données de productivité et d’efficacité pour les équipes de gestion.

block se4
    h2.title Avantages
    p.txt Les ateliers les plus intelligents offrent un service après-vente optimisé. C’est la raison pour laquelle nous avons combiné des solutions matérielles renforcées à un logiciel de planification entièrement intégré au sein d’une seule et même plateforme. 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i>  Tableau de bord de planification simple et intuitif, avec alertes visuelles et automatisation complète, pour une précision totale.
        li <i class="fas fa-chevron-right"></i>  Le personnel d’accueil des réparations ou des clients peut réserver un créneau de travail et y affecter des techniciens en quelques clics, pour une rapidité accrue et une commodité inégalée.
        li <i class="fas fa-chevron-right"></i>  Un éditeur logique adaptable fait en sorte que vos flux de travail et politiques d’équipements d’origine uniques soient au premier plan du processus de planification.
        li <i class="fas fa-chevron-right"></i>  Disponibilité de vos véhicules de courtoisie, outils spéciaux ou aires de service, quand vous en avez besoin.
        li <i class="fas fa-chevron-right"></i>  Le tableau de bord et les rapports statistiques permettent de suivre les performances et d’avoir une parfaite visibilité sur l’ensemble de vos opérations, quand vous en avez besoin.
        li <i class="fas fa-chevron-right"></i>  Entièrement intégré aux plateformes FEO, de concessionnaire et d’atelier pour accélérer les processus et recevoir les informations en temps réel sans avoir à se connecter ou à se déconnecter de plusieurs systèmes.
        

block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Planning Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i>  Solutions de transport 
        li <i class="fas fa-chevron-right"></i>  Solutions de recharge

block se6 
    - var lang = 'fr'