extends ../template/_modal_m_2.pug
block se1
    h2.title Contrôle qualité
    p.txt Pour obtenir des opérations de fabrication fluides, vous devez employer des machines et des processus efficaces. Plus de 550 usines de fabrication automobile dans le monde entier, ce qui représente au total 60 marques provenant de 14 multinationales, veulent tirer parti de l’industrie 4.0 pour gagner en efficacité, réduire leurs coûts et améliorer la satisfaction de leurs clients.
block se2
    h2.title Défi
    p.txt Les systèmes de contrôle qualité sont faits de variables (Six Sigma, qualité totale ou encore Lean Production), mais celles-ci, comme les analyses de pannes, les essais d’homologation, les inspections techniques, les certifications et les inspections de pièces avant montage, peuvent être informatisées. 

    p.txt Pour passer efficacement au tout numérique, vous avez besoin d’une solution qui : 
    ol.list 
        li <i class="fas fa-chevron-right"></i> Puisse traiter d’importantes quantités de données. 
        li <i class="fas fa-chevron-right"></i> Offre des opérations mobiles renforcées. 
        li <i class="fas fa-chevron-right"></i> Puisse enregistrer les pannes antérieures, analyser les causes profondes et suggérer la mise en place d’actions correctives. 
        li <i class="fas fa-chevron-right"></i> Assure un fonctionnement fluide et en temps réel lorsqu’il est utilisé par plusieurs membres de l’équipe.

block se3
    h2.title Solution
    p.txt Les solutions matérielles mobiles renforcées et les logiciels entièrement intégrés de Getac peuvent devenir le cœur de vos opérations de contrôle qualité. 

    p.txt Des fabricants leaders ont confiance en nos appareils. En effet, ils peuvent : 
    ol.list
        li <i class="fas fa-chevron-right"></i> S’intégrer facilement à votre logiciel ERP actuel. 
        li <i class="fas fa-chevron-right"></i> S’adapter aux environnements difficiles d’atelier grâce à leur construction renforcée.
        li <i class="fas fa-chevron-right"></i> Enregistrer toutes les entrées provenant de plusieurs utilisateurs qui sont ensuite mises à disposition sur tous les appareils mobiles interconnectés.

block se4
    h2.title Avantages
    p.txt Les fabricants leaders de l’industrie font confiance à Getac pour leur fournir des solutions de contrôle qualité qui associent solutions matérielles renforcées et logiciels optimisés. 

    ol.list 
        li <i class="fas fa-chevron-right"></i> Les produits Getac sont par nature renforcés et conçus pour résister à toutes les conditions météo. 
        li <i class="fas fa-chevron-right"></i> Nous vous offrons un soutien complet en ingénierie sur le terrain pour différentes zones, notamment en matière d’intégration système et de tests de compatibilité, de développement de solutions de station d’accueil, d’imagerie par logiciel ainsi que de service après-vente. 
        li <i class="fas fa-chevron-right"></i> Des fabricants mondiaux, leaders sur le marché, ont confiance en nos produits. 
        li <i class="fas fa-chevron-right"></i> Nous vous faisons bénéficier de la meilleure garantie de l’industrie pendant au minimum trois ans, avec dommages accidentels compris.
        

block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> K120
        li <i class="fas fa-chevron-right"></i> V110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i> Solutions de transport 
        li <i class="fas fa-chevron-right"></i> Solutions de station d’accueil 
        li <i class="fas fa-chevron-right"></i> Solutions de recharge 
        li <i class="fas fa-chevron-right"></i> Claviers


block se6 
    - var lang = 'fr'