extends ../template/_modal_m_3.pug
block se1
    h2.title Livraison et transport
    p.txt La livraison et le transport de biens sont soumis à des normes strictes que vous devez respecter. De plus, une gestion sur papier peut entraîner une mauvaise visibilité sur votre chaîne logistique et de maintenance.

block se2
    h2.title Défi
    p.txt Le transport et la logistique comportent leur lot unique de défis que vous devez surmonter pour continuer de satisfaire vos clients, livrer dans les délais et assurer un fonctionnement sans faille sur la route. 

    ol.list 
        li <i class="fas fa-chevron-right"></i> Trop de paperasse et de gestion manuelle, et vos documents peuvent être perdus ou endommagés. 
        li <i class="fas fa-chevron-right"></i> Les temps de livraisons sont de plus en plus courts. En effet, les clients s’attendent à recevoir leurs produits très rapidement. 
        li <i class="fas fa-chevron-right"></i> Les problèmes de fraude et de vol perdurent, et les systèmes non connectés attirent les personnes mal intentionnées.
        

block se3
    h2.title Solution
    p.txt Les solutions logicielles entièrement intégrées et connectées de Getac Automobile sont fournies sur nos appareils renforcés de renom, vous permettant ainsi de réaliser n’importe quelle tâche, même la plus difficile. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Améliorez l’efficacité, identifiez les opportunités de consolidation et réduisez vos coûts grâce à notre logiciel intelligent. 
        li <i class="fas fa-chevron-right"></i> Optimisez le planning de vos conducteurs. 
        li <i class="fas fa-chevron-right"></i> Profitez d’une plateforme unique qui se connecte à vos systèmes existants et vous permet ainsi de simplifier les opérations et la familiarisation avec les appareils au sein de votre personnel. 
            br
            | Recueillez des données en temps réel et rendez-les disponibles sur les différents appareils de vos collaborateurs et points de contact. 
        

block se4
    h2.title Avantages
    p.txt Les fabricants leaders de l’industrie font confiance à Getac pour leur fournir des appareils de qualité qui associe solutions matérielles renforcées et logiciels optimisés pour le transport et la livraison. 
    ol.list
        li <i class="fas fa-chevron-right"></i> Les produits Getac sont par nature renforcés et conçus pour résister à toutes les conditions météo. 
        li <i class="fas fa-chevron-right"></i> Nous vous offrons un soutien complet en ingénierie sur le terrain pour différentes zones, notamment en matière d’intégration système et de tests de compatibilité, de développement de solutions de station d’accueil, d’imagerie par logiciel ainsi que de service après-vente. 
        li <i class="fas fa-chevron-right"></i> Des fabricants mondiaux, leaders sur le marché, ont confiance en nos produits. 
        li <i class="fas fa-chevron-right"></i> Nous vous faisons bénéficier de la meilleure garantie de l’industrie pendant au minimum trois ans, avec dommages accidentels compris.


block se5
    h2.title Appareils Getac :
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title  Logiciels :
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility
        li <i class="fas fa-chevron-right"></i> Getac Driving Safety Utility
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title Accessoires :
    ol.list
        li <i class="fas fa-chevron-right"></i> Solutions de transport 
        li <i class="fas fa-chevron-right"></i> Solutions de station d’accueil 
        li <i class="fas fa-chevron-right"></i> Solutions de recharge 
        li <i class="fas fa-chevron-right"></i> Claviers

block se6 
    - var lang = 'fr'