extends ../template/_modal_m_2.pug
block se1
    h2.title 品控
    p.txt 顺畅的生产运作仰赖高效的机器和流程。全球超过550家汽车制造厂，代表了来自14家全球公司的60个品牌-这些公司都希望利用工业4.0技术，获取效率优势、降低成本并提升客户满意度。

block se2
    h2.title 挑战
    p.txt 无论是六西格玛、TQM或精益生产，品控系统充满了变量，但是这些变量（如故障分析、验收测试、技术检验、认证和组装前零件检验）可以数字化。 
    p.txt 为了有效数字化，您的解决方案必须： 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  能够处理海量数据。 
        li <i class="fas fa-chevron-right"></i>  满足强固耐用的移动操作。 
        li <i class="fas fa-chevron-right"></i>  能够记录历史故障，分析根本原因，提出纠正措施并执行。 
        li <i class="fas fa-chevron-right"></i>  在多个团队成员之间实时提供流畅、无缝操作。

block se3
    h2.title 解决方案
    p.txt Getac强固耐用的硬件和无缝化软件可为品控运营提供动力。 
 
    p.txt 我们的设备深受业界领先制造商的信赖： 
    ol.list
        li <i class="fas fa-chevron-right"></i> 可与当前ERP软件无缝集成。 
        li <i class="fas fa-chevron-right"></i> 采用了强固耐用结构，足以承受严苛维修厂环境考验。
        li <i class="fas fa-chevron-right"></i> 获取多个用户通过所有互连移动设备进行的所有输入。
 
block se4
    h2.title 优点
    p.txt 业界领先制造商相信Getac能够提供兼具强固耐用硬件和优化软件的品控解决方案。 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i> Getac产品具备固有强固性，能够在任何天气条件下运作。 
        li <i class="fas fa-chevron-right"></i> Getac可为您提供全面现场工程支持，包括系统集成和兼容性测试、底座解决方案开发、软件成像和售后支持。 
        li <i class="fas fa-chevron-right"></i> Getac的产品深受全球业界领先制造商的信赖。 
        li <i class="fas fa-chevron-right"></i> Getac可为您提供至少三年的行业顶尖质保，包括意外损坏。
 

block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> K120
        li <i class="fas fa-chevron-right"></i> V110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  Absolute
    br
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  底座解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
        li <i class="fas fa-chevron-right"></i>  键盘


block se6 
    - var lang = 'cn'