extends ../template/_modal_work_1.pug
block se1
    h2.title 智能计划
    p.txt 人工智能无处不在，可用于自动执行维修厂预订和载入流程。大幅减少客户车辆预约所需时间，为相同维修厂载入任务节省了25%的工作时间。

block se2
    h2.title 挑战
    p.txt 在很多情况下，维修厂计划仍然采取手动和基于纸张的方式。这将降低运营速度、浪费时间、增加成本，甚至要求维修团队为关键业务决策负责（实际上往往遭遇失败）。即使是完美计划也会更改，如果无法快速适应，可能导致客户体验不佳、留存率下降。

block se3
    h2.title 解决方案
    p.txt Getac汽车行业解决方案提供了强固耐用的硬件和无缝化软件，可创造更具智慧的维修厂运营，提供更为优化的售后服务。 

    ol.list
        li <i class="fas fa-chevron-right"></i>  实时处理和分配技术人员的工作，帮助您避开在低可见性手动计划系统中经常会遇到的资源瓶颈。 
        li <i class="fas fa-chevron-right"></i>  我们的智能维修厂计划大幅增强了对于复杂工作流程的计算能力，通过人工智能的持续自我学习，满足维修厂的独特需求和客户的各种要求。
        li <i class="fas fa-chevron-right"></i>  采用开放式API架构且符合RPA要求。
        li <i class="fas fa-chevron-right"></i>  使用AI自动计划工作单并分配任务，既能确保与客户的工作移交时间，又考虑到技术人员的资质和能力。
        li <i class="fas fa-chevron-right"></i>  即使因病假而需重新分配任务，我们的软件也能即时反应到团队的在线预订和计划系统。 
        li <i class="fas fa-chevron-right"></i>  可作为多点或单点经销商的一部分，不断为管理团队生成生产率和效率数据。
 

block se4
    h2.title 优点
    p.txt 更具智慧的维修厂将能提供更为优化的售后服务，因此必须将强固耐用的硬件与无缝化计划软件集成到一个平台。 


    ol.list 
        li <i class="fas fa-chevron-right"></i>  简单直观的计划面板，拥有可视警报以及全自动化，以实现全面精确。
        li <i class="fas fa-chevron-right"></i>  客户和维修接待人员仅需点击几下，即可预订作业和分配技术人员，以实现便捷操作。
        li <i class="fas fa-chevron-right"></i>  自适应逻辑编辑器，确保您的独特工作流程和OEM政策处于计划流程的最重要地位，毫无错失。
        li <i class="fas fa-chevron-right"></i>  可预约迎宾车、为维修单与技术人员分配特殊工具或维修空间。
        li <i class="fas fa-chevron-right"></i>  可在需要时提供数据面板和统计报告，追踪性能，使操作具有可视性。
        li <i class="fas fa-chevron-right"></i>  无缝整合OEM、经销商和维修厂平台，无需登入/登出不同系统即可快速处理、实时接收信息。
        

block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  计划软件
        li <i class="fas fa-chevron-right"></i>  Absolute

    br
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
        
block se6 
    - var lang = 'cn'