extends ../template/_modal_warehouse_1.pug
block se1
    h2.title 库存和仓库管理
    p.txt 现代制造业仓库对于保证制造流程运行效率至关重要-从零部件进货管理到最终产品出厂。

block se2
    h2.title 挑战
    p.txt 有的仓库使用仓库管理系统（WMS）以控制库存水平，有的仓库通过自动化以提高效率和降低成本-无论何种方式，都需要与之匹配的设备。 
 
    p.txt 现代仓库设备必须能够： 

    ol.list
        li <i class="fas fa-chevron-right"></i> 采集、记录和管理库存流。 
        li <i class="fas fa-chevron-right"></i> 执行订单处理、分拣/包装任务、采集装载和卸载。 
        li <i class="fas fa-chevron-right"></i> 需要人工和机器人工作时，自动处理物料。
        li <i class="fas fa-chevron-right"></i> 与自动化立体仓库、自动引导车集成。 
        li <i class="fas fa-chevron-right"></i> 支持条码或RFID阅读器。 
        li <i class="fas fa-chevron-right"></i> 与移动工作人员保持真正的集成操作。 
        li <i class="fas fa-chevron-right"></i> 足以承受严苛维修厂任务和环境考验。 

block se3
    h2.title 解决方案
    p.txt Getac库存和仓库管理解决方案无缝整合了业界领先的库存管理、ERP和WMS软件。我们的设备兼具计算能力和强固结构，可使您安心工作，为库存和仓库管理提供理想平台。

block se4
    h2.title 优点
    p.txt 我们的强固耐用解决方案可承受严苛仓库环境考验，提供了各种功能帮助您追踪和管理库存。 
 
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac解决方案可直接连接至仓库管理系统，优化可用劳动力资源，提升运营效率。 
        li <i class="fas fa-chevron-right"></i>  Getac的各种强固式平板电脑可支持选配数字化笔单手操作。 
        li <i class="fas fa-chevron-right"></i>  与口头说明相比，内置摄像头更便于保存和传递数据。 
        li <i class="fas fa-chevron-right"></i>  Getac的设备可提供1D和2D条码阅读器选项，帮助仓库平稳运行。 
        li <i class="fas fa-chevron-right"></i>  Getac的设备具有高可配置性，可为叉车安装、免手携带选项等提供各种载具、底座和配件。
       
block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility
        li <i class="fas fa-chevron-right"></i> Getac Driving Safety Utility
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  底座解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
        li <i class="fas fa-chevron-right"></i>  路由器和天线
        li <i class="fas fa-chevron-right"></i>  键盘

block se6 
    - var lang = 'cn'