extends ../template/_modal_m_1.pug
block se1
    h2.title 维修厂和生产
    p.txt 维修厂环境条件严苛，包括重型机械、高强度振动、越来越复杂的集成软件解决方案。

block se2
    h2.title 挑战
    p.txt 除了环境因素以外，维修厂还集成了其他管理职责，包括物料安排、库存管理、零件可用性和劳动力调度。

block se3
    h2.title 解决方案
    p.txt Getac设备强固耐用，足以承受任何环境考验，包括您的维修厂。可提供各种关键优势，使维修厂运营更加方便流畅、更具智慧： 

    ol.list
        li <i class="fas fa-chevron-right"></i>  移动性能监控，可实时跟踪生产。 
        li <i class="fas fa-chevron-right"></i>  与WMS软件集成，可实现无缝互操作性。 
        li <i class="fas fa-chevron-right"></i>  轻松读取屏幕和高易用性，方便在极端环境捕获数据。

block se4
    h2.title 优点
    p.txt 业界领先制造商相信Getac能够提供兼具强固耐用硬件和优化软件的高品质设备以应对维修厂挑战。 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Getac产品具备固有强固性，能够在最恶劣的工作环境中运作。 
        li <i class="fas fa-chevron-right"></i>  Getac可为您提供全面现场工程支持，包括系统集成和兼容性测试、底座解决方案开发、软件成像和售后支持。
        li <i class="fas fa-chevron-right"></i>  Getac的产品深受全球业界领先制造商的信赖。 
        li <i class="fas fa-chevron-right"></i>  可提供至少三年的行业顶尖质保，包括意外损坏。
 

block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
        li <i class="fas fa-chevron-right"></i> T800, T800-EX
        li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
        li <i class="fas fa-chevron-right"></i> F110, F110-EX 
        li <i class="fas fa-chevron-right"></i> K120, K120-EX
        li <i class="fas fa-chevron-right"></i> A140
        li <i class="fas fa-chevron-right"></i> B360

    br
    br

    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  Getac KeyWedge条码阅读器实用程序
        li <i class="fas fa-chevron-right"></i>  Absolute
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  底座解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
        li <i class="fas fa-chevron-right"></i>  键盘

block se6 
    - var lang = 'cn'