extends ../template/_modal_m_4.pug
block se1
    h2.title 资产管理和维护
    p.txt 面对所拥有的昂贵、复杂资产，必须通过正确硬件和互连软件使其优势最大化，从而确保最佳投资报酬率。

block se2
    h2.title 挑战
    p.txt 制造环境对管理者和操作员提出了诸多挑战。

    ol.list 
        li <i class="fas fa-chevron-right"></i> 连接受限可能限制远程访问。 
        li <i class="fas fa-chevron-right"></i> 网络连接不稳定可能中断财产管理，难以提供必要的远程支持。 
        li <i class="fas fa-chevron-right"></i> 设备电池性能较差可能导致停机、生产力下降。 
        li <i class="fas fa-chevron-right"></i> 严苛环境需要专家、强固设备。

block se3
    h2.title 解决方案
    p.txt Getac强固设备和易整合的无缝化软件将完全融入您的制造厂工作方式，从而谋求优化财产管理流程、提高效率的方法。 
 
    ol.list
        li <i class="fas fa-chevron-right"></i>  执行预测性维护，减少财产停机。 
        li <i class="fas fa-chevron-right"></i>  收集实时数据，识别可能在未来出现问题的事件。 
        li <i class="fas fa-chevron-right"></i>  使用可耐受维修厂环境的强固式设备。
        li <i class="fas fa-chevron-right"></i>  双电池容量足够维持整个班次且甚至更长时间，从而减少设备停机。
 
block se4
    h2.title 优点
    p.txt 业界领先制造商相信Getac能够提供兼具强固耐用硬件和优化软件的高品质设备以应对财产管理和维护挑战。 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Getac产品具备固有强固性，能够在任何天气条件下运作。 
        li <i class="fas fa-chevron-right"></i>  Getac可为您提供全面现场工程支持，包括系统集成和兼容性测试、底座解决方案开发、软件成像和售后支持。 
        li <i class="fas fa-chevron-right"></i>  Getac的产品深受全球业界领先制造商的信赖。 
        li <i class="fas fa-chevron-right"></i>  Getac可为您提供至少三年的行业顶尖质保，包括意外损坏。

block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
        li <i class="fas fa-chevron-right"></i> T800, T800-EX
        li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
        li <i class="fas fa-chevron-right"></i> F110, F110-EX
        li <i class="fas fa-chevron-right"></i> K120, K120-EX
        li <i class="fas fa-chevron-right"></i> A140
        li <i class="fas fa-chevron-right"></i> B360

    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  Absolute
    br
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  底座解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
        li <i class="fas fa-chevron-right"></i>  键盘


block se6 
    - var lang = 'cn'