extends ../template/_modal_work_3.pug
block se1
    h2.title EVHC
    p.txt 每次实施车辆EVHC，将售后服务发票的平均价值增加35美元。这就是为什么车辆制造商及其经销商网络要求技术人员将车辆驶入维修厂并拆下轮胎时，必须实施车辆多点检查。该流程可确保不错失每一个部位，并向客户实时提供最新情况。将红色和琥珀色已识别项目的转化率提高至70%。

block se2
    h2.title 挑战
    p.txt 每次将车辆驶入维修厂时，技术人员应实施整车多点检查。在以前，该流程需要先填写纸质检查表，再向DMS更新已识别项目。尽管使用纸质检查表时，技术人员可能会跳过全检，只检查可能存在问题的项目。但该流程仍然非常耗时，还没有图像或视频，降低了客户透明度。

block se3
    h2.title 解决方案
    p.txt Getac汽车行业解决方案能让维修厂实施易整合的无纸化EVHC。 

    ol.list
        li <i class="fas fa-chevron-right"></i> 无纸化维修厂——将纸质检查表数字化，并使技术人员能够及时获取照片、视频和说明，从而通过跟进邮件与客户分享。
        li <i class="fas fa-chevron-right"></i>  本地应用程序
        li <i class="fas fa-chevron-right"></i>  在线/离线功能
        li <i class="fas fa-chevron-right"></i>  基于角色管理
        li <i class="fas fa-chevron-right"></i>  内置视频


block se4
    h2.title 优点
    p.txt Getac汽车行业解决方案提供了无缝化软件和强固耐用的硬件，可使维修厂具有以下优势： 


    ol.list 
        li <i class="fas fa-chevron-right"></i>  从纸质进化到平板电脑
        li <i class="fas fa-chevron-right"></i>  无需重复输入
        li <i class="fas fa-chevron-right"></i>  通过透明化数字体验提升信赖
        li <i class="fas fa-chevron-right"></i>  便于向客户提供保养责任
        li <i class="fas fa-chevron-right"></i>  更多的健康检查意味着更大的接待量、客户更加安全、更高的留存率

block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  EVHC软件
        li <i class="fas fa-chevron-right"></i>  Absolute

    br
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
         
block se6 
    - var lang = 'cn'