extends ../template/_modal_m_3.pug
block se1
    h2.title 交付与运输
    p.txt 产品的交付和运输必须满足各种严苛标准。除了这些标准以外，纸面工作流程也可能影响整条供应链中的可见性。

block se2
    h2.title 挑战
    p.txt 为了实现客户满意、正常交付、高效道路运行，运输和物流必须克服一系列特殊挑战。 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i> 手动和纸面工作流程容易产生盲点，存在文件遗失或损坏的可能性。 
        li <i class="fas fa-chevron-right"></i> 客户想要快速送货，造成交付时间紧张。 
        li <i class="fas fa-chevron-right"></i> 假冒和盗用难以解决，分散系统可能被恶意利用。

block se3
    h2.title 解决方案
    p.txt Getac汽车行业解决方案通过备受赞誉的强固式设备交付无缝连接软件，毫无畏惧任何繁重任务。 

    ol.list
        li <i class="fas fa-chevron-right"></i>  提高效率，识别整合机会，通过智能软件降低成本。 
        li <i class="fas fa-chevron-right"></i>  优化驾驶员路线计划。 
        li <i class="fas fa-chevron-right"></i>  成为与现有系统连接的平台，提高所有工作人员的易用性和设备熟悉度。 
        li <i class="fas fa-chevron-right"></i>  收集实时数据，可在多个工作人员和接触点设备之间共享。

block se4
    h2.title 优点
    p.txt 业界领先制造商相信Getac能够提供兼具强固耐用硬件和优化软件的高品质设备以应对运输和交付挑战。 

    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac产品具备固有强固性，能够在任何天气条件下运作。 
        li <i class="fas fa-chevron-right"></i>  Getac可为您提供全面现场工程支持，包括系统集成和兼容性测试、底座解决方案开发、软件成像和售后支持。 
        li <i class="fas fa-chevron-right"></i>  Getac的产品深受全球业界领先制造商的信赖。 
        li <i class="fas fa-chevron-right"></i>  Getac可为您提供至少三年的行业顶尖质保，包括意外损坏。
 
block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  Getac KeyWedge条码阅读器实用程序
        li <i class="fas fa-chevron-right"></i>  Getac行车安全实用程序
        li <i class="fas fa-chevron-right"></i>  Absolute
        
    br
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  底座解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
        li <i class="fas fa-chevron-right"></i>  键盘

block se6 
    - var lang = 'cn'