extends ../template/_modal_work_2.pug
block se1
    h2.title EVHC
    p.txt 不管是叫车还是找医生，各行各业都在数字化转型。汽车行业也不例外，客户预期和行为提出了转型需求。车辆电子健康检测（EVHC）为客户和维修团队提供了无纸化、透明化体验，既确保交付又尽可能减少绕车检查，从而改善客户体验，增加易磨损件的追加销售机会。

block se2
    h2.title 挑战
    p.txt 使用纸质绕车检查表需要花费更长时间。一旦客户签字，维修顾问必须将检查记录输入DMS。这增加了大量工作，维修顾问可能跳过OEM或经销商标准流程，甚至为经销商带来潜在经济损失。除了额外工作和不合规风险，客户体验也会变差，因为他们必须长时间等待维修顾问从DMS中寻找信息。

block se3
    h2.title 解决方案
    p.txt Getac汽车行业解决方案能让维修厂实施易整合的无纸化EVHC。 

    ol.list
        li <i class="fas fa-chevron-right"></i>  对所有车辆的检查——Getac EVHC平台要求按照OEM的标准执行所有检查，让客户放心，并为经销商提供更多的收益机会。 
        li <i class="fas fa-chevron-right"></i>  快速直观的用户界面——Getac的EVHC平台能精简检查流程，提供时间评估和精确的工作移交时间，以便快速做出决策。 
        li <i class="fas fa-chevron-right"></i>  满足您的工作方式——我们的软件具有操作系统不可知性，采用高可配置性和灵活性的开放API。
        li <i class="fas fa-chevron-right"></i>  查看全局——通过数据面板和管理控制台，可查看现场、团队、国家或全球层面的接待量、合规性和效率。
        

block se4
    h2.title 优点
    p.txt Getac汽车行业解决方案提供了无缝化软件和强固耐用的硬件，可使维修厂具有以下优势： 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  从缓慢的纸面工作流程进化到迅速高效的平板电脑生态系统。
        li <i class="fas fa-chevron-right"></i>  控制健康检查流程。
        li <i class="fas fa-chevron-right"></i>  提高客户可见性。
        li <i class="fas fa-chevron-right"></i>  增加每张维修订单的售出零部件和工时。
        li <i class="fas fa-chevron-right"></i>  商业智能可提供改进点。


block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  EVHC软件
        li <i class="fas fa-chevron-right"></i>  Absolute

    br
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i> 携带解决方案
        li <i class="fas fa-chevron-right"></i> 充电解决方案

block se6 
    - var lang = 'cn'