extends ../template/_modal_rd_2.pug
block se1
    h2.title 极端条件与环境测试
    p.txt 当代车辆必须能够承受极端条件考验，无论是结冰道路还是湿热的次大陆环境。在全面测试这些极端条件时，您所用的设备也必须能够承受同等考验。

block se2
    h2.title 挑战
    p.txt 并非所有设备都能耐受各种严酷环境-有的根本没有强固设计，有的则必须在保护套内使用以免损坏。各种考验包括高湿度、低温、灼热以及实验室中的坠落、冲击或损坏风险。

block se3
    h2.title 解决方案
    p.txt Getac是众多OEM选择的现场设备，可与测量设备连接以获取数据。其设计目的是为了应对严酷的极端环境温度、耐受高强度振动，不会造成代价巨大的中断、设备更换或重复测试。

block se4
    h2.title 优点
    p.txt 我们的设备采用了小巧强固的设计，结合各种功能可完美地适用于任何环境： 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Getac设备的方方面面采用了强固耐用结构。
        li <i class="fas fa-chevron-right"></i>  高效、强大的处理器可快速处理、计算得出高精度数据。 
        li <i class="fas fa-chevron-right"></i>  高易用性和设备熟悉度，方便所有团队成员无缝操作。 
        li <i class="fas fa-chevron-right"></i>  通过各类配置和选配件，可调节设备以适应任何任务或环境。

block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  Absolute
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  底座解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
        li <i class="fas fa-chevron-right"></i>  键盘

block se6 
    - var lang = 'cn'