extends ../template/_modal_work_4.pug
block se1
    h2.title PC诊断
    p.txt 你是否知道当代车辆上一般有60到100个电控单元？整车检查时每个都需要专业诊断——而且还在不断更新。有的更新可远程进行，有的必须由诊断技术人员人工操作。

block se2
    h2.title 挑战
    p.txt 一次全面诊断检查可能需要1-3小时，同时如果您的维修厂涉及来自多个OEM的产品，则需要既能使用最新诊断技术、又能满足严苛、快节奏维修厂环境的解决方案。

block se3
    h2.title 解决方案
    p.txt Getac汽车行业解决方案提供了强固耐用的硬件和无缝化软件帮助您找回浪费的时间，最大程度地提高技术人员时间利用效率。 

    ol.list
        li <i class="fas fa-chevron-right"></i>  通过整合的无线局域网或千兆以太网可将平板电脑快速连接至车辆。
        li <i class="fas fa-chevron-right"></i>  Getac PC诊断考虑了诊断过程中的方方面面，确保最佳监测显示。
        li <i class="fas fa-chevron-right"></i>  使用强固移动技术可无需花时间在工作台操作上，能够直接在车辆上进行诊断。
 
block se4
    h2.title 优点
    p.txt Getac设备是经销商维修厂、移动技术人员等的最佳工具。

    ol.list 
        li <i class="fas fa-chevron-right"></i>  无需电缆连接——Getac的设备能使用双频无线局域网装置和蓝牙装置直接连接到车辆、车辆通讯接口和维修厂电脑系统。 
        li <i class="fas fa-chevron-right"></i>  强固即服务——可使用订购模式，从而实现分散投资，大幅提升投资回报率。 
        li <i class="fas fa-chevron-right"></i>  全球认证与支持——Getac的设备已通过全球认证，支持主要的OEM程序，在世界各地提供维修和支持。 
        li <i class="fas fa-chevron-right"></i>  最佳屏幕尺寸——较大的屏幕便于用户检视数据记录、技术出版物、线路图和作业单信息。
        

block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  Absolute
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  底座解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
        li <i class="fas fa-chevron-right"></i>  键盘

block se6 
    - var lang = 'cn'