extends ../template/_modal_work_6.pug
block se1
    h2.title 智能计划
    p.txt 通过将工作单数字化并连接至其他维修厂系统（DMS、零部件和技术），与手动和纸面工作流程相比，使技术人员效率提高了10%、每个月节省了12个小时。

block se2
    h2.title 挑战
    p.txt 技术人员经常将时间浪费在定位停车场中的车辆，每张工作单平均花费多达10分钟。对于一家中型维修厂（10个车间）来说，一个月下来就增加了多达146个小时的非生产时间。除此以外，技术人员使用工作单打卡还可能导致集中打卡系统每个月浪费多达12个小时。

block se3
    h2.title 解决方案
    p.txt Getac汽车行业解决方案提供了强固耐用的硬件和无缝化软件，可创造更具智慧的维修厂运营，提供更为优化的售后服务。 


    ol.list
        li <i class="fas fa-chevron-right"></i>  无纸化——将纸面工作流程数字化，采用具有任务分配、时间规划、内部消息功能的数字维修订单，直接连接零部件和技术信息（准时、实时）。 
        li <i class="fas fa-chevron-right"></i>  通过邻近技术和技术人员Getac平板电脑，技术人员可在繁忙停车场快速定位车辆。
       
block se4
    h2.title 优点
    p.txt 更具智慧的维修厂将能提供更为优化的售后服务，因此必须将强固耐用的硬件与无缝化计划软件集成到一个平台。 

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Getac平板电脑是一个适用于维修订单任务、时间规划、技术数据和诊断的移动平台。 
        li <i class="fas fa-chevron-right"></i>  提高实时、无纸化流程可见性，以加强合规性。
        li <i class="fas fa-chevron-right"></i>  通过具有操作系统不可知性的开放API连接维修厂。
        li <i class="fas fa-chevron-right"></i>  “及时制”生产方式可大幅提高便利性和效率。 
        li <i class="fas fa-chevron-right"></i>  提高员工的灵活性和生产力，减少等待时间，节省出更多时间来处理新工作单，进而增加收益。
        

block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  计划软件
        li <i class="fas fa-chevron-right"></i>  Absolute

    br
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
          
block se6 
    - var lang = 'cn'