extends ../template/_modal_rd_1.pug
block se1
    h2.title 验证与测试
    p.txt 当代车辆配备了各种车载电脑、电气装置和精密结构件，正变得越来越复杂。量产前车辆的所有方面必须经过全面测试和验证，这意味着工程师需要能够与复杂系统协作的设备。

block se2
    h2.title 挑战
    p.txt 测试不只是对车辆的考验，还对执行检查、扫描和校准的设备提出了要求。从极端天气测试到实验室碰撞、冲击和坠落试验，设备必须为工程师提供顺畅、精确的软件功能，可与精密仪器连接并承受恶劣环境考验。

block se3
    h2.title 解决方案
    p.txt Getac强固设备可以在实验室完美地运作，已用于支持各种研发项目。 
 
    ol.list
        li <i class="fas fa-chevron-right"></i>  耐受极端天气——Getac设备经认证可耐受雨天、多尘、冲击、震动、极端高温和低温环境。 
        li <i class="fas fa-chevron-right"></i>  专用端口——我们的设备配备了不同端口，可支持各种校准、测量和行业专用工具。 
        li <i class="fas fa-chevron-right"></i>  安全性——通过生物识别安全技术保护敏感数据，完全控制您的设备。 
        li <i class="fas fa-chevron-right"></i>  多功能性——强固耐用的硬件结合制造商工程软件，可支持无间断扫描、数据记录和ECU重编程。

block se4
    h2.title 优点
    p.txt 实验室是车辆从概念到量产转化的关键步骤。这个阶段需要可以完全信赖的强固设备，因此Getac开发了可用于研发的设备系列。
 
    ol.list 
        li <i class="fas fa-chevron-right"></i>  无需电缆连接——使用双频无线局域网装置和蓝牙装置快速、直接连接到车辆、车辆通讯接口和研发基础设施。 
        li <i class="fas fa-chevron-right"></i>  全球认证与支持——Getac的设备支持主要的OEM，已通过全球认证，在世界各地提供维修和支持。 
        li <i class="fas fa-chevron-right"></i>  最佳屏幕尺寸——无论您有任何需求，我们的广大设备系列配备了大尺寸屏幕，可支持数据测试、热电池测试和3D原型设计等任务。 
        li <i class="fas fa-chevron-right"></i>  灵活连接——Getac的可配置端口选项可支持业界领先的测试和测量设备。
        

block se5
    h2.title Getac设备：
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title  软件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  Getac设备监控系统
        li <i class="fas fa-chevron-right"></i>  Absolute
    br

    h2.title 配件：
    ol.list
        li <i class="fas fa-chevron-right"></i>  携带解决方案
        li <i class="fas fa-chevron-right"></i>  底座解决方案
        li <i class="fas fa-chevron-right"></i>  充电解决方案
        li <i class="fas fa-chevron-right"></i>  键盘

block se6 
    - var lang = 'cn'