extends ../template/_ZX70
block desc
    h2.title Prova i dispositivi Getac con la realtà aumentata
    p.txt Scansiona il codice QR con il tuo smartphone, posiziona il dispositivo nel tuo ambiente. Sei pronto a giocarci!