| hotspot_1:
include ../../map/components/en/minify/_modal_work_1.html
|
| hotspot_2:
include ../../map/components/en/minify/_modal_work_2.html
|
| hotspot_3:
include ../../map/components/en/minify/_modal_work_3.html
|
| hotspot_4:
include ../../map/components/en/minify/_modal_work_4.html
|
| hotspot_5:
include ../../map/components/en/minify/_modal_work_5.html
|
| hotspot_6:
include ../../map/components/en/minify/_modal_work_6.html