extends ../template/_modal_m_4.pug
block se1
    h2.title Assetmanagement und Wartung
    p.txt Wenn Sie eine Reihe teurer, komplexer Assets besitzen, ist es entscheidend, durch eine Kombination aus der richtigen Hardware und verbundener Software das Meiste aus deren Vorteilen herauszuholen, um die beste Rendite zu erzielen. 

block se2
    h2.title Herausforderung
    p.txt Die Fertigungsumgebung stellt Manager und Betreiber vor eine Reihe von Herausforderungen.

    ol.list 
        li <i class="fas fa-chevron-right"></i> Eingeschränkte Konnektivität erschwert den Remote-Support. 
        li <i class="fas fa-chevron-right"></i> Instabile Netzwerkkonnektivität kann das Assetmanagement stören und es erschweren, den benötigten Remote-Support zu liefern. 
        li <i class="fas fa-chevron-right"></i> Schwache Batterieleistung von Geräten kann zu Ausfallzeiten und Produktivitätseinbußen führen. 
        li <i class="fas fa-chevron-right"></i> Raue Umgebungen erfordern spezialisierte, robuste Geräte.

block se3
    h2.title Lösung
    p.txt Die robusten Geräte und die nahtlos integrierbare, einfach zu integrierende Software von Getac passen sich an die aktuellen Arbeitsabläufe in Ihrer Fertigungsstätte an, um die Arbeitsabläufe im Assetmanagement zu verbessern und die Produktivität zu steigern. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Führen Sie prädiktive Wartungen durch, um Ausfallzeiten von Assets zu minimieren. 
        li <i class="fas fa-chevron-right"></i> Sammeln Sie Daten in Echtzeit, um Ereignisse zu identifizieren, die in Zukunft möglicherweise Probleme verursachen können. 
        li <i class="fas fa-chevron-right"></i> Nutzen Sie robust konstruierte Geräte, die den Arbeitsbedingungen in einer Fertigungsstätte widerstehen können.
        li <i class="fas fa-chevron-right"></i> Dank doppelter Batteriekapazität können die Geräte für eine volle Schicht oder länger betrieben werden. Dadurch kommt es zu weniger Ausfallzeiten.

block se4
    h2.title Vorteile
    p.txt Branchenführende Hersteller vertrauen auf Getac, um qualitativ hochwertige Geräte zu erhalten, deren robuste Hardware und optimierte Software Assetmanagement und Wartungsarbeiten ermöglichen.  

    ol.list 
        li <i class="fas fa-chevron-right"></i> Getac-Produkte sind von Natur aus robust und für den Einsatz unter rauen Bedingungen ausgelegt.
        li <i class="fas fa-chevron-right"></i> Wir bieten Ihnen umfassende technische Unterstützung vor Ort in Bereichen wie Systemintegration und Kompatibilitätstests, Entwicklung von Andocklösungen, Software-Imaging und Aftersales-Support. 
        li <i class="fas fa-chevron-right"></i> Branchenführende Hersteller auf der ganzen Welt vertrauen unseren Produkten. 
        li <i class="fas fa-chevron-right"></i> Wir geben Ihnen die branchenweit beste Garantie für mindestens drei Jahre, einschließlich einer Garantie gegen Unfallschäden.

block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
        li <i class="fas fa-chevron-right"></i> T800, T800-EX
        li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
        li <i class="fas fa-chevron-right"></i> F110, F110-EX
        li <i class="fas fa-chevron-right"></i> K120, K120-EX
        li <i class="fas fa-chevron-right"></i> A140
        li <i class="fas fa-chevron-right"></i> B360

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Dockinglösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 
        li <i class="fas fa-chevron-right"></i> Tastaturen


block se6 
    - var lang = 'de'