extends ../template/_modal_work_6.pug
block se1
    h2.title Intelligente Planung (2) 
    p.txt Im Vergleich zu papiergestützten und manuellen Arbeitsabläufen können Sie durch die Digitalisierung Ihrer Arbeitskarten und die Anbindung an andere Werkstattsysteme wie ein DMS die Effizienz Ihrer Werkstatt um 10 % steigern und 12 Stunden pro Monat pro Techniker einsparen.

block se2
    h2.title Herausforderung
    p.txt Techniker verschwenden oft Zeit mit dem Auffinden von Fahrzeugen auf dem Service-Parkplatz, bis zu 10 Minuten pro Arbeitskarte. Bei einer durchschnittlichen Werkstatt (10 Hebebühnen) kann sich dies pro Monat auf bis zu 146 Stunden summieren, die nicht produktiv genutzt werden. Außerdem können durch das Ein- und Ausstempeln der Arbeitskarten durch die Techniker bis zu 12 Stunden pro Monat für den Zugriff auf zentral gelegene Zeiterfassungssysteme verschwendet werden. 

block se3
    h2.title Lösung
    p.txt Getac Automotive bietet Ihnen sowohl robuste Hardware als auch nahtlos integrierbare Software, mit denen Sie den Betrieb Ihrer Werkstatt intelligenter machen und Aftersales optimieren können. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Papierloses Arbeiten – Digitalisieren Sie papiergestützte Arbeitsabläufe mit digitalen Reparaturaufträgen, die eine Aufgabenzuweisung, eine Zeiterfassung, einen internen Messenger und einen direkten Link zu Teilen und technischen Informationen umfassen (Just-In-Time und Echtzeit). 
        li <i class="fas fa-chevron-right"></i> Mithilfe von Annäherungstechnologie und seinem Getac-Tablet ist der Techniker in der Lage, sein Fahrzeug auch auf einem betriebsreichen Parkplatz schnell zu lokalisieren. 
block se4
    h2.title Vorteile
    p.txt Intelligentere Werkstätten sorgen für optimierte Aftersales. Daher haben wir unsere robuste Hardware mit nahtlos integrierbarer Planungssoftware in einer einzigen Plattform zusammengefasst. 


    ol.list 
        li <i class="fas fa-chevron-right"></i> Ihr Getac-Tablet bietet eine einzige, mobile Plattform für Reparaturaufträge, Arbeitszeiterfassung, technische Daten und Diagnosen. 
        li <i class="fas fa-chevron-right"></i> Verbessern Sie Ihre Compliance mit einem besseren Überblick über den papierlosen Echtzeit-Prozess.
        li <i class="fas fa-chevron-right"></i> Unsere Lösungen verbinden sich über ein offenes, vom Betriebssystem unabhängiges API mit Ihrer Werkstatt.
        li <i class="fas fa-chevron-right"></i> Unsere „Just-In-Time“-Methode bietet sowohl mehr Komfort als auch höhere Effizienz.  
        li <i class="fas fa-chevron-right"></i> Mobilisieren Sie Ihre Mitarbeiter, damit sie produktiv sind und eine größere Anzahl von umsatzfördernden Aufgaben mit weit weniger Leerlaufzeiten übernehmen können. 


block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Planning Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 
