extends ../template/_modal_work_5.pug
block se1
    h2.title Digitale technische Dokumentation
    p.txt Das Durchschnittsalter des Fahrzeugbestands nimmt zu: In den USA liegt es bei 11,8, in Deutschland bei 9,8 und in Russland bei 13 Jahren. Die Instandhaltung dieser Fahrzeuge wird höhere Investitionen in Wartungsmaßnahmen erfordern. Dies bedeutet Zugang zu umfangreichen Reparatur- und Wartungsinformationen seitens des OEM. 

block se2
    h2.title Herausforderung
    p.txt Das „Recht auf Reparatur“ wird in vielen Branchen heiß diskutiert – auch im Automobilsektor. Die OEMs sind für die Bereitstellung technischer Teile und Serviceinformationen für ihr eigenes Netzwerk, ihre Kunden und freie Reparaturwerkstätten verantwortlich – entweder über technische Portale und Websites für ihre angeschlossenen Servicestellen und über Online-Abonnements für den freien Teilehandel.

block se3
    h2.title Lösung
    p.txt Getac Automotive stellt Fahrzeugcodedaten, nicht emissionsrelevante Informationen, Neuprogrammierungen oder Flashvorgänge für alle Marken und Modelle direkt auf dem robusten Gerät des Technikers bereit, damit die Wartung und Reparatur noch effizienter durchgeführt werden und der Techniker reibungslos arbeiten kann.

block se4
    h2.title Vorteile
    p.txt Getac Automotive ist ein bewährtes Werkstatt- und Diagnosetool, das von OEMs in aller Welt bevorzugt genutzt wird.
 

    p.txt Mit der optimierten Lösung von Getac erhalten Sie Geräte, die... 

    ol.list 
        li <i class="fas fa-chevron-right"></i> zur einzigen Plattform für Reparaturaufträge, Arbeitszeiterfassung, technische Daten und Diagnosen werden, 
        li <i class="fas fa-chevron-right"></i> sich bei Außeneinsätzen oder schlechter WLAN-Verbindung in der Werkstatt mit einer WWAN-Verbindung für cloudbasierte OEM-Technikplattformen verbinden,
        li <i class="fas fa-chevron-right"></i> vertrauliche technische Daten mit optionalen Funktionen von Getac wie RFID, Device Monitoring und Multi-Faktor-Authentifizierung sichern,
        li <i class="fas fa-chevron-right"></i> dank ihrer robusten Konstruktion und nahtlos integrierbarer Software mit jeder Aufgabe in Ihrer Werkstatt zurechtkommen.    

block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 
