extends ../template/_modal_m_1.pug
block se1
    h2.title Fertigungsbereich und Produktion
    p.txt Der Fertigungsbereich ist eine anspruchsvolle Umgebung – mit schwerem Gerät, starken Erschütterungen und immer komplexer werdenden Software-Lösungen, die alles zusammenbringen.

block se2
    h2.title Herausforderung
    p.txt Abgesehen von den Umgebungsfaktoren ist der Fertigungsbereich auch ein Knotenpunkt für eine Reihe anderer Bereiche, wie z. B. Materialrouting, Bestandsmanagement, Teileverfügbarkeit und Personaleinsatzplanung. 


block se3
    h2.title Lösung
    p.txt Getac-Geräte sind robust genug, jeder Umgebung standhalten zu können, einschließlich Ihres Fertigungsbereiches. Sie bieten viele Vorteile, mit denen Sie den Betrieb Ihres Fertigungsbereiches einfacher, reibungsloser und intelligenter machen können: 

    ol.list
        li <i class="fas fa-chevron-right"></i> Mobile Leistungsüberwachung für ein Fertigungs-Tracking in Echtzeit. 
        li <i class="fas fa-chevron-right"></i> Integration mit WMS-Software für nahtlose Interoperabilität. 
        li <i class="fas fa-chevron-right"></i> Leicht lesbare Bildschirme und Benutzerfreundlichkeit für ein leichteres Sammeln von Daten in extremen Umgebungen.
    

block se4
    h2.title Vorteile
    p.txt Branchenführende Hersteller vertrauen auf Getac, ihnen qualitativ hochwertige Geräte zu bieten, deren robuste Hardware und optimierte Software mit den Herausforderungen eines Fertigungsbereiches zurechtkommen. 

    ol.list 
        li <i class="fas fa-chevron-right"></i> Die Produkte von Getac sind inhärent robust und so konstruiert, dass sie auch den widrigsten Bedingungen standhalten. 
        li <i class="fas fa-chevron-right"></i> Wir bieten Ihnen umfassende technische Unterstützung vor Ort in Bereichen wie Systemintegration und Kompatibilitätstests, Entwicklung von Andocklösungen, Software-Imaging und Aftersales-Support. 
        li <i class="fas fa-chevron-right"></i> Branchenführende Hersteller auf der ganzen Welt vertrauen unseren Produkten. 
        li <i class="fas fa-chevron-right"></i> Sie erhalten die branchenweit beste Garantie für mindestens drei Jahre, einschließlich einer Garantie gegen Unfallschäden. 

block se5
    h2.title Getac-Gerät
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
        li <i class="fas fa-chevron-right"></i> T800, T800-EX
        li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
        li <i class="fas fa-chevron-right"></i> F110, F110-EX 
        li <i class="fas fa-chevron-right"></i> K120, K120-EX
        li <i class="fas fa-chevron-right"></i> A140
        li <i class="fas fa-chevron-right"></i> B360

    br
    br

    h2.title Software
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title Zubehör
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Dockinglösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 
        li <i class="fas fa-chevron-right"></i> Tastaturen

block se6 
    - var lang = 'de'