extends ../template/_modal_m_2.pug
block se1
    h2.title Qualitätskontrolle
    p.txt Reibungslose Fertigungsabläufe hängen von effizienten Maschinen und Prozessen ab. Über 550 Automobilfertigungsanlagen weltweit, die 60 verschiedene Marken und 14 weltweit tätige Unternehmen repräsentieren – und sie alle nutzen zunehmend die Vorteile von Technologie der Industrie 4.0, um einen Wettbewerbsvorteil bei Effizienz, Kosten und Kundenzufriedenheit zu erlangen. 

block se2
    h2.title Herausforderung
    p.txt Qualitätskontrollsysteme sind voller Variablen, egal ob Six Sigma, TQM oder Lean Production. Doch diese Variablen, wie Fehleranalyse, Annahmetests, technische Inspektionen, Zertifizierungen und die Inspektion von Vormontageteilen, können digitalisiert werden. 


    p.txt Für eine effektive Digitalisierung benötigen Sie eine Lösung, die... 
    ol.list
        li <i class="fas fa-chevron-right"></i> mit großen Datenmengen umgehen kann, 
        li <i class="fas fa-chevron-right"></i> so robust gebaut ist, dass sie auch mobil eingesetzt werden kann 
        li <i class="fas fa-chevron-right"></i> vorangegangene Fehlschläge aufzeichnen, die eigentliche Ursache analysieren und die Implementierung von Korrekturmaßnahmen vorschlagen kann, 
        li <i class="fas fa-chevron-right"></i> von mehreren Teammitgliedern reibungslos und in Echtzeit genutzt werden kann.

block se3
    h2.title Lösung
    p.txt Die robuste mobile Hardware und nahtlos integrierbare Software von Getac kann zum Herzstück Ihrer Qualitätskontrolle werden. 

    p.txt Führende Hersteller vertrauen unseren Geräten, weil sie... 
    ol.list
        li <i class="fas fa-chevron-right"></i> sich nahtlos mit Ihrer aktuellen ERP-Software integrieren lassen, 
        li <i class="fas fa-chevron-right"></i> dank ihrer robusten Konstruktion mit den anspruchsvollen Bedingungen im Fertigungsbereich zurechtkommen,
        li <i class="fas fa-chevron-right"></i> alle Eingaben durch eine Vielzahl von Benutzern erfassen, die dann auf allen verbundenen mobilen Geräten verfügbar sind.

block se4
    h2.title Vorteile
    p.txt Branchenführende Hersteller vertrauen auf Getac, um Qualitätskontrolllösungen zu bieten, die robuste Hardware und optimierte Software miteinander verbinden. 

    ol.list 
        li <i class="fas fa-chevron-right"></i>Die Produkte von Getac sind inhärent robust und so konstruiert, dass sie allen Wetterbedingungen standhalten. 
        li <i class="fas fa-chevron-right"></i>Wir bieten Ihnen umfassende technische Unterstützung vor Ort in Bereichen wie Systemintegration und Kompatibilitätstests, Entwicklung von Andocklösungen, Software-Imaging und Aftersales-Support. 
        li <i class="fas fa-chevron-right"></i>Branchenführende Hersteller auf der ganzen Welt vertrauen unseren Produkten. 
        li <i class="fas fa-chevron-right"></i>Wir geben Ihnen die branchenweit beste Garantie für mindestens drei Jahre, einschließlich einer Garantie gegen Unfallschäden.

block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> K120
        li <i class="fas fa-chevron-right"></i> V110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i>Tragelösungen 
        li <i class="fas fa-chevron-right"></i>Dockinglösungen 
        li <i class="fas fa-chevron-right"></i>Ladelösungen 
        li <i class="fas fa-chevron-right"></i>Tastaturen


block se6 
    - var lang = 'de'