extends ../template/_modal_warehouse_1.pug
block se1
    h2.title Inventar- und Lagermanagement
    p.txt Das moderne Fertigungslager ist entscheidend für die betriebliche Effizienz im Fertigungsprozess – von der Verwaltung der Bewegung von Bauteilen über den Wareneingang bis zur Ausgabe des fertigen Produkts.
block se2
    h2.title Herausforderung
    p.txt Viele Lager verwenden ein Warehouse Management System (WMS), um ihren Inventarbestand zu kontrollieren, und viele greifen zunehmend auf Automatisierung zurück, um ihre Prozesse effizienter und kostengünstiger zu gestalten. Doch Sie benötigen Geräte, die dieser Komplexität auch gewachsen sind. 

    p.txt Geräte für moderne Lager müssen imstande sein... 
    ol.list 
        li <i class="fas fa-chevron-right"></i> den Inventarfluss zu erfassen, aufzuzeichnen und zu verwalten, 
        li <i class="fas fa-chevron-right"></i> die Auftragsabwicklung, Kommissionierung/Verpackung sowie Be- und Entladung. 
        li <i class="fas fa-chevron-right"></i> den Umgang mit Material in Bereichen zu automatisieren, in denen sowohl Menschen als auch Roboter arbeiten, 
        li <i class="fas fa-chevron-right"></i> sich mit automatisierten Lager- und Bereitstellungssystemen sowie automatisch gelenkten Fahrzeugen zu integrieren, 
        li <i class="fas fa-chevron-right"></i> mit Barcodes oder RFID-Lesegeräten zu arbeiten, 
        li <i class="fas fa-chevron-right"></i> mit den Mitarbeitern mobil zu arbeiten, um einen wirklich integrierten Betrieb zu ermöglichen, 
        li <i class="fas fa-chevron-right"></i> den rauen Bedingungen in Fertigungsbereichen zu widerstehen.

block se3
    h2.title Lösung
    p.txt Die Lösungen von Getac für das Inventar- und Lagermanagement lassen sich nahtlos mit branchenführender Inventarmanagement-, ERP- und WMS-Software integrieren. Unsere robusten Geräte haben sowohl die Rechenleistung als auch die robuste Konstruktionsweise, damit Sie unbesorgt Ihrer Arbeit nachgehen können. Damit sind sie die ideale Plattform für das Inventar- und Lagermanagement.


block se4
    h2.title Vorteile
    p.txt Unsere robust gebauten Lösungen können den rauen Bedingungen in einem Lager standhalten und bieten eine Reihe von Funktionen, die Ihnen dabei helfen, Ihr Inventar nachzuverfolgen und zu verwalten. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Die Lösungen von Getac können sich direkt mit Lagermanagementsystemen verbinden und durch die Optimierungen der verfügbaren Ressourcen die betriebliche Effizienz steigern. 
        li <i class="fas fa-chevron-right"></i> Unsere robusten Tablets können mit dem optionalen Digitizer-Stift einhändig bedient werden.  
        li <i class="fas fa-chevron-right"></i> Eingebaute Kameras machen verbale Beschreibungen überflüssig, wodurch Daten leichter erhalten und transferiert werden können. 
        li <i class="fas fa-chevron-right"></i> Unsere Geräte bieten optionale 1D- und 2D-Barcode-Leser für einen reibungslosen Betrieb in Ihrem Lager. 
        li <i class="fas fa-chevron-right"></i> Durch eine Vielzahl an Halterungen, Anschlussstellen und anderes Zubehör lassen sich unsere Geräte optimal für Ihre Bedürfnisse konfigurieren – ob Sie nun an einem Gabelstapler angebracht werden sollen oder freihändig nutzbar sein sollen.


block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility
        li <i class="fas fa-chevron-right"></i> Getac Driving Safety Utility
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Dockinglösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 
        li <i class="fas fa-chevron-right"></i> Router und Antennen 
        li <i class="fas fa-chevron-right"></i> Tastaturen

