extends ../template/_modal_work_4.pug
block se1
    h2.title PC-basierte Fehlerdiagnose
    p.txt Wussten Sie, dass sich an einem modernen Fahrzeug 60 bis 100 Steuergeräte finden lassen? Jedes davon benötigt dedizierte Diagnostiken, um eine gründliche Prüfung durchzuführen. Und diese werden fortlaufend aktualisiert. Einige können aus der Entfernung vorgenommen werden, andere jedoch müssen persönlich durch einen entsprechenden Techniker durchgeführt werden. 

block se2
    h2.title Herausforderung
    p.txt Eine umfassende Fahrzeugdiagnose kann zwischen 1 und 3 Stunden dauern, und wenn Ihre Werkstatt mit Produkten verschiedener OEMs arbeitet, brauchen Sie eine Lösung, die sowohl mit den neuesten Updates als auch mit der anspruchsvollen, schnelllebigen Werkstattumgebung Schritt halten kann. 

block se3
    h2.title Lösung
    p.txt Mit robuster Hardware und nahtlos integrierbarer Software hilft Getac Automotive Ihnen dabei, verschwendete Zeit zurückzugewinnen und die Zeit für Ihre Techniker zu maximieren. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Unsere Tablet-PCs verbinden sich über integriertes WLAN oder Gigabit-Ethernet schnell mit dem Fahrzeug.
        li <i class="fas fa-chevron-right"></i> Die PC-basierten Fehlerdiagnosen von Getac berücksichtigen alle Aspekte des Diagnosevorgangs und sorgen für optimale Sichtbarkeit.
        li <i class="fas fa-chevron-right"></i> Durch den Einsatz robuster, mobiler Technologie kann mehr Zeit für die Arbeit am Fahrzeug aufgewendet werden, ohne an eine Werkbank gebunden zu sein.


block se4
    h2.title Vorteile
    p.txt Die Geräte von Getac sind das ideale Werkzeug – für Händlerwerkstätten ebenso wie für mobile Techniker.

    ol.list 
        li <i class="fas fa-chevron-right"></i> Kabellose Konnektivität – Unsere Geräte lassen sich dank WLAN und Bluetooth direkt mit dem Fahrzeug, VCI und den Computersystemen der Werkstatt verbinden. 
        li <i class="fas fa-chevron-right"></i> Robustheit als Service – Mit unseren Abo-Modellen können Sie Ihre Investition über einen längeren Zeitraum verteilen und von einer hohen Investitionsrentabilität (ROI) profitieren. 
        li <i class="fas fa-chevron-right"></i> Globale Zertifizierung und Support – Unsere Geräte sind für den weltweiten Einsatz zertifiziert und unterstützen derzeit alle wichtigen OEM-Programme – und das mit erstklassigem Service und Support. 
        li <i class="fas fa-chevron-right"></i> Optimale Bildschirmgröße – Größere Bildschirme geben den Benutzern eine bessere Übersicht über Datenaufzeichnungen, technische Dokumentationen, Schaltpläne und Arbeitskarten. 

block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Dockinglösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 
        li <i class="fas fa-chevron-right"></i> Tastaturen
