extends ../template/_modal_work_3.pug
block se1
    h2.title EVHC
    p.txt Jedes Mal, wenn an einem Fahrzeug eine EHVC durchgeführt, werden dem Kunden durchschnittlich zusätzliche 35 $ in Rechnung gestellt. Es dürfte also nicht überraschen, dass Fahrzeughersteller und ihre Händler eine Inspektion in mehreren Schritten am Fahrzeug durchführen möchten, während das Fahrzeug auf der Rampe steht und die Reifen abgenommen wurden. Die Steuerung des Prozesses gewährleistet, dass keine Punkte übersehen werden und die Kunden in Echtzeit auf dem Laufenden gehalten werden. Steigerung der Umsetzungsraten von rot und gelb gekennzeichneten Artikeln um bis zu 70 %.

block se2
    h2.title Herausforderung
    p.txt Sobald sich das Fahrzeug auf der Rampe befindet, sollte ein Techniker jedes Mal eine ausführliche Mehrpunkt-Inspektion durchführen. Dies wird üblicherweise mit einem Abfragebogen auf Papier durchgeführt. Sämtliche identifizierten Elemente werden dann im DMS protokolliert und hochgeladen. Wird dies auf Papier getan, kann der Techniker die volle Inspektion überspringen und nur ausgewählte Elemente überprüfen. Dies ist ein zeitaufwändiger Prozess, der für den Kunden nicht einsehbar ist, denn es gibt keine Möglichkeit, Bilder oder Videos aufzunehmen. 

block se3
    h2.title Lösung
    p.txt Getac Automotive ermöglicht es Werkstätten, ganz einfach integrierte und papierlose EVHCs durchzuführen. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Papierlose Werkstätten – Digitalisieren Sie Checklisten auf Papier und geben Sie Ihren Technikern die Möglichkeit, Fotos, Videos und Anmerkungen einzufügen, die auch dem Kunden per E-Mail bereitgestellt werden können.
        li <i class="fas fa-chevron-right"></i> Native Anwendung 
        li <i class="fas fa-chevron-right"></i> Online/Offline-Fähigkeiten
        li <i class="fas fa-chevron-right"></i> Rollenbasiert
        li <i class="fas fa-chevron-right"></i> Eingebettete Videos

block se4
    h2.title Vorteile
    p.txt Die Kombination aus nahtlos integrierbarer Software und robuster Hardware von Getac bietet eine Reihe von Vorteilen für Werkstätten: 


    ol.list 
        li <i class="fas fa-chevron-right"></i> Wechsel von Papier zu Tablets
        li <i class="fas fa-chevron-right"></i> Keine doppelten Tastenbelegungen
        li <i class="fas fa-chevron-right"></i> Schafft Vertrauen durch ein transparentes digitales Erlebnis
        li <i class="fas fa-chevron-right"></i> Sie können Ihre Sorgfaltspflicht gegenüber Ihren Kunden problemlos erfüllen
        li <i class="fas fa-chevron-right"></i> Mehr Gesundheitsprüfungen bedeuten mehr Arbeitsdurchsatz, mehr Kundensicherheit und bessere Kundenbindungsraten

block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> EVHC Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 

block se6 
    - var lang = 'de'