extends ../template/_modal_rd_2.pug
block se1
    h2.title Extreme Conditions & Environmental Testing
    p.txt Modern vehicles have to stand up to extreme conditions - whether that's the rigours of a frozen road or a hot, humid sub-continental environment. To thoroughly test these conditions, you need a device that can stand up to the same challenges. 

block se2
    h2.title Challenge
    p.txt Not all devices are able to survive in harsh conditions - whether they're simply not built-rugged from the start or have to be put in a case to prevent damage. High-humidity, low temperatures, searing heat - each has its challenges, not to mention risk of drops, knocks or damage in the laboratory. 

block se3
    h2.title Solution
    p.txt Getac is the device of choice for several OEM's to take out into the field, connect with measurement devices and perform as a data acquisition device. They are designed to work in harsh and extreme ambient temperatures, endure high levels of vibration - ensuring there is no costly disruption, device replacement or a need to repeat the test. 


block se4
    h2.title Benefits
    p.txt Our compact, rugged-devices have a number of features that make them perfectly suited to any environment: 


    ol.list 
        li <i class="fas fa-chevron-right"></i> Built-rugged construction permeates every level of our devices.
        li <i class="fas fa-chevron-right"></i> Fast, powerful processors enable rapid working and calculation for the most precise data. 
        li <i class="fas fa-chevron-right"></i> High ease-of-use and device familiarity ensures seamlessly operability by all members of your team. 
        li <i class="fas fa-chevron-right"></i> A range of configurations and accessories means our devices can be modulated to suit any task or environment.
        

block se5
    h2.title Getac Device
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title Accessories
    ol.list
        li <i class="fas fa-chevron-right"></i> Carrying Solutions 
        li <i class="fas fa-chevron-right"></i> Docking Solutions 
        li <i class="fas fa-chevron-right"></i> Charging Solutions 
        li <i class="fas fa-chevron-right"></i> Keyboards
