extends ../template/_modal_work_1.pug
block se1
    h2.title Intelligente Planung
    p.txt Künstliche Intelligenz ist überall – nun können Sie sie nutzen, um die Buchungs- und Ladeprozesse für Ihre Werkstatt zu automatisieren. So können Sie die Zeit, die Kunden für die Buchung ihrer Fahrzeuge benötigen, erheblich verkürzen und bis zu 25 % der Arbeitszeit für dieselben Ladevorgänge in der Werkstatt einsparen. Künstliche Intelligenz ist überall – nun können Sie sie nutzen, um die Buchungs- und Ladeprozesse für Ihre Werkstatt zu automatisieren. Sie können die Zeit, die Kunden für die Buchung ihrer Fahrzeuge benötigen, erheblich verkürzen und bis zu 25 % der Arbeitszeit für dieselben Ladevorgänge in der Werkstatt einsparen.

block se2
    h2.title Herausforderung
    p.txt In vielen Fällen wird die Werkstattplanung immer noch manuell und mit papiergestützten Prozessen vorgenommen. Hierdurch wird der Betriebsablauf verlangsamt, Zeit verschwendet, Kosten gesteigert und dem Service-Team die Verantwortung aufgebürdet, kritische Geschäftsentscheidungen zu treffen, obwohl es dafür nicht aufgestellt ist. Selbst die besten Pläne können sich ändern, und wenn Sie sich nicht schnell anpassen können, sind ein schlechtes Kundenerlebnis und fallende Verbleibquoten die Folge. 

block se3
    h2.title Lösung
    p.txt Getac Automotive bietet Ihnen sowohl robuste Hardware als auch nahtlos integrierbare Software, mit denen Sie den Betrieb Ihrer Werkstatt intelligenter machen und den Aftersales optimieren können. 
    ol.list
        li <i class="fas fa-chevron-right"></i> Durch Echtzeit-Verarbeitung und Aufgabenaufteilung lassen sich Engpässe vermeiden, die bei intransparenten manuellen Planungssystemen häufig auftreten. 
        li <i class="fas fa-chevron-right"></i> Mit unserer intelligenten Werkstattplanung lassen sich komplexe Arbeitsabläufe schneller bemessen. So werden Sie den Ansprüchen Ihrer Kunden problemlos gerecht. Gleichzeitig lernt die KI ständig dazu und passt sich den individuellen Anforderungen Ihrer Werkstatt immer besser an.
        li <i class="fas fa-chevron-right"></i> Unsere Lösungen nutzen Open API-Architektur und sind RPA-konform.
        li <i class="fas fa-chevron-right"></i> Unsere Lösungen nutzen KI, um Arbeitsaufträge zu planen und Aufgaben automatisch zuzuweisen. Die Planung findet so statt, dass die fristgerechte Übergabe an den Kunden gewährleistet bleibt und dass die beteiligten Techniker entsprechend zertifiziert und qualifiziert sind.
        li <i class="fas fa-chevron-right"></i> Unsere Software kann sich bei krankheitsbedingten Ausfällen von Mitarbeitern sofort an die neue Situation anpassen und Aufträge neu zuweisen sowie Online-Buchungen vornehmen und Teams planen. 
        li <i class="fas fa-chevron-right"></i> Unsere Lösungen können als Teil von Händlerbetrieben mit mehreren oder nur einem Standort arbeiten und ständig Produktivitäts- und Effizienzdaten für das Managementteam generieren.

block se4
    h2.title Vorteile
    p.txt Intelligentere Werkstätten sorgen für optimierten Aftersales. Daher haben wir unsere robuste Hardware mit nahtlos integrierbarer Planungssoftware in einer einzigen Plattform zusammengefasst. 


    ol.list
        li <i class="fas fa-chevron-right"></i> Einfaches, intuitives Planungsdashboard mit optischen Warnhinweisen und vollständiger Automatisierung für absolute Genauigkeit.
        li <i class="fas fa-chevron-right"></i> Kunden und Empfangsmitarbeiter können Arbeiten schnell und bequem mit wenigen Klicks buchen und Techniker zuweisen.
        li <i class="fas fa-chevron-right"></i> Ein anpassungsfähiger Logik-Editor gewährleistet, dass Ihre einzigartigen Arbeitsabläufe und OEM-Richtlinien beim Planungsprozess immer im Vordergrund stehen und eingehalten werden.
        li <i class="fas fa-chevron-right"></i> Unsere Lösungen stellen sicher, dass Ersatzfahrzeuge, Spezialwerkzeuge oder Arbeitsbereiche stets zur Verfügung stehen, wenn Sie sie brauchen.
        li <i class="fas fa-chevron-right"></i> Dashboard und statistische Berichte verfolgen die Leistung und geben Ihnen einen Überblick über Ihren gesamten Betrieb, wenn Sie ihn brauchen.
        li <i class="fas fa-chevron-right"></i> Unsere Lösungen lassen sich nahtlos in die Plattformen von OEMs, Händlern und Werkstätten integrieren. Dadurch beschleunigen Sie die Prozesse und beziehen in Echtzeit Informationen, ohne dass eine An- und Abmeldung in mehreren Systemen erforderlich ist.

block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Planning Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 


block se6 
    - var lang = 'de'