extends ../template/_modal_work_2.pug
block se1
    h2.title EVHC (1)
    p.txt In allen Branchen schreitet die Digitalisierung unaufhaltsam voran, ob es nun darum geht, ein Taxi zu rufen oder Informationen von einem Gesundheitsdienstleister abzurufen. In der Automobilbranche ist es nicht anders. Die Erwartungen und das Verhalten der Kunden erfordern stetige Veränderungen. Mit Elektronischen Direktannahmen (Electronic Vehicle Health Checks, EVHCs) können Sie sowohl Ihren Kunden als auch dem Service-Team eine papierlose und transparente Erfahrung bieten. So stellen Sie sicher, dass der Übergabe- und Inspektionsprozess auf ein notwendiges Minimum reduziert wird, was wiederum zu einem besseren Kundenerlebnis führt und die Chance auf den Verkauf von Ersatzteilen erhöht.

block se2
    h2.title Herausforderung
    p.txt Papiergestützte Inspektionsdurchgänge nehmen sehr viel Zeit in Anspruch. Sobald der Kunde unterschrieben hat, muss der Service-Berater die Notizen wieder in das DMS eingeben. Dadurch verdoppelt sich die Arbeit und der Service-Berater könnte sich dazu verleiten lassen, die Standardprozesse des OEMs oder Händlers zu überspringen, mit einem entsprechenden Risiko für den Händler. Abgesehen von der zusätzlichen Arbeit und dem Risiko, geltende Vorschriften nicht einzuhalten, ist auch das Kundenerlebnis möglicherweise schlechter, da diese darauf warten müssen, dass der Berater vom DMS neue Informationen erhält. 

block se3
    h2.title Lösung
    p.txt Getac Automotive ermöglicht es Werkstätten, ganz einfach integrierte und papierlose EVHCs durchzuführen. 
    ol.list
        li <i class="fas fa-chevron-right"></i>100 % Fahrzeuginspektionen – Die EVHC-Plattform von Getac sieht vor, dass alle Prüfungen nach den OEM-Standards ausgeführt werden. Das gibt dem Kunden ein Gefühl von Sicherheit und bringt dem Händler zusätzliche Umsatzmöglichkeiten ein. 
        li <i class="fas fa-chevron-right"></i>Schnelle, intuitive Benutzeroberfläche – Die EVHC-Plattform von Getac strafft den gesamten Ablauf, indem sie Zeitschätzungen und genaue Übergabezeiten liefert, die wiederum schnelle Entscheidungen ermöglichen. 
        li <i class="fas fa-chevron-right"></i>Anpassung an Ihre Arbeitsweise – Unsere Software funktioniert unabhängig vom Betriebssystem und verfügt über ein hochgradig konfigurierbares, flexibles und offenes API.
        li <i class="fas fa-chevron-right"></i>Sehen Sie das ganze Bild – Sie erhalten ein Dashboard und eine Management-Konsole für die Abfrage von Durchsatz, Compliance und Effizienz auf Standort- und Gruppen- sowie nationaler und globaler Ebene.

block se4
    h2.title Vorteile
    p.txt Die Kombination aus nahtlos integrierbarer Software und robuster Hardware von Getac bietet eine Reihe von Vorteilen für Werkstätten: 

    ol.list
        li <i class="fas fa-chevron-right"></i> Sie arbeiten mit einer effizienten, Tablet-gestützten Arbeitsumgebung statt mit langsamen, papiergestützten Prozessen.
        li <i class="fas fa-chevron-right"></i> Sie haben die Kontrolle über den Gesundheitscheck-Prozess.
        li <i class="fas fa-chevron-right"></i> Sie geben Ihren Kunden einen besseren Überblick.
        li <i class="fas fa-chevron-right"></i>  Erhöhen Sie die Anzahl der Teile pro Reparaturauftrag und der geleisteten Arbeitsstunden.
        li <i class="fas fa-chevron-right"></i> Sie erhalten Einblicke darin, wo Verbesserungen vorgenommen werden können.


block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> EVHC Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 

