extends ../template/_modal_m_3.pug
block se1
    h2.title Lieferung und Transport
    p.txt Die Auslieferung und der Transport von Waren unterliegen strengen Standards, die unbedingt eingehalten werden müssen. Abgesehen von diesen Anforderungen kann ein papiergestützter Arbeitsablauf auch zu einer mangelhaften Übersicht über Ihre Lieferkette führen. 

block se2
    h2.title Herausforderung
    p.txt Im Transport und in der Logistik gibt es besondere Herausforderungen, die überwunden werden müssen, damit Kunden zufrieden sind, Lieferungen pünktlich erfolgen und der Betrieb auf der Straße effizient bleibt. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Manuelle Papierarbeit führt zu Lücken und birgt die Gefahr, dass Dokumente verloren gehen oder beschädigt werden. 
        li <i class="fas fa-chevron-right"></i> Die Lieferzeiten werden immer knapper, da Kunden ihre Waren immer schneller erhalten wollen. 
        li <i class="fas fa-chevron-right"></i> Betrug und Diebstahl stellen weiterhin ein großes Problem dar. Nicht miteinander verbundene Systeme bieten zusätzliche Gelegenheiten dazu.

block se3
    h2.title Lösung
    p.txt Die berühmt robusten Geräte von Getac Automotive kommen mit nahtlos verbundenen Software-Lösungen, sodass es keine Aufgaben gibt, mit denen unsere Lösungen nicht fertig werden. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Mit unserer intelligenten Software können Sie Effizienz steigern, Gelegenheiten zur Konsolidierung identifizieren und Kosten senken. 
        li <i class="fas fa-chevron-right"></i> Mit unseren Lösungen können Sie die Routen Ihrer Fahrer optimieren. 
        li <i class="fas fa-chevron-right"></i> Sie erhalten eine einzige Plattform, die sich mit Ihren bestehenden Systemen verbinden kann. Dies garantiert Benutzerfreundlichkeit und Vertrautheit mit den Geräten für ihre gesamte Belegschaft. 
        li <i class="fas fa-chevron-right"></i> Mit unseren Lösungen erfassen Sie Daten in Echtzeit und stellen sie geräteübergreifend für mehrere Mitarbeiter und Touchpoints zur Verfügung.

block se4
    h2.title Vorteile
    p.txt Branchenführende Hersteller vertrauen auf Getac, um qualitativ hochwertige Geräte zu erhalten, deren robuste Hardware und optimierte Software für Transport und Lieferung optimiert sind. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Die Produkte von Getac sind inhärent robust und so konstruiert, dass sie allen Wetterbedingungen standhalten. 
        li <i class="fas fa-chevron-right"></i> Wir bieten Ihnen umfassende technische Unterstützung vor Ort in Bereichen wie Systemintegration und Kompatibilitätstests, Entwicklung von Andocklösungen, Software-Imaging und Aftersales-Support. 
        li <i class="fas fa-chevron-right"></i> Branchenführende Hersteller auf der ganzen Welt vertrauen unseren Produkten. 
        li <i class="fas fa-chevron-right"></i> Wir geben Ihnen die branchenweit beste Garantie für mindestens drei Jahre, einschließlich einer Garantie gegen Unfallschäden.

block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility
        li <i class="fas fa-chevron-right"></i> Getac Driving Safety Utility
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Dockinglösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 
        li <i class="fas fa-chevron-right"></i> Tastaturen

block se6 
    - var lang = 'de'