extends ../template/_modal_rd_1.pug
block se1
    h2.title Validierung und Tests
    p.txt Die Fahrzeuge von heute werden immer komplexer, mit eingebauten Computern, elektronischen Systemen und komplexer Fahrzeugarchitektur. Jeder Aspekt eines Fahrzeugs muss sorgfältig getestet und validiert werden, bevor es in die Fertigung geht. Das bedeutet, dass Techniker Geräte benötigen, die mit komplexen Systemen zusammenarbeiten können. 

block se2
    h2.title Herausforderung
    p.txt Beim Testen werden nicht nur Fahrzeuge an ihre Grenzen gebracht, sondern auch die Geräte, mit denen Überprüfungen, Scans und Kalibrierungen vorgenommen werden. Von extremen Wetterbedingungen über Erschütterungen, Stöße und Stürze im Testlabor: Geräte müssen rauen Umgebungen standhalten und in der Lage sein, Ingenieure mit reibungslos laufender, präziser Software zu unterstützen, die sich mit komplexen Instrumenten verbinden kann. 

block se3
    h2.title Lösung
    p.txt Die robusten Geräte von Getac sind perfekt für Testlabors geeignet und wurden schon bei vielen Projekten in F&E eingesetzt. 

    ol.list
        li <i class="fas fa-chevron-right"></i> Gerüstet für extreme Wetterbedingungen – Die Geräte von Getac verfügen über einen zertifizierten Schutz gegen Regen, Staub, Stöße und Erschütterungen und widerstehen sowohl extrem hohen als auch niedrigen Temperaturen. 
        li <i class="fas fa-chevron-right"></i> Spezialisierte Anschlüsse – Unsere Geräte sind mit Anschlüssen ausgestattet, die eine große Bandbreite an Kalibrierungs- und Mess- sowie anderen branchenspezifischen Werkzeugen unterstützen. 
        li <i class="fas fa-chevron-right"></i> Sicher – Schützen Sie Ihre sensiblen Daten mit biometrischer Sicherheit und vollständiger Kontrolle über Ihre Geräte. 
        li <i class="fas fa-chevron-right"></i> Vielseitig – Die robuste Hardware arbeitet mit technischer Software zusammen, um ein unterbrechungsfreies Scannen, Katalogisieren und Programmieren von Steuergeräten zu gewährleisten.

block se4
    h2.title Vorteile
    p.txt Das Testlabor ist ein besonders wichtiger Abschnitt in der Reise eines Fahrzeugs von der Konzeption zur Fertigung. Hier benötigen Sie robuste Geräte, denen Sie voll und ganz vertrauen können. Daher haben wir unsere Geräte so entwickelt, dass Sie für den Einsatz in F&E geeignet sind.

    ol.list 
        li <i class="fas fa-chevron-right"></i> Kabellose Konnektivität – Verbinden Sie sich über WLAN oder Bluetooth direkt mit dem Fahrzeug, VCI und der F&E-Infrastruktur. 
        li <i class="fas fa-chevron-right"></i> Globale Zertifizierung und Support – Unsere Geräte werden von führenden OEMs verwendet und sind für den weltweiten Einsatz zertifiziert – und das mit erstklassigem Service und Support. 
        li <i class="fas fa-chevron-right"></i> Optimierte Bildschirmgrößen – Ganz gleich, welche Anforderungen Sie haben, unsere breite Palette an Geräten verfügt über große Bildschirme, die Aufgaben wie das Sammeln von Testdaten, thermische Batterietests und 3D-Prototyping unterstützen. 
        li <i class="fas fa-chevron-right"></i> Flexible Konnektivität – Unsere konfigurierbaren Anschlussoptionen sind mit branchenführenden Test- und Messgeräten kompatibel.

block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Dockinglösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 
        li <i class="fas fa-chevron-right"></i> Tastaturen

block se6 
    - var lang = 'de'