extends ../template/_modal_rd_2.pug
block se1
    h2.title Extrembedingungen und Umgebungstests
    p.txt Moderne Fahrzeuge müssen extremen Bedingungen standhalten können – seien es nun gefrorene Straßen oder schwüle Hitze. Um diese Bedingungen gründlich testen zu können, benötigen Sie auch ein Gerät, das diesen Herausforderungen standhalten kann. 

block se2
    h2.title Herausforderung
    p.txt Nicht alle Geräte sind solch rauen Bedingungen gewachsen: Manche wurden von Anfang an nicht robust genug gebaut oder müssen mit einem Gehäuse geschützt werden, um Schäden zu verhindern. Hohe Luftfeuchtigkeit, niedrige Temperaturen oder brühtende Hitze sind Herausforderung genug. Doch dazu kommt zusätzlich noch das Risiko von Stürzen, Stößen oder anderen Beschädigungen in der Laborumgebung. 

block se3
    h2.title Lösung
    p.txt Viele OEMs verlassen sich auf die Geräte von Getac, wenn es darum geht, sie mit hinaus ins Feld zu nehmen, mit Messgeräten zu verbinden und mit ihnen Daten zu sammeln. Sind darauf ausgelegt, auch bei extremen Temperaturen reibungslos zu funktionieren und starken Erschütterungen standzuhalten. Damit ist sichergestellt, dass es zu keinen kostspieligen Verzögerungen kommt oder das Gerät ersetzt werden bzw. ein Test wiederholt werden muss. 


block se4
    h2.title Vorteile
    p.txt Unsere kompakten, robusten Geräte weisen eine Reihe von Merkmalen auf, dank derer sie für jede Umgebung perfekt geeignet sind: 


    ol.list 
        li <i class="fas fa-chevron-right"></i> Unsere Geräte zeichnen sich durch eine durch und durch robuste Konstruktionsweise aus.
        li <i class="fas fa-chevron-right"></i> Schnelle, leistungsstarke Prozessoren ermöglichen schnelles Arbeiten und Berechnung präzisester Daten. 
        li <i class="fas fa-chevron-right"></i> Hohe Benutzerfreundlichkeit und Vertrautheit mit dem Gerät gewährleisten eine nahtlose Bedienbarkeit durch alle Mitglieder Ihres Teams. 
        li <i class="fas fa-chevron-right"></i> Unsere große Auswahl an Konfigurationsmöglichkeiten und Zubehör bedeutet, dass unsere Geräte auf jede Aufgabe oder Umgebung angepasst werden können.

block se5
    h2.title Getac-Gerät:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title Zubehör:
    ol.list
        li <i class="fas fa-chevron-right"></i> Tragelösungen 
        li <i class="fas fa-chevron-right"></i> Dockinglösungen 
        li <i class="fas fa-chevron-right"></i> Ladelösungen 
        li <i class="fas fa-chevron-right"></i> Tastaturen
block se6 
    - var lang = 'de'