extends ../template/_modal_work_1.pug
block se1
    h2.title Intelligent Planning
    p.txt Artificial Intelligence is everywhere - now you can use it to automate your workshop booking and loading processes. You can greatly reduce the time it takes for customers to book their vehicles in, and save as much as 25% working time to perform the same workshop loading tasks. 

block se2
    h2.title Challenge
    p.txt In many cases workshop planning is still performed with manual and paper-based processes. This slows down operations, wastes time, increases cost and firmly places the responsibility on the service team's shoulders to make critical business decisions, but in reality they are setup to fail. Even the best laid plans can change, and if you can't adapt fast you may deliver poor customer experience and see retention rates drop. 

block se3
    h2.title Solution
    p.txt Getac Automotive delivers both rugged hardware and seamless software to create a smarter running workshop and optimized aftersales. 
    ol.list
        li <i class="fas fa-chevron-right"></i> Real-time processing and distribution of technician duties enables you to avoid resource bottlenecks often caused by low-visibility manual planning. 
        li <i class="fas fa-chevron-right"></i> Our intelligent workshop planning turbocharges calculations of complex workflows to meet customer need - with AI constantly self-learning the unique demands of your workshop.
        li <i class="fas fa-chevron-right"></i> Utilizes Open API architecture and is RPA compliant.
        li <i class="fas fa-chevron-right"></i> Uses AI to plan workorders and assign tasks automatically, planning in a way that ensures handover time to the customer will be met and takes into account technician certification and capability.
        li <i class="fas fa-chevron-right"></i> Our software can adapt instantly in case of sickness to reassign jobs, can take online bookings and planning in teams. 
        li <i class="fas fa-chevron-right"></i> Can work as part of multi or single-point dealerships, constantly generating productivity and efficiency data for management teams.


block se4
    h2.title Benefits
    p.txt Smarter workshops deliver optimized aftersales, it's why we've combined rugged hardware with seamless planning software in a single platform. 


    ol.list 
        li <i class="fas fa-chevron-right"></i> Easy and intuitive planning dashboard with visual alerts and full automation for total accuracy.
        li <i class="fas fa-chevron-right"></i> Customers and service reception staff can book work and allocate technicians in a few clicks for total convenience and speed.
        li <i class="fas fa-chevron-right"></i> An adaptable Logic Editor ensures your unique workflows and OEM policies are at the forefront of the planning process and not missed.
        li <i class="fas fa-chevron-right"></i> Ensure courtesy vehicles, special tools or work-bays are available when you need them
        li <i class="fas fa-chevron-right"></i> Dashboard and statistical reporting tracks performance and gives you visibility of your whole operation when you  need it.
        li <i class="fas fa-chevron-right"></i> Seamlessly integrated to OEM, dealership and workshop platforms to speed the processes up and receive information in realtime without the inconvenience of logging in and out of multiple systems.


block se5
    h2.title Getac Device
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Planning Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title Accessories
    ol.list
        li <i class="fas fa-chevron-right"></i> Carrying Solutions 
        li <i class="fas fa-chevron-right"></i> Charging Solutions 

block se6 
    - var lang = 'en'