<!-- container -->
.overflow-scrollbar
    .modal-infor
        .modal-infor--main
        .tab-content.show.tab1-content
            .row.mb-sm-5.mb-md-0
                .col-md-5
                    <img src="https://fakeimg.pl/336x345/" class="mb-3 img-fluid">

                .col-md-7
                    h2.title Intelligent Planning (2)
                    p.txt By digitalizing your job cards and connecting to other workshop systems, such as the DMS, parts and technical, you can gain an extra 10% efficiency and save 12 hours per month for the technician versus paper and manual based workflows.



        .tab-content.tab2-content
            .row.mb-sm-5.mb-md-3
                .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                    
                .col-md-7
                    h2.title Challenge
                    p.txt Technicians often waste time locating vehicles from the service parking area and this could take as much as 10 minutes per job card. For an average size of workshop (10 Service bays) over the month, this could add up to 146 hours of non-productive time. As well as this, technicians clocking on and off job cards can cause up to 12 hours per month to be wasted accessing centrally located clocking systems. 


            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                    
                .col-md-7
                    h2.title Solution
                    p.txt Getac Automotive delivers both rugged hardware and seamless software to create a smarter running workshop and optimized aftersales. 
                    ol.list
                        li <i class="fas fa-chevron-right"></i> Paperless – Digitize paper-based workflows with digital repair orders that have task allocation, time-clocking, internal messenger and direct link to parts and technical information (just in time and real time). 
                        li <i class="fas fa-chevron-right"></i> With the use of proximity technology and the technicians Getac tablet, the technician will be able to quickly locate the vehicle in a busy forecourt. 


            .row.mb-5.mb-sm-5.mb-md-3
                .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                    
                .col-md-7
                    h2.title Benefits
                    p.txt Smarter workshops deliver optimized aftersales, it's why we've combined rugged hardware with seamless planning software in a single platform. 


                    ol.list 
                        li <i class="fas fa-chevron-right"></i> Your Getac tablet is a single, mobile platform for repair order tasks, time-clocking, technical data and diagnostics. 
                        li <i class="fas fa-chevron-right"></i> Enhance compliance with better visibility of the real-time, paperless process.
                        li <i class="fas fa-chevron-right"></i> Connects to your workshop through an Open API that is operating system agnostic.
                        li <i class="fas fa-chevron-right"></i> Our ‘Just in time’ methodology delivers greater convenience and efficiency.  
                        li <i class="fas fa-chevron-right"></i> Mobilize your staff to be productive and take on a greater number of revenue generating jobs with far less idle time. 

        .tab-content.tab3-content
            .row.mb-sm-5.mb-md-0
                .col-md-5
                    #modal-swiper.swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                include ../../video/_UX10
                            .swiper-slide
                                include ../../video/_F110
                            .swiper-slide
                                include ../../video/_GDMS
                        .swiper-pagination

                .col-md-7
                    h2.title Getac Device
                    ol.list
                        li <i class="fas fa-chevron-right"></i> ZX70
                        li <i class="fas fa-chevron-right"></i> UX10
                        li <i class="fas fa-chevron-right"></i> F110
                    br
                    br
                    
                    h2.title Software
                    ol.list
                        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
                        li <i class="fas fa-chevron-right"></i> Planning Software
                        li <i class="fas fa-chevron-right"></i> Absolute

                    br
                    br

                    h2.title Accessories
                    ol.list
                        li <i class="fas fa-chevron-right"></i> Carrying Solutions 
                        li <i class="fas fa-chevron-right"></i> Charging Solutions 


        .tab-content.tab4-content
            include ../../ar/en/_UX10
<!-- container end -->