<!-- container -->
.overflow-scrollbar
    .modal-infor
        .modal-infor--main
            .tab-content.show.tab1-content
                .row.mb-sm-5.mb-md-0
                    .col-md-5
                        <img src="https://fakeimg.pl/336x345/" class="mb-3 img-fluid">

                    .col-md-7
                        h2.title Quality Control
                        p.txt Smooth manufacturing operations rely on efficient machinery and processes. Over 550 Automotive manufacturing plants around the world, representing 60 brands from 14 global companies - all of which are looking to take advantage of Industry 4.0 technology to gain an efficiency edge, reduce costs and enhance customer satisfaction. 

            .tab-content.tab2-content
                .row.mb-sm-5.mb-md-3
                    .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                        
                    .col-md-7
                        h2.title Challenge
                        p.txt Quality control systems are full of variables - whether it's Six Sigma, TQM or Lean Production – but these variables like failure analysis, acceptance tests, technical inspections, certification and pre-assembly parts inspection can be digitized. 

                        p.txt To digitize effectively you need a solution that: 
                        ol.list 
                            li <i class="fas fa-chevron-right"></i> Can handle huge amounts of data. 
                            li <i class="fas fa-chevron-right"></i> Have built-rugged mobile operations. 
                            li <i class="fas fa-chevron-right"></i> Can record past failures, analysis of root cause and suggest corrective action implementation. 
                            li <i class="fas fa-chevron-right"></i> Delivers smooth, seamless running across multiple team members in real-time.

                .row.mb-5.mb-sm-5.mb-md-3
                    .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                        
                    .col-md-7
                        h2.title Solution
                        p.txt Getac's rugged mobile hardware and seamless software can become the beating heart of your quality control operation. 

                        p.txt Our devices are trusted by leading manufacturers to: 
                        ol.list
                            li <i class="fas fa-chevron-right"></i> Integrate seamlessly with your current ERP software. 
                            li <i class="fas fa-chevron-right"></i> Stand up to tough shop floor environments with built-rugged construction.
                            li <i class="fas fa-chevron-right"></i> Capture all inputs from multiple users that are then available on all inter-connected mobile devices.

                .row.mb-5.mb-sm-5.mb-md-3
                    .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                        
                    .col-md-7
                        h2.title Benefits
                        p.txt Leading industrial manufacturers trust Getac to provide quality control solutions that blend rugged hardware with optimized software. 

                        ol.list 
                            li <i class="fas fa-chevron-right"></i>Getac products are inherently rugged and built to survive in all weather conditions. 
                            li <i class="fas fa-chevron-right"></i>We give you comprehensive field engineering support for areas including system integration and compatibility testing, development of docking solutions, software imaging, and aftersales support. 
                            li <i class="fas fa-chevron-right"></i>Our products are trusted by leading global manufacturers. 
                            li <i class="fas fa-chevron-right"></i>We give you the industry-best warranty for a minimum of three years, including accidental damage.

            .tab-content.tab3-content
                .row.mb-sm-5.mb-md-0
                    .col-md-5
                        #modal-swiper.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    include ../../video/_UX10
                                .swiper-slide
                                    include ../../video/_F110
                                .swiper-slide
                                    include ../../video/_B360
                                .swiper-slide
                                    include ../../video/_S410
                                .video-iframe
                                    include ../../video/_GDMS
                            .swiper-pagination

                    .col-md-7
                        h2.title Getac Device
                        ol.list
                            li <i class="fas fa-chevron-right"></i> UX10
                            li <i class="fas fa-chevron-right"></i> F110
                            li <i class="fas fa-chevron-right"></i> K120
                            li <i class="fas fa-chevron-right"></i> V110
                            li <i class="fas fa-chevron-right"></i> B360
                            li <i class="fas fa-chevron-right"></i> S410

                        br
                        br
                        
                        h2.title Software
                        ol.list
                            li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
                            li <i class="fas fa-chevron-right"></i> Absolute
                        br
                        br

                        h2.title Accessories
                        ol.list
                            li <i class="fas fa-chevron-right"></i> Carrying Solutions 
                            li <i class="fas fa-chevron-right"></i> Docking Solutions 
                            li <i class="fas fa-chevron-right"></i> Charging Solutions 
                            li <i class="fas fa-chevron-right"></i> Keyboards


            .tab-content.tab4-content
                include ../../ar/en/_UX10
<!-- container end -->