extends ../template/_modal_work_5.pug
block se1
    h2.title Digital Technical Publications
    p.txt With the average vehicle car parc age getting older - in the US it is circa 11.8 years, Germany 9.8 years and Russia 13 years - upkeep of existing vehicles will require higher maintenance investment. This means access to comprehensive repair and maintenance information from the OEM. 

block se2
    h2.title Challenge
    p.txt Right to repair is a hot button topic across a number of industries - including automotive. OEM's are responsible for providing technical parts and service information to its own network, customers and independent repair facilities - either through technical portals and websites for its franchised service points or online subscription services for the independent aftermarket.

block se3
    h2.title Solution
    p.txt Getac Automotive delivers vehicle code details, non-emission related information, re-programming or flashing for all makes and models, directly to the technician's rugged device - improving vehicle servicing and repair efficiency - to create a seamless technician experience.

block se4
    h2.title Benefits
    p.txt Getac Automotive is the proven workshop and diagnostic tool of choice for OEM's around the world.

    p.txt With Getac's optimized solution you get devices that can: 

    ol.list 
        li <i class="fas fa-chevron-right"></i> Become the single platform for repair order tasks, time-clocking, technical data and diagnostics. 
        li <i class="fas fa-chevron-right"></i> Connect with WWAN for OEM cloud-based technical platforms when out in the field or experiencing poor WLAN capabilities.
        li <i class="fas fa-chevron-right"></i> Confidential technical information secured with Getac optional features such as RFID, Device Monitoring and multi- factor authentication.
        li <i class="fas fa-chevron-right"></i> Stand up to any workshop task with built-rugged construction and seamless software.
        

block se5
    h2.title Getac Device
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title Accessories
    ol.list
        li <i class="fas fa-chevron-right"></i> Carrying Solutions 
        li <i class="fas fa-chevron-right"></i> Charging Solutions 
block se6 
    - var lang = 'en'