<!-- container -->
.overflow-scrollbar
    .modal-infor
        .modal-infor--main
            .tab-content.show.tab1-content
                .row.mb-sm-5.mb-md-0
                    .col-md-5
                        <img src="https://fakeimg.pl/336x345/" class="mb-3 img-fluid">

                    .col-md-7
                        h2.title Asset Management & Maintenance
                        p.txt When you own several expensive, complicated assets it's essential to maximize their benefits through a combination of the right hardware and interconnected software to secure the best ROI. 

            .tab-content.tab2-content
                .row.mb-sm-5.mb-md-3
                    .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                        
                    .col-md-7
                        h2.title Challenge
                        p.txt The manufacturing environment presents a number of challenges to managers and operators.

                        ol.list 
                            li <i class="fas fa-chevron-right"></i> Limited connectivity restricts remote access support. 
                            li <i class="fas fa-chevron-right"></i> Unstable network connectivity can interrupt asset management and make it difficult to provide the remote support required. 
                            li <i class="fas fa-chevron-right"></i> Poor battery performance of devices can cause downtime and loss of productivity. 
                            li <i class="fas fa-chevron-right"></i> Harsh environments mean you need specialist, rugged devices.


                .row.mb-5.mb-sm-5.mb-md-3
                    .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                        
                    .col-md-7
                        h2.title Solution
                        p.txt Getac's rugged devices and seamless, easily integrated software connect to how your manufacturing facility works now - finding ways to improve asset management workflows and increase productivity. 

                        ol.list
                            li <i class="fas fa-chevron-right"></i> Perform predictive maintenance to reduce asset downtime. 
                            li <i class="fas fa-chevron-right"></i> Gather real-time data to identify events that may cause issues in the future. 
                            li <i class="fas fa-chevron-right"></i> Use built-rugged devices that stand up to the factory environment.
                            li <i class="fas fa-chevron-right"></i> Dual battery capability can last a whole shift and beyond - reducing device downtime.

                .row.mb-5.mb-sm-5.mb-md-3
                    .col-md-5 <img src="https://fakeimg.pl/300x200/" class="mb-3 img-fluid">
                        
                    .col-md-7
                        h2.title Benefits
                        p.txt Leading industrial manufacturers trust Getac to provide quality devices that blend rugged hardware with optimized software for performing asset management and maintenance tasks.  

                        ol.list 
                            li <i class="fas fa-chevron-right"></i> Getac products are inherently rugged and built to survive in all weather conditions. 
                            li <i class="fas fa-chevron-right"></i> We give you comprehensive field engineering support for areas including system integration and compatibility testing, development of docking solutions, software imaging, and aftersales support. 
                            li <i class="fas fa-chevron-right"></i> Our products are trusted by leading global manufacturers. 
                            li <i class="fas fa-chevron-right"></i> We give you the industry-best warranty for a minimum of three years, including accidental damage.
            .tab-content.tab3-content
                .row.mb-sm-5.mb-md-0
                    .col-md-5
                        #modal-swiper.swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    include ../../video/_UX10
                                .swiper-slide
                                    include ../../video/_F110
                                .swiper-slide
                                    include ../../video/_GDMS
                                .swiper-slide
                                    include ../../video/_KeyWedge
                                .video-iframe
                                    include ../../video/_DrivingSafety
                            .swiper-pagination

                    .col-md-7
                        h2.title Getac Device
                        ol.list
                            li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
                            li <i class="fas fa-chevron-right"></i> T800, T800-EX
                            li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
                            li <i class="fas fa-chevron-right"></i> F110, F110-EX
                            li <i class="fas fa-chevron-right"></i> K120, K120-EX
                            li <i class="fas fa-chevron-right"></i> A140
                            li <i class="fas fa-chevron-right"></i> B360

                        br
                        br
                        
                        h2.title Software
                        ol.list
                            li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
                            li <i class="fas fa-chevron-right"></i> Absolute
                        br
                        br

                        h2.title Accessories
                        ol.list
                            li <i class="fas fa-chevron-right"></i> Carrying Solutions 
                            li <i class="fas fa-chevron-right"></i> Docking Solutions 
                            li <i class="fas fa-chevron-right"></i> Charging Solutions 
                            li <i class="fas fa-chevron-right"></i> Keyboards


            .tab-content.tab4-content
                include ../../ar/en/_F110
<!-- container end -->