extends ../template/_F110
block desc
    h2.title Erleben Sie Getac-Geräte mit Augmented Reality
    p.txt Scanne den QR-Code mit deinem Smartphone, platziere das Gerät in deiner Umgebung. Schon kannst du damit spielen!