extends ../template/_modal_m_2.pug
block se1
    h2.title Control de calidad
    p.txt Para que las operaciones de fabricación se realicen sin problemas, se necesita maquinaria y procesos eficaces. En el mundo existen más de 550 plantas de fabricación de automóviles que representan a 60 marcas de 14 empresas mundiales y que buscan aprovechar la tecnología de la Industria 4.0 para obtener una mayor eficiencia, reducir costos y mejorar la satisfacción del cliente.
block se2
    h2.title Desafío
    p.txt Los sistemas de control de calidad están compuestos por muchas variables, como Six Sigma, TQM o Lean Production, sin embargo, variables como el análisis de fallos, pruebas de aceptación, inspecciones técnicas, certificación e inspección de piezas antes del montaje pueden digitalizarse. 
 

    p.txt  Para una digitalización efectiva, necesita una solución que: 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i>  Pueda manejar un gran volumen de datos. 
        li <i class="fas fa-chevron-right"></i>  Tenga operaciones móviles robustas integradas. 
        li <i class="fas fa-chevron-right"></i>  Pueda registrar fallos anteriores, analizar la causa raíz y sugerir la implementación de acciones correctivas. 
        li <i class="fas fa-chevron-right"></i>  Ofrezca un funcionamiento sin problemas al personal en diferentes equipos en tiempo real.

block se3
    h2.title Solución
    p.txt El hardware móvil robusto y el software integrado de Getac se pueden convertir en el núcleo de la operación de control de calidad. 
 
    p.txt  Los principales fabricantes confían en nuestros dispositivos para: 
    ol.list
        li <i class="fas fa-chevron-right"></i> Integrarse perfectamente a su software ERP actual. 
        li <i class="fas fa-chevron-right"></i> Soportar los entornos difíciles del taller gracias a su construcción robusta.
        li <i class="fas fa-chevron-right"></i> Registrar las entradas de múltiples usuarios para que estén disponibles en todos los dispositivos móviles interconectados.

block se4
    h2.title Beneficios
    p.txt Los principales fabricantes industriales confían en las soluciones de control de calidad de Getac, que combinan hardware robusto y software optimizado. 

    ol.list 
        li <i class="fas fa-chevron-right"></i> Los productos de Getac son intrínsecamente robustos y están diseñados para sobrevivir en todas las condiciones climáticas. 
        li <i class="fas fa-chevron-right"></i> Le ofrecemos soporte integral de ingeniería de campo para áreas como la integración de sistemas y pruebas de compatibilidad, desarrollo de soluciones de acoplamiento, imágenes de software y soporte posventa. 
        li <i class="fas fa-chevron-right"></i> Los principales fabricantes mundiales confían en nuestros productos.
        li <i class="fas fa-chevron-right"></i> Le ofrecemos la mejor garantía de la industria, que incluye daños accidentales, por tres años como mínimo.
        

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> K120
        li <i class="fas fa-chevron-right"></i> V110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de acoplamiento 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga 
        li <i class="fas fa-chevron-right"></i>  Teclados


block se6 
    - var lang = 'es'