extends ../template/_modal_work_3.pug
block se1
    h2.title Verificación Electrónica del Estado del Vehículo
    p.txt Cada vez que se realiza la EVHC, se agrega un promedio de 35 dólares a la factura del cliente promedio. Es por eso que los fabricantes de vehículos y su red de distribuidores prefieren realizar una inspección de múltiples puntos del vehículo, mientras el técnico tiene el vehículo en la rampa y sin ruedas. La digitalización del proceso garantiza que no se omita ningún punto y que los clientes se mantengan actualizados en tiempo real. De este modo, se incrementan las tasas de conversión de los puntos identificados en rojo y ámbar hasta en un 70%.

block se2
    h2.title Desafío
    p.txt Una vez que el vehículo está en la rampa, el técnico debe llevar a cabo una inspección exhaustiva de varios puntos. Por lo general, esta inspección se realiza con una lista de verificación en papel y los puntos identificados se ingresan y actualizan en el DMS. Sin embargo, al usar papel, el técnico puede saltearse la inspección completa y verificar solo los puntos que desee. Además, este proceso toma mucho tiempo y es poco transparente para el cliente, ya que no hay posibilidad de ver imágenes o videos.

block se3
    h2.title Solución
    p.txt Getac Automotive ofrece a los talleres la capacidad de realizar las EVHC de forma fácil, integrada y sin papel. 

    ol.list
        li <i class="fas fa-chevron-right"></i>  Talleres sin papeles: Las listas de verificación en papel se pueden digitalizar y el técnico puede tomar fotos, grabar videos y hacer comentarios que puede compartir con el cliente mediante un correo.
        li <i class="fas fa-chevron-right"></i>  Aplicación nativa 
        li <i class="fas fa-chevron-right"></i>  Capacidades en línea y fuera de línea
        li <i class="fas fa-chevron-right"></i>  Basado en roles
        li <i class="fas fa-chevron-right"></i>  Video integrado

block se4
    h2.title Beneficios
    p.txt Getac Automotive combina un software integrado y un hardware robusto para ofrecer diversos beneficios para el taller:

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Cambie el papel por la tableta.
        li <i class="fas fa-chevron-right"></i>  Sin verificaciones dobles.
        li <i class="fas fa-chevron-right"></i>  Inspire confianza gracias a una experiencia digital transparente.
        li <i class="fas fa-chevron-right"></i>  Permite que se cumpla con facilidad el deber de atención al cliente.
        li <i class="fas fa-chevron-right"></i>  A mayor número de revisiones, mayor rendimiento, mayor seguridad para los clientes y mejores tasas de fidelización.

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Planning Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga
        
block se6 
    - var lang = 'es'