extends ../template/_modal_warehouse_1.pug
block se1
    h2.title Gestión de Inventario y Almacén
    p.txt Un almacén de fabricación moderno es fundamental para garantizar la eficiencia operativa en el proceso de fabricación, desde la gestión del transporte de partes de componentes de productos entrantes hasta la salida del producto final.

block se2
    h2.title Desafío
    p.txt La mayoría de almacenes utilizan un Sistema de Gestión de Almacenes (WMS) para controlar los niveles de inventario, e incluso muchos de ellos están optando por la automatización para lograr una mayor eficiencia y reducción de costos, sin embargo, para lograrlo es necesario que los dispositivos cuenten con el mismo nivel de desarrollo. 

    p.txt Los dispositivos para almacenes modernos deben ser capaces de: 
    ol.list 
        li <i class="fas fa-chevron-right"></i> Registrar y gestionar el flujo de inventario. 
        li <i class="fas fa-chevron-right"></i> Realizar las tareas de procesamiento de pedidos, selección/embalaje, y registro de carga y descarga. 
        li <i class="fas fa-chevron-right"></i> Automatizar el manejo de materiales donde se requiera el trabajo de humanos y robots. 
        li <i class="fas fa-chevron-right"></i> Integrarse a los sistemas automatizados de almacenamiento y recuperación, y a los vehículos de guiado automático. 
        li <i class="fas fa-chevron-right"></i> Funcionar con lectores de códigos de barras o RFID. 
        li <i class="fas fa-chevron-right"></i> Desplazarse con los trabajadores para realmente integrarse a las operaciones. 
        li <i class="fas fa-chevron-right"></i> Soportar las duras tareas y entornos de la planta de producción.
 
block se3
    h2.title Solución
    p.txt La solución de Getac para la gestión de inventario y almacén se integra a la perfección con el software líder de gestión de inventario, ERP y WMS. Los dispositivos robustos de Getac tienen tanto la potencia informática como la robustez que se requiere para trabajar cómodamente, ofreciendo una plataforma ideal para la gestión de inventario y almacén.

block se4
    h2.title Beneficios
    p.txt Nuestras soluciones robustas soportan las duras pruebas del entorno del almacén, ya que ofrecen una serie de funcionalidades que pueden ayudarlo a rastrear y gestionar el inventario. 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Las soluciones de Getac se pueden conectar directamente con los sistemas de gestión de almacenes, mejorando la eficiencia operativa mediante la optimización de los recursos humanos disponibles.
        li <i class="fas fa-chevron-right"></i> Nuestras múltiples tabletas robustas se pueden usar con una sola mano y cuentan con un lápiz digitalizador opcional. 
        li <i class="fas fa-chevron-right"></i> Las cámaras integradas hacen que las descripciones verbales sean innecesarias, lo que facilita la conservación y transferencia de datos. 
        li <i class="fas fa-chevron-right"></i> Nuestros dispositivos ofrecen opciones de lectura de código de barras 1D y 2D para ayudarle a que las operaciones del almacén se realicen sin problemas.
        li <i class="fas fa-chevron-right"></i> Nuestros dispositivos son completamente configurables gracias a diversos soportes, acoplamientos y otros accesorios que permiten instalarlos en un montacargas o llevarlos con las manos libres.
 

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility
        li <i class="fas fa-chevron-right"></i> Getac Driving Safety Utility
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i> Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i> Soluciones de acoplamiento 
        li <i class="fas fa-chevron-right"></i> Soluciones de carga
        li <i class="fas fa-chevron-right"></i> Routers y antenas 
        li <i class="fas fa-chevron-right"></i> Teclados

block se6 
    - var lang = 'es'