extends ../template/_modal_rd_2.pug
block se1
    h2.title Condiciones extremas y pruebas ambientales
    p.txt Los vehículos modernos tienen que soportar condiciones extremas, ya sea una carretera cubierta de hielo o un ambiente subcontinental cálido y húmedo. Por eso, para probar a fondo estas condiciones, se necesita un dispositivo que soporte estos desafíos.

block se2
    h2.title Desafío
    p.txt No todos los dispositivos son capaces de sobrevivir en condiciones adversas, algunos no están construidos de forma robusta desde el principio o deben guardarse en un maletín para evitar daños. La alta humedad, bajas temperaturas o calor intenso son condiciones que presentan desafíos, así como el riesgo de caídas, golpes o daños en el laboratorio.

block se3
    h2.title Solución
    p.txt Getac es el dispositivo que eligen varios fabricantes de equipos originales para llevar al campo, conectarlo con dispositivos de medición y para que funcione como dispositivo de recopilación de datos. Están diseñados para funcionar en temperaturas extremas y soportar altos niveles de vibración, lo que permite evitar interrupciones costosas, reemplazo de dispositivos o repetición de las pruebas.
    
block se4
    h2.title Beneficios
    p.txt Nuestros dispositivos compactos y robustos cuentan con una serie de características que los hacen ideales para cualquier entorno: 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i> Nuestros dispositivos están construidos de forma robusta en todos los niveles.
        li <i class="fas fa-chevron-right"></i> Los procesadores rápidos y potentes permiten trabajar y calcular rápidamente los datos más precisos. 
        li <i class="fas fa-chevron-right"></i> La gran facilidad de uso y familiaridad con el dispositivo garantizan la operatividad por parte de todo el equipo sin contratiempos. 
        li <i class="fas fa-chevron-right"></i> La amplia gama de configuraciones y accesorios permite que nuestros dispositivos se adapten a cualquier tarea o entorno.

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de acoplamiento 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga 
        li <i class="fas fa-chevron-right"></i>  Teclados

block se6 
    - var lang = 'es'