extends ../template/_modal_m_3.pug
block se1
    h2.title Entrega y Transporte
    p.txt La entrega y el transporte de mercancías están sujetos a rigurosos estándares que deben cumplirse. Además, el flujo de trabajo registrado en papel puede limitar la visibilidad en toda la cadena de suministro.

block se2
    h2.title Desafío
    p.txt El transporte y la logística tienen desafíos únicos que deben superarse para mantener clientes satisfechos, entregas encaminadas y operaciones eficientes en carretera. 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i> El papeleo manual crea puntos ciegos y una posible pérdida o deterioro de los documentos. 
        li <i class="fas fa-chevron-right"></i> Los tiempos de entrega son cada vez más cortos, ya que los clientes exigen que los productos se envíen lo más rápido posible. 
        li <i class="fas fa-chevron-right"></i> El fraude y el robo siguen siendo un problema, ya que los sistemas desconectados crean oportunidades para quienes tienen malas intenciones.

block se3
    h2.title Solución
    p.txt Las soluciones de software de Getac Automotive se conectan a la perfección y están incorporadas en nuestros famosos dispositivos robustos, lo que garantiza el cumplimiento incluso de las tareas más difíciles. 
 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Aumente la eficiencia e identifique las oportunidades de consolidación y reducción de costos con nuestro software inteligente. 
        li <i class="fas fa-chevron-right"></i> Optimice la planificación de la ruta del conductor. 
        li <i class="fas fa-chevron-right"></i> Conecte sus sistemas actuales a una sola plataforma para facilitar las operaciones y familiarizar a su personal con los dispositivos. 
        li <i class="fas fa-chevron-right"></i> Recopile datos en tiempo real que puedan estar disponibles en todos los dispositivos para varios trabajadores y puntos de contacto.

block se4
    h2.title Beneficios
    p.txt Los principales fabricantes industriales confían en los dispositivos de calidad de Getac, que combinan hardware robusto y software optimizado para el transporte y la entrega. 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Los productos de Getac son intrínsecamente robustos y están diseñados para sobrevivir en todas las condiciones climáticas. 
        li <i class="fas fa-chevron-right"></i> Le ofrecemos soporte integral de ingeniería de campo para áreas como la integración de sistemas y pruebas de compatibilidad, desarrollo de soluciones de acoplamiento, imágenes de software y soporte posventa. 
        li <i class="fas fa-chevron-right"></i> Los principales fabricantes mundiales confían en nuestros productos.
        li <i class="fas fa-chevron-right"></i> Le ofrecemos la mejor garantía de la industria, que incluye daños accidentales, por tres años como mínimo.

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> T800
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility
        li <i class="fas fa-chevron-right"></i> Getac Driving Safety Utility
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i> Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i> Soluciones de acoplamiento 
        li <i class="fas fa-chevron-right"></i> Soluciones de carga 
        li <i class="fas fa-chevron-right"></i> Teclados

block se6 
    - var lang = 'es'