extends ../template/_modal_work_1.pug
block se1
    h2.title Planificación Inteligente
    p.txt La inteligencia artificial está en todas partes y ahora puede utilizarla para automatizar el proceso de reservas y carga de trabajos del taller. Además, puede reducir en gran medida el tiempo que tardan los clientes en reservar sus vehículos y ahorrar hasta un 25% de tiempo de trabajo para realizar las mismas tareas de carga en el taller.

block se2
    h2.title Desafío
    p.txt En muchos casos, la planificación del taller todavía se realiza de forma manual y en papel. Esto retrasa las operaciones, genera tiempos muertos, aumenta los costos y hace que el personal de servicio sea el responsable de tomar decisiones críticas para la empresa, y esto aumenta las probabilides de cometer errores. Incluso los planes mejor diseñados pueden cambiar y, si no logra adaptarse de forma rápida, puede caer en el riego de ofrecer una mala experiencia al cliente y sus tasas de fidelización pueden caer.

block se3
    h2.title Solución
    p.txt Getac Automotive ofrece un hardware robusto y un software integrado para crear un taller más inteligente y un servicio posventa optimizado. 


    ol.list
        li <i class="fas fa-chevron-right"></i>  El procesamiento en tiempo real y la división de las tareas de los técnicos evitan los cuellos de botella en utilizacion de los recursos que a menudo son causados ​​por una planificación manual con poca visibilidad. 
        li <i class="fas fa-chevron-right"></i>  La planificación inteligente del taller de Getac calcula muy rápidamente flujos de trabajo complejos a fin de satisfacer las necesidades del cliente y utiliza la IA que constantemente aprende sobre las exigencias únicas de su taller.
        li <i class="fas fa-chevron-right"></i>  Utiliza la arquitectura de Open API y cumple con RPA.
        li <i class="fas fa-chevron-right"></i>  Utiliza la IA para planificar órdenes de trabajo y asignar tareas de forma automática a fin de garantizar el cumplimiento del tiempo de entrega al cliente teniendo en cuenta la capacidad y certificación de los técnicos.
        li <i class="fas fa-chevron-right"></i>  Nuestro software se adapta de forma instantánea en caso se tenga que reasignar trabajos por enfermedad, puede realizar las reservas en línea y la planificación en equipos. 
        li <i class="fas fa-chevron-right"></i>  El software puede trabajar como parte de distribuidores de múltiples puntos o de un único punto, generando de forma constante datos sobre productividad y eficiencia para el personal de gestión.


block se4
    h2.title Beneficios
    p.txt Los talleres más inteligentes ofrecen un servicio posventa optimizado, por eso hemos combinado un hardware robusto y un software de planificación integrado en una sola plataforma. 


    ol.list 
        li <i class="fas fa-chevron-right"></i>  Tablero de control de planificación fácil e intuitivo, con alertas visuales y automatización completa para una máxima precisión.
        li <i class="fas fa-chevron-right"></i>  Los clientes y el personal de recepción del servicio pueden registrar el trabajo y asignar técnicos con unos cuantos clics para una total comodidad y rapidez.
        li <i class="fas fa-chevron-right"></i>  El editor lógico adaptable garantiza que sus flujos de trabajo específicos y las políticas del fabricante sean lo primero a tener en cuenta en el proceso de planificación.
        li <i class="fas fa-chevron-right"></i>  Le permite asegurarse que los vehículos de cortesía, herramientas especiales o área de trabajo estén disponibles cuando los necesite.
        li <i class="fas fa-chevron-right"></i>  El tablero de control y los informes estadísticos permiten realizar un seguimiento del rendimiento y ofrecen visibilidad de toda la operación cuando lo necesite.
        li <i class="fas fa-chevron-right"></i>  Se integra a la perfección con las plataformas de los fabricantes, distribuidores y talleres a fin de acelerar los procesos y recibir información en tiempo real sin necesidad de iniciar y cerrar sesión en varios sistemas.

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Planning Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga

block se6 
    - var lang = 'es'