extends ../template/_modal_work_5.pug
block se1
    h2.title Acceso a Publicaciones Técnicas Digitales
    p.txt Dado que la edad promedio del parque automotor es cada vez mayor (en EE.UU. es alrededor de 11,8 años, en Alemania es 9,8 años y en Rusia es 13 años), el cuidado de los vehículos existentes requerirá una mayor inversión en el mantenimiento. Esto significa que se debe tener acceso a la información completa del fabricante original sobre la reparación y el mantenimiento.

block se2
    h2.title Desafío
    p.txt El derecho a la reparación es un tema candente en muchos sectores, incluido el automotriz. Los fabricantes de equipos originales son responsables de proporcionar información técnica sobre piezas y servicios a su propia red, clientes e instalaciones de reparación independientes, ya sea a través de portales técnicos y sitios web para sus puntos de servicio en franquicia o servicios de suscripción en línea para el mercado de posventa independiente.

block se3
    h2.title Solución
    p.txt Getac Automotive envía detalles del código del vehículo, información no relacionada con emisiones, reprogramación o flasheo para todas las marcas y modelos directamente al dispositivo robusto del técnico, para así mejorar la eficiencia en el servicio y la reparación de vehículos y crear una experiencia técnica perfecta.

block se4
    h2.title Beneficios
    p.txt Getac Automotive es la herramienta de taller y diagnóstico comprobada y elegida por fabricantes de equipos originales de todo el mundo.
  
    p.txt Gracias a la solución optimizada de Getac, obtiene dispositivos que pueden:

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Convertirse en la única plataforma que necesita para pedidos de reparación, registros de tiempo de trabajo, datos técnicos y diagnósticos.
        li <i class="fas fa-chevron-right"></i>  Conectarse con WWAN a plataformas técnicas en la nube del fabricante cuando esté en el campo o experimente problemas de WLAN.
        li <i class="fas fa-chevron-right"></i>  Proteger la información técnica confidencial gracias a las funciones opcionales de Getac, como la RFID, el monitoreo de dispositivos y la autenticación de múltiples factores.
        li <i class="fas fa-chevron-right"></i>  Hacer frente a cualquier tarea en el taller gracias a su construcción robusta y al software eficiente.
    
block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga
        
block se6 
    - var lang = 'es'