extends ../template/_modal_work_6.pug
block se1
    h2.title Planificación Inteligente
    p.txt Al digitalizar las tarjetas de trabajo y conectarlas con otros sistemas del taller, como DMS, piezas y técnicos, podrá conseguir un 10% más de eficiencia y ahorrar a los técnicos 12 horas mensuales en comparación con los flujos de trabajo que se realizan de forma manual y en papel.

block se2
    h2.title Desafío
    p.txt A los técnicos a menudo les toma tiempo localizar los vehículos desde el área de estacionamiento de servicio, lo cual podría tomar hasta 10 minutos por tarjeta de trabajo. Para un taller de tamaño promedio (10 áreas de servicio), esto podría sumar hasta 146 horas de improductividad durante el mes. Además, los técnicos que marcan el inicio y fin de las tarjetas de trabajo pueden desperdiciar hasta 12 horas al mes accediendo a los sistemas de registro centrales.

block se3
    h2.title Solución
    p.txt Getac Automotive ofrece un hardware robusto y un software integrado para crear un taller más inteligente y un servicio posventa optimizado.


    ol.list
        li <i class="fas fa-chevron-right"></i>  Sin papeles: Digitalice los flujos de trabajo con pedidos de reparación digitales que cuenten con asignación de tareas, registro de tiempos, mensajería interna y enlace directo a información técnica y sobre piezas (justo a tiempo y en tiempo real). 
        li <i class="fas fa-chevron-right"></i>  El técnico podrá localizar rápidamente el vehículo en un área concurrida gracias a la tecnología de proximidad y a la tableta de Getac.
       
block se4
    h2.title Beneficios
    p.txt Los talleres más inteligentes ofrecen un servicio posventa optimizado, por eso hemos combinado un hardware robusto y un software de planificación integrado en una sola plataforma.
 
    ol.list 
        li <i class="fas fa-chevron-right"></i>  La tableta de Getac es la única plataforma móvil que necesita para pedidos de reparación, registros de tiempo de trabajo, datos técnicos y diagnósticos. 
        li <i class="fas fa-chevron-right"></i>  Mejore el cumplimiento con una mejor visibilidad del proceso en tiempo real y sin papeles.
        li <i class="fas fa-chevron-right"></i>  Conéctese a su taller a través de una Open API independiente del sistema operativo.
        li <i class="fas fa-chevron-right"></i>  Nuestra metodología ""Justo a tiempo"" ofrece mayor comodidad y eficiencia. 
        li <i class="fas fa-chevron-right"></i>  Movilice a su personal para que sea productivo y asuma una mayor cantidad de trabajos que generen ingresos con menos tiempo de inactividad.

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> EVHC Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga
        
block se6 
    - var lang = 'es'