extends ../template/_modal_m_1.pug
block se1
    h2.title Planta de Fabricación y Producción
    p.txt El taller es un entorno difícil, con maquinaria pesada, altos niveles de vibración y soluciones de software cada vez más sofisticadas.

block se2
    h2.title Desafío
    p.txt Además de los factores medioambientales, el taller también sirve como punto de referencia para otras tareas, como la planificación de la ruta de materiales, la gestión de inventarios, la disponibilidad de piezas y la programación del personal.

block se3
    h2.title Solución
    p.txt Los dispositivos de Getac son lo suficientemente robustos para soportar cualquier entorno, incluido el taller. Además, cuentan con una serie de beneficios clave que hacen que el funcionamiento de un taller sea más fácil, fluido e inteligente: 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Supervisión móvil del desempeño para el seguimiento de la producción en tiempo real.
        li <i class="fas fa-chevron-right"></i> Integración con el software WMS para una interoperabilidad perfecta. 
        li <i class="fas fa-chevron-right"></i> Pantallas fáciles de leer y utilizar para capturar datos en entornos extremos.
 

block se4
    h2.title Beneficios
    p.txt Los principales fabricantes industriales confían en los dispositivos de calidad de Getac, que combinan hardware robusto y software optimizado para enfrentar los desafíos del taller. 
 
 
    ol.list 
        li <i class="fas fa-chevron-right"></i> Los productos de Getac son intrínsecamente robustos y están diseñados para sobrevivir en las condiciones más difíciles. 
        li <i class="fas fa-chevron-right"></i> Le ofrecemos soporte integral de ingeniería de campo para áreas como la integración de sistemas y pruebas de compatibilidad, desarrollo de soluciones de acoplamiento, imágenes de software y soporte posventa. 
        li <i class="fas fa-chevron-right"></i> Los principales fabricantes mundiales confían en nuestros productos.
        li <i class="fas fa-chevron-right"></i> Le ofrecemos la mejor garantía de la industria, que incluye daños accidentales, por tres años como mínimo.
        

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
        li <i class="fas fa-chevron-right"></i> T800, T800-EX
        li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
        li <i class="fas fa-chevron-right"></i> F110, F110-EX 
        li <i class="fas fa-chevron-right"></i> K120, K120-EX
        li <i class="fas fa-chevron-right"></i> A140
        li <i class="fas fa-chevron-right"></i> B360

    br
    br

    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Getac KeyWedge Barcode Reader Utility 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de acoplamiento 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga 
        li <i class="fas fa-chevron-right"></i>  Teclados


block se6 
    - var lang = 'es'