extends ../template/_modal_work_2.pug
block se1
    h2.title Verificación Electrónica del Estado del Vehículo
    p.txt Todas las industrias se están digitalizando, desde tomar un taxi hasta acceder a la información de los profesionales de la salud. Y lo mismo sucede con el sector automotriz, donde las expectativas y el comportamiento de los clientes impulsan la necesidad de un cambio. La verificación electrónica del estado del vehículo (EVHC) le permite brindar una experiencia transparente y sin papeles tanto a los clientes como al personal de recepción de servicios, lo que garantiza que el proceso de inspección visual y entrega se reduzca al mínimo para una mejor experiencia del cliente y mejores oportunidades para la venta de piezas de repuesto.

block se2
    h2.title Desafío
    p.txt Las inspecciones con papel tardan mucho tiempo, ya que una vez que el cliente firma, el asesor de servicios tiene que ingresar la información en el DMS. Esto duplica el trabajo y puede ocasionar que el asesor de servicios omita los procesos estándar del fabricante o del distribuidor, lo cual puede significar un riesgo para el concesionario. Además del trabajo extra y el riesgo de incumplimiento, los clientes también reciben una mala atención, ya que deben esperar a que el asesor consulte el DMS para obtener información.

block se3
    h2.title Solución
    p.txt Getac Automotive ofrece a los talleres la capacidad de realizar las La verificación electrónica del estado del vehículo (EVHC) de forma fácil, integrada y sin papel. 
 
    ol.list
        li <i class="fas fa-chevron-right"></i>  Inspecciones de todo el vehículo: La plataforma EVHC de Getac exige que todas las verificaciones se realicen según los estándares del fabricante, de esta manera el cliente se siente tranquilo y el distribuidor tiene más oportunidades para generar ingresos. 
        li <i class="fas fa-chevron-right"></i>  Interfaz de usuario rápida e intuitiva: La plataforma EVHC de Getac agiliza todo el proceso a fin de brindar estimaciones y tiempos de entrega precisos para tomar decisiones rápidamente. 
        li <i class="fas fa-chevron-right"></i>  Se adapta a su forma de trabajar: Nuestro software es independiente del sistema operativo, con una Open API altamente configurable y flexible.
        li <i class="fas fa-chevron-right"></i>  Vea el panorama completo: Utilice el tablero de control y la consola de gestión para consultar el rendimiento, el cumplimiento y la eficiencia en el lugar y grupo a nivel nacional o mundial.

block se4
    h2.title Beneficios
    p.txt Getac Automotive combina un software integrado y un hardware robusto para ofrecer diversos beneficios para el taller:

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Cambie los lentos procesos en papel por un ecosistema de tabletas rápido y eficiente.
        li <i class="fas fa-chevron-right"></i>  Control del proceso de comprobación del estado.
        li <i class="fas fa-chevron-right"></i>  Mayor visibilidad para sus clientes.
        li <i class="fas fa-chevron-right"></i>  Incremente los repuestos para cada orden de reparación y las horas de mano de obra.
        li <i class="fas fa-chevron-right"></i>  La inteligencia empresarial revela los puntos que deben mejorarse.

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> EVHC Software
        li <i class="fas fa-chevron-right"></i> Absolute

    br
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga

block se6 
    - var lang = 'es'