extends ../template/_modal_rd_1.pug
block se1
    h2.title Validación y Pruebas
    p.txt Los vehículos de hoy son cada vez más sofisticados, con computadoras a bordo, energía eléctrica y una arquitectura compleja. Cada aspecto de un vehículo debe probarse y validarse a fondo antes de su producción, lo que significa que los ingenieros necesitan dispositivos que puedan funcionar a la par con sistemas complejos.

block se2
    h2.title Desafío
    p.txt Las pruebas no solo representan un reto para los vehículos, sino también para los dispositivos utilizados que deben realizar verificaciones, escaneos y calibración. Los dispositivos deben ser capaces de ayudar a los ingenieros con un software fluido y preciso que pueda interactuar con instrumentos complicados y soportar entornos difíciles, que van desde pruebas climáticas extremas hasta golpes, choques y caídas en el laboratorio de pruebas.

block se3
    h2.title Solución
    p.txt Los dispositivos robustos de Getac se adaptan perfectamente al laboratorio de pruebas y se han utilizado para múltiples proyectos en I+D. 

    ol.list
        li <i class="fas fa-chevron-right"></i>  Listos para climas extremos: Los dispositivos de Getac están certificados para operar con lluvia, polvo, golpes, vibraciones y soportar temperaturas extremas ya sean altas o bajas. 
        li <i class="fas fa-chevron-right"></i>  Puertos especializados: Nuestros dispositivos están equipados con puertos que son compatibles con una amplia gama de herramientas de calibración y medición específicas del sector.
        li <i class="fas fa-chevron-right"></i>  Seguros: Proteja sus datos confidenciales con seguridad biométrica y control completo de sus dispositivos. 
        li <i class="fas fa-chevron-right"></i>  Versátiles: El hardware robusto funciona junto con el software de ingeniería del fabricante para realizar sesiones ininterrumpidas de escaneo, registro de datos y programación de ECU.

block se4
    h2.title Beneficios
    p.txt El laboratorio de pruebas es parte fundamental en el proceso de un vehículo, que va desde el diseño hasta la producción. Es un lugar que necesita dispositivos robustos de confianza, por eso hemos creado una gama de dispositivos destinados a la I+D.

    ol.list 
        li <i class="fas fa-chevron-right"></i>  Conectividad sin cables: Conéctese directamente al vehículo, a la interfaz VCI y a la infraestructura de I+D a través de una rápida WLAN doble y Bluetooth. 
        li <i class="fas fa-chevron-right"></i>  Certificación y soporte global: Nuestros dispositivos están certificados para su uso en todo el mundo, son utilizados por los principales fabricantes de equipos originales y además cuentan con el respaldo de nuestro servicio y soporte de clase mundial. 
        li <i class="fas fa-chevron-right"></i>  Tamaño de pantalla ideal: Nuestra amplia gama de dispositivos cuenta con grandes pantallas que permiten realizar tareas como datos de prueba, pruebas de baterías térmicas y creación de prototipos en 3D. 
        li <i class="fas fa-chevron-right"></i>  Conectividad flexible: Nuestras opciones de puertos configurables funcionan con los principales dispositivos de prueba y medición de la industria.


block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> B360
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de acoplamiento 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga 
        li <i class="fas fa-chevron-right"></i>  Teclados

block se6 
    - var lang = 'es'