extends ../template/_modal_work_4.pug
block se1
    h2.title Diagnósticos Computarizados
    p.txt ¿Sabía que hay entre 60 y 100 unidades de control electrónico en un vehículo moderno? Cada una requiere un diagnóstico específico para realizar una verificación completa y actualizada. Algunas se realizan por aire, mientras que otras debe realizarlas en persona un técnico de diagnóstico.

block se2
    h2.title Desafío
    p.txt La verificación de diagnóstico completo de un vehículo puede tardar entre 1 y 3 horas y, si su taller trabaja con productos de varios fabricantes de equipos originales, entonces necesita una solución que pueda mantenerse actualizada y adaptarse al duro y acelerado entorno del taller.

block se3
    h2.title Solución
    p.txt Getac Automotive le ayuda a recuperar el tiempo perdido y a maximizar el tiempo de sus técnicos a través de un hardware robusto y un software integrado. 
 
 
    ol.list
        li <i class="fas fa-chevron-right"></i> Nuestras tabletas PC pueden conectarse rápidamente al vehículo a través de WLAN integrada o Gigabit Ethernet.
        li <i class="fas fa-chevron-right"></i> Los diagnósticos por computadora de Getac consideran todos los aspectos del proceso de diagnóstico y garantizan una visualización óptima.
        li <i class="fas fa-chevron-right"></i> El uso de tecnología robusta y móvil permite dedicar más tiempo al vehículo, en lugar de estar atado a una mesa de trabajo.

block se4
    h2.title Beneficios
    p.txt Los dispositivos de Getac son la herramienta óptima tanto para los talleres de los distribuidores como para los técnicos móviles.

    ol.list
        li <i class="fas fa-chevron-right"></i> Conectividad sin cables: Nuestros dispositivos pueden conectarse directamente al vehículo, a la interfaz VCI y a los sistemas informáticos del taller mediante doble WLAN y Bluetooth. 
        li <i class="fas fa-chevron-right"></i> Robustez a su servicio: Existen modelos de suscripción disponibles para distribuir la inversión y tener un fuerte retorno de la inversión. 
        li <i class="fas fa-chevron-right"></i> Certificación y soporte global: Nuestros dispositivos están certificados para su uso en todo el mundo, son compatibles con los principales programas de los fabricantes de equipos originales y además cuentan con el respaldo de nuestro servicio y soporte de clase mundial.
        li <i class="fas fa-chevron-right"></i> Tamaño de pantalla ideal: Las pantallas grandes permiten a los usuarios ver con mayor facilidad el registro de datos, las publicaciones técnicas, los diagramas de cableado y la información de las tarjetas de trabajo.

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> UX10
        li <i class="fas fa-chevron-right"></i> F110
        li <i class="fas fa-chevron-right"></i> S410

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System 
        li <i class="fas fa-chevron-right"></i> Absolute
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de acoplamiento 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga 
        li <i class="fas fa-chevron-right"></i>  Teclados

block se6 
    - var lang = 'es'