extends ../template/_modal_m_4.pug
block se1
    h2.title Gestión y Mantenimiento de activos
    p.txt Cuando se tiene varios activos costosos y complejos es necesario maximizar sus beneficios mediante una combinación de hardware adecuado y software interconectado para asegurar el mejor ROI.
block se2
    h2.title Desafío
    p.txt El entorno de la manufactura presenta una serie de desafíos para los gerentes y operadores.

    ol.list 
        li <i class="fas fa-chevron-right"></i> La conectividad limitada restringe el acceso al soporte remoto.
        li <i class="fas fa-chevron-right"></i> La inestable conectividad en red puede interrumpir la gestión de activos y dificultar la prestación del soporte remoto necesario. 
        li <i class="fas fa-chevron-right"></i> El bajo rendimiento de la batería de los dispositivos puede provocar tiempo de inactividad y pérdida de productividad. 
        li <i class="fas fa-chevron-right"></i> Los entornos difíciles requieren dispositivos especializados y robustos.
        
block se3
    h2.title Solución
    p.txt Los dispositivos robustos de Getac y el software integrado se conectan fácilmente con el funcionamiento actual de sus instalaciones de fabricación, a fin de encontrar formas de mejorar los flujos de trabajo de la gestión de activos y aumentar la productividad. 

    ol.list
        li <i class="fas fa-chevron-right"></i>  Realice un mantenimiento predictivo para reducir el tiempo de inactividad de los activos.
        li <i class="fas fa-chevron-right"></i>  Recopile datos en tiempo real para identificar eventos que puedan causar problemas en el futuro. 
        li <i class="fas fa-chevron-right"></i>  Utilice dispositivos robustos que soporten el entorno de la fábrica.
        li <i class="fas fa-chevron-right"></i>  Manténgase operativo durante un turno completo o más gracias a la batería doble, reduciendo así el tiempo de inactividad del dispositivo.

block se4
    h2.title Beneficios
    p.txt Los principales fabricantes industriales confían en los dispositivos de calidad de Getac, que combinan hardware robusto y software optimizado para realizar tareas de gestión y mantenimiento de activos. 

    ol.list 
        li <i class="fas fa-chevron-right"></i> Los productos de Getac son intrínsecamente robustos y están diseñados para sobrevivir en todas las condiciones climáticas. 
        li <i class="fas fa-chevron-right"></i> Le ofrecemos soporte integral de ingeniería de campo para áreas como la integración de sistemas y pruebas de compatibilidad, desarrollo de soluciones de acoplamiento, imágenes de software y soporte posventa. 
        li <i class="fas fa-chevron-right"></i> Los principales fabricantes mundiales confían en nuestros productos.
        li <i class="fas fa-chevron-right"></i> Le ofrecemos la mejor garantía de la industria, que incluye daños accidentales, por tres años como mínimo.

block se5
    h2.title Dispositivos de Getac:
    ol.list
        li <i class="fas fa-chevron-right"></i> ZX70, ZX70-EX
        li <i class="fas fa-chevron-right"></i> T800, T800-EX
        li <i class="fas fa-chevron-right"></i> UX10, UX10-EX
        li <i class="fas fa-chevron-right"></i> F110, F110-EX
        li <i class="fas fa-chevron-right"></i> K120, K120-EX
        li <i class="fas fa-chevron-right"></i> A140
        li <i class="fas fa-chevron-right"></i> B360

    br
    br
    
    h2.title Software:
    ol.list
        li <i class="fas fa-chevron-right"></i> Getac Device Monitoring System
        li <i class="fas fa-chevron-right"></i> Absolute
    br
    br

    h2.title  Accesorios:
    ol.list
        li <i class="fas fa-chevron-right"></i>  Soluciones de portabilidad 
        li <i class="fas fa-chevron-right"></i>  Soluciones de acoplamiento 
        li <i class="fas fa-chevron-right"></i>  Soluciones de carga 
        li <i class="fas fa-chevron-right"></i>  Teclados


block se6 
    - var lang = 'es'