extends ../template/_B360_dock
block desc
    h2.title Experience Getac Devices with Augmented Reality
    p.txt Scan the QR code with your smartphone, place the device in your environment. You are ready to play with it!