extends ../template/_B360
block desc
    h2.title Experimente los dispositivos Getac con la realidad aumentada
    p.txt Escanee el código QR con su smartphone, coloque el dispositivo en su entorno. Ya está listo para jugar con él.