.row.mb-sm-5.mb-md-0
    .col-md-7
        .device-ar
            iframe(src="../../ar/?device=ZX70", frameborder="0" ,width="100%" ,height="400") 
    .col-md-5.device-ar-main
        h2.title Experience Getac Devices with Augmented Reality
        p.txt Scan the QR code with your smartphone, place the device in your environment. You are ready to play with it!

        .device-ar-code
            a(href="../../ar/?device=ZX70" target="_blank")
                img(src="./../../images/qrcode_zx70.png", alt="ZX70") 