.video-iframe
    a.video-iframe-link(href="#" data-youtube="2qzZ_Vym8ng" data-title="B360 and B360 Pro Fully Rugged Laptops")
        <img src="./../assets/YT_B360.png"> 
    span.note B360 and B360 Pro Fully Rugged Laptops