.video-iframe
    a.video-iframe-link(href="#" data-youtube="28Yt18F0H1c" data-title="Getac Driving Safety Utility")
        <img src="./../assets/YT_Driving Safety.png"> 
    span.note Getac Driving Safety Utility