.video-iframe
    a.video-iframe-link(href="#" data-youtube="dgAxqFnfmsQ" data-title="Next Generation F110 Fully Rugged Tablet")
        <img src="./../assets/YT_F110.png"> 
    span.note Next Generation F110 Fully Rugged Tablet