.video-iframe
    a.video-iframe-link(href="#" data-youtube="W98rgqUcbxA" data-title="Getac Device Monitoring System (GDMS)")
        <img src="./../assets/YT_GDMS.png"> 
    span.note Getac Device Monitoring System (GDMS)