.video-iframe
    a.video-iframe-link(href="#" data-youtube="t8jY_l95qvA" data-title="Next Generation K120 Fully Rugged Tablet")
        <img src="./../assets/YT_K120.png"> 
    span.note Next Generation K120 Fully Rugged Tablet