.video-iframe
    a.video-iframe-link(href="#" data-youtube="upAfPgeUckA" data-title="Getac KeyWedge Barcode Reader Utility")
        <img src="./../assets/YT_KeyWedge.png"> 
    span.note Getac KeyWedge Barcode Reader Utility