.video-iframe
    a.video-iframe-link(href="#" data-youtube="qOhXzhjdZBc" data-title="New Generation S410 Semi Rugged Laptop")
        <img src="./../assets/YT_S410.png"> 
    span.note New Generation S410 Semi Rugged Laptop