.video-iframe
    a.video-iframe-link(href="#" data-youtube="2cVl8tj-hYo" data-title="New Generation UX10 Rugged Tablet")
        <img src="./../assets/YT_UX10.png"> 
    span.note New Generation UX10 Rugged Tablet