
.unity-map--logo
  <a href="./../"><img src="./../images/logo_getac_white.svg" alt="Getac" class="logo-getac img-fluid" style="max-height: 30px;"></a>

.unity-map--lang
    <div class="select-lang">
          <span class="select-lang--icon"><img src="./../images/icon_lang.svg" alt=""></span>
          <select class="select-lang--select form-select" aria-label="Default select example">
            <option value="en">English</option>
            //- <option value="es">Español</option>
            <option value="de">Deutsch</option>
            //- <option value="it">Italiano</option>
            //- <option value="fr">Français</option>
          </select>
    </div>