<header class="header">
  <nav class="custom-header navbar navbar-expand-lg navbar-light py-1">
    <div class="container menu">
      <div class="col-lg-6 col-3">
        <a href="./../index.html"><img src="./../../images/logo_getac.svg" alt="Getac" class="logo-getac img-fluid" style="max-height: 30px;"></a>
        </div>
        <div class="col-lg-6 col-9 text-end"><div class="select-lang">
          <span class="select-lang--icon"><img src="./../../images/icon_lang.svg" alt=""></span>
          <select class="select-lang--select form-select" aria-label="Default select example">
            <option value="0" selected>English</option>
            <option value="1">Spanish</option>
            <option value="2">Portuguese</option>
          </select>
        </div>
      </div>
    </div>
  </nav>
</header>