.modal-navi
    nav
        a.tab.active(href=".tab1-content")
            span(data-i18n="popupTab1") Intro
        a.tab(href=".tab2-content")
            span(data-i18n="popupTab2") Why Getac
        a.tab(href=".tab3-content")
            span(data-i18n="popupTab3") Getac Solution
        a.tab(href=".tab4-content")
            span(data-i18n="popupTab4") Device in AR