
#modal-video
  a(href="#" class="close")
    <span aria-hidden="true">&times;</span>
  .container.py-5
    h2.title 
    .youtube-iframe



//- .test-navi(style="position:fixed;top:100px;left:0; width: 100px;z-index:665555")
//-   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-detail" data-bs-whatever="@mdo">Modal 1</button>
