.modal-navi
    nav
        a.tab.active(href=".tab1-content")
            span Introduction
        a.tab(href=".tab2-content")
            span Why <br class="mobile"> Getac
        a.tab(href=".tab3-content")
            span Getac <br class="mobile"> Solution
        a.tab(href=".tab4-content")
            span Device <br class="mobile"> in AR