
#modal-video
  a(href="#" class="close")
    <span aria-hidden="true">&times;</span>
  .container.py-5
    h2.title 
    .youtube-iframe



//- .test-navi(style="position:fixed;top:100px;left:0; width: 100px;z-index:665555")
//-   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-detail1" data-bs-whatever="@mdo">Modal 1</button>
//-   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-detail2" data-bs-whatever="@mdo">Modal 2</button>
//-   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-detail3" data-bs-whatever="@mdo">Modal 3</button>
//-   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-detail4" data-bs-whatever="@mdo">Modal 4</button>
//-   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-detail5" data-bs-whatever="@mdo">Modal 5</button>
//-   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-detail6" data-bs-whatever="@mdo">Modal 6</button>