.unity-userguide
  .content 
    a(href="#" class="close-popup")
      span &times;

    .container 
      .row 
        .col-6 
          h2 Turn Around
        .col-6
          h2 Move Forward

      .row
        .col-12 
          img(src="./../../images/unity_user_guide.svg", alt="")