
<!-- Modal-User Guide -->
    <div class="custom-modal modal fade" id="modal-userguide" tabindex="-1" role="dialog" aria-labelledby="modal-registerTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class=" modal-body">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <section class="container-fluid bg-black-getac px-4 py-5">
              .row 
                .col-6 
                  h2.title 
                    span Turn Around
                .col-6
                  h2.title 
                    span Move Forward
              .row 
                .col-12
                  img(src="./../../images/unity_user_guide.svg", alt="")
            </section>
          </div>
        </div>
      </div>
    </div>