<!-- Modal -->
<div class="custom-modal modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="modal-registerTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class=" modal-body">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <section class="modal-contentbox">
          .modal-navi
            a.tab.active(href="#") Introduction
            a.tab(href="#") Why Getac
            a.tab(href="#") Getac Solution
            a.tab(href="#") Device in AR

          .modal-infor
            .modal-infor--main
              .row.mb-5
                .col-md-5 <img src="https://fakeimg.pl/336x345/">
                .col-md-7
                  h2.title Inventory & Warehouse Management
                  p.txt Getac's solution for inventory and warehouse management integrates seamlessly with the leading inventory management, ERP and WMS software. Our rugged devices have both the computing power and tough construction required for you to work at ease, providing the ideal platform for inventory and warehouse management.

                  ol.list 
                    li <i class="fas fa-chevron-right"></i> Capture, record and manage inventory flow.
                    li <i class="fas fa-chevron-right"></i> Capture, record and manage inventory flow.
                    li <i class="fas fa-chevron-right"></i> Capture, record and manage inventory flow.
                    li <i class="fas fa-chevron-right"></i> Capture, record and manage inventory flow.

              .row.mb-5
                .col-md-5
                  .video-iframe
                    a(href="#" data-youtube="fcayvCFdQ1o")
                       <img src="https://fakeimg.pl/300x160/"> 
                    span.note Next Generation F110 Fully Rugged Tablet
                .col-md-7
                  h2.title Inventory & Warehouse Management
                  p.txt Getac's solution for inventory and warehouse management integrates seamlessly with the leading inventory management, ERP and WMS software. Our rugged devices have both the computing power and tough construction required for you to work at ease, providing the ideal platform for inventory and warehouse management.

                  ol.list 
                    li <i class="fas fa-chevron-right"></i> Capture, record and manage inventory flow.
                    li <i class="fas fa-chevron-right"></i> Capture, record and manage inventory flow.
                    li <i class="fas fa-chevron-right"></i> Capture, record and manage inventory flow.
                    li <i class="fas fa-chevron-right"></i> Capture, record and manage inventory flow.

              .row.mb-5
                .col-md-7
                  .device-ar
                    <img src="https://fakeimg.pl/420x340/"> 
                .col-md-5.device-ar-main
                  h2.title Experience Getac Devices with Augmented Reality
                  p.txt Scan the QR code with your smartphone, place the device in your environment. You are ready to play with it!

                  .device-ar-code
                    a(href="#" target="_blank")
                      img(src="./../../images/qrcode_b360.png", alt="B360") 
        </section>
      </div>
    </div>
  </div>
</div>


#modal-video
  a(href="#" class="close")
    <span aria-hidden="true">&times;</span>
  .container.py-5
    h2.title Next Generation F110 Fully Rugged Tablet | Getac
    .youtube-iframe
      <iframe width="560" height="315" src="https://www.youtube.com/embed/fcayvCFdQ1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
