
<!-- Modal-User Guide -->
    <div class="custom-modal modal fade" id="modal-userguide" tabindex="-1" role="dialog" aria-labelledby="modal-registerTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <section class="modal-content container-fluid">
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              .row 
                .col-12.col-md-6 
                  h2.color-title.color-title1
                    span(data-i18n="popupUserguideTitle1") Turn Around

                  .guide-img
                    img.d-none.d-md-block.d-sm-none(src="./../assets/guide_turn_around.svg", alt="")
                    img.d-block.d-sm-block.d-md-none(src="./../assets/guide_turn_around_m.svg", alt="")

                .col-12.col-md-6.border-left-md.border-top-sm
                  h2.color-title.color-title2
                    span(data-i18n="popupUserguideTitle2") Move 
                  
                  .guide-img
                    img.d-none.d-md-block.d-sm-none(src="./../assets/guide_move.svg", alt="")
                    img.d-block.d-sm-block.d-md-none(src="./../assets/guide_movie_m.svg", alt="")
            </section>
          </div>
        </div>
      </div>
    </div>