
<!-- Modal-User Guide -->
    <div class="custom-modal modal fade" id="modal-userguide" tabindex="-1" role="dialog" aria-labelledby="modal-registerTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class=" modal-body">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <section class="container-fluid bg-black-getac">
              .row 
                .col-6 
                  h2.color-title 
                    span Turn Around

                  .guide-img
                    img(src="./../assets/guide_move.svg", alt="")
                .col-6.border-left-md.border-top-sm
                  h2.color-title 
                    span Move Forward
                  .guide-img
                    img(src="./../assets/guide_turn_around.svg", alt="")
            </section>
          </div>
        </div>
      </div>
    </div>