<!-- Modal -->
    <div class="custom-modal modal fade" id="modal-detail" tabindex="-1" role="dialog" aria-labelledby="modal-registerTitle" aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class=" modal-body">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <section class="modal-contentbox container-fluid bg-black-getac px-0 py-5">
             
            </section>
          </div>
        </div>
      </div>
    </div>