
<script src="./../js/UnityLoader.js"></script>
<script src="./../js/UnityProgress.js"></script>
<link rel="stylesheet" href="./../../js.lib/bootstrap/bootstrap.min.css">
<link rel="stylesheet" href="./../../js.lib/bootstrap/bootstrap-icons.css">
<link rel="stylesheet" href="./../../js.lib/swiper/swiper-bundle.min.css">
<link rel="stylesheet" href="./../../js.lib/fontawesome/all.css">
<link rel="stylesheet" href="./../../css/web.css">
<link rel="stylesheet" href="./../assets/unity_web.css">
<script src="https://unpkg.com/@webcomponents/webcomponentsjs/webcomponents-loader.js"></script>
<script type="module"  src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
<script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>