<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
<script src="./../js/detectLang.js"></script>
<script src="./../../js.lib/jquery-3.6.0.min.js"></script>
<script src="./../../js.lib/popper.min.js"></script>
<script src="./../../js.lib/bootstrap/bootstrap.min.js"></script>