.unity-right-tool.unity-show-tools
  .tool-item
   <div class="dropdown">
    span.icon(id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false")
      img(src="./../assets/icon_lang.svg", alt="")
    <ul class="lang-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" data-lang="en" href="#">English</a></li>
      //- <li><a class="dropdown-item" data-lang="es" href="#">Español</a></li>
      <li><a class="dropdown-item" data-lang="de" href="#">Deutsch</a></li>
      //- <li><a class="dropdown-item" data-lang="it" href="#">Italiano</a></li>
      //- <li><a class="dropdown-item" data-lang="fr" href="#">Français</a></li>
    </ul>
  </div>

  .tool-item
    span.icon#modal-helper
      img(src="./../assets/icon_help.svg", alt="")
