
if page === 'aftersales_workshop'
  .unity-menu.unity-show-tools.show
    .btn-switch-tab 
    .menu-item(class="home")
      a(href="../")
        span.icon
          img(src="../assets/icon_menu_map.svg", alt="")
        span.unit Map
    .menu-item(class='active')
      a(href='./')
        span.icon
          img(src="../assets/icon_menu_workshop.svg", alt="")
        span.unit Workshop
    .menu-item
      a(href="../warehouse/")
        span.icon
            img(src="../assets/icon_menu_warehouse.svg", alt="")
        span.unit Warehouse
    .menu-item
      a(href="../manufacturing_factory/")
        span.icon
          img(src="../assets/icon_menu_manufacturing.svg", alt="")
        span.unit Automotive Manufacturing
    .menu-item
      a(href="../engineering_lab/")
        span.icon
          img(src="../assets/icon_menu_rd.svg", alt="")
        span.unit R&D and Engineering
    

if page === 'engineering_lab'
  .unity-menu.unity-show-tools.show
    .btn-switch-tab 
    .menu-item(class="home")
      a(href="../")
        span.icon
          img(src="../assets/icon_menu_map.svg", alt="")
        span.unit Map
    .menu-item
      a(href="../aftersales_workshop/")
        span.icon
          img(src="../assets/icon_menu_workshop.svg", alt="")
        span.unit Workshop
    .menu-item
      a(href="../warehouse/")
        span.icon
            img(src="../assets/icon_menu_warehouse.svg", alt="")
        span.unit Warehouse 
    .menu-item
      a(href="../manufacturing_factory/")
        span.icon
          img(src="../assets/icon_menu_manufacturing.svg", alt="")
        span.unit Automotive Manufacturing
    .menu-item(class='active')
      a(href='./')
        span.icon
          img(src="../assets/icon_menu_rd.svg", alt="")
        span.unit R&D and Engineering
    
     


if page === 'manufacturing_factory'
  .unity-menu.unity-show-tools.show
    .btn-switch-tab 
    .menu-item(class="home")
      a(href="../")
        span.icon
          img(src="../assets/icon_menu_map.svg", alt="")
        span.unit Map
    .menu-item
      a(href="../aftersales_workshop/")
        span.icon
          img(src="../assets/icon_menu_workshop.svg", alt="")
        span.unit Workshop

    .menu-item
      a(href="../warehouse/")
        span.icon
            img(src="../assets/icon_menu_warehouse.svg", alt="")
        span.unit Warehouse  
    .menu-item(class='active')
      a(href='./')
        span.icon
          img(src="../assets/icon_menu_manufacturing.svg", alt="")
        span.unit Automotive Manufacturing
    .menu-item
      a(href="../engineering_lab/")
        span.icon
          img(src="../assets/icon_menu_rd.svg", alt="")
        span.unit R&D and Engineering


if page === 'warehouse'
  .unity-menu.unity-show-tools.show
    .btn-switch-tab 
    .menu-item(class="home")
      a(href="../")
        span.icon
          img(src="../assets/icon_menu_map.svg", alt="")
        span.unit Map
    .menu-item
      a(href="../aftersales_workshop/")
        span.icon
          img(src="../assets/icon_menu_workshop.svg", alt="")
        span.unit Workshop
    .menu-item(class='active')
      a(href='./')
        span.icon
            img(src="../assets/icon_menu_warehouse.svg", alt="")
        span.unit Warehouse 
    .menu-item
      a(href="../manufacturing_factory/")
        span.icon
          img(src="../assets/icon_menu_manufacturing.svg", alt="")
        span.unit Automotive Manufacturing
    .menu-item
      a(href="../engineering_lab/")
        span.icon
          img(src="../assets/icon_menu_rd.svg", alt="")
        span.unit R&D and Engineering
