.unity-right-tool
  .tool-item
    span.icon(type="button" id="langDropdown" data-bs-toggle="dropdown" aria-expanded="false")
      img(src="./../assets/icon_lang.svg", alt="")
    <ul class="dropdown-menu" aria-labelledby="langDropdown">
      <li><a class="dropdown-item" data-value="en" href="#">English</a></li>
      <li><a class="dropdown-item" data-value="es" href="#">Español</a></li>
      <li><a class="dropdown-item" data-value="de" href="#">Deutsch</a></li>
      <li><a class="dropdown-item" data-value="it" href="#">Italiano</a></li>
      <li><a class="dropdown-item" data-value="fr" href="#">Français</a></li>
    </ul>

  .tool-item
    span.icon
      img(src="./../assets/icon_help.svg", alt="")



<select class="select-lang--select form-select" aria-label="Default select example">
  <option value="en" selected>English</option>
  <option value="es"></option>
  <option value="de"></option>
  <option value="it"></option>
  <option value="fr"></option>
</select>