.unity-right-tool.unity-show-tools
  .tool-item
   <div class="dropdown">
    span.icon(id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false")
      img(src="./../assets/icon_lang.svg", alt="")
    <div class="lang-dropdown dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" data-lang="en" href="#">English</a>
      //- <a class="dropdown-item" data-lang="es" href="#">Español</a>
      <a class="dropdown-item" data-lang="de" href="#">Deutsch</a>
      //- <a class="dropdown-item" data-lang="it" href="#">Italiano</a>
      //- <a class="dropdown-item" data-lang="fr" href="#">Français</a>
    </div>
  </div>

  .tool-item
    span.icon#modal-helper
      img(src="./../assets/icon_help.svg", alt="")
