
- var page = 'engineering_lab';
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Getac | Automotive Virtual Exhibition - R&D and Engineering

    include ./_unity_head

    script.
      var unityInstance = UnityLoader.instantiate("unityContainer", "Build/engineering_lab.json", {onProgress: UnityProgress});
  body
    include ./_unity_header
    include ./_unity_menu
    .webgl-content
      #unityContainer(data-idx="2" data-name="R&D and Engineering" style="width: 100vw; height: 100vh")

    include ./_popup
    include ./_popup_detail_rd
    include ./_unity_footer
