<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Getac | Automotive Virtual Exhibition - Map</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Oswald:wght@200;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./../js.lib/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="./../js.lib/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./../js.lib/fontawesome/all.css">
    <link rel="stylesheet" href="./../css/web.css" />
    <link rel="stylesheet" href="./assets/unity_web.css" />
  </head>
  <body>
    include _header
    .unity-map-container
      .unity-map-slogan
        h2.title AUTOMOTIVE VIRTUAL EXHIBITION
        p.txt Take a walk through our virtual exhibition to see how rugged mobile solutions can drive a smarter approach throughout the Automotive value-chain.
    
    .unity-map-overlay
    .unity-map-bg
      .base-bg
      .unity-map--screen.screen1
        .bg.normal
        .bg.light
        
      .unity-map--screen.screen2
        .bg.normal
        .bg.light
        
      .unity-map--screen.screen3
        .bg.normal
        .bg.light
        
      .unity-map--screen.screen4
        .bg.normal
        .bg.light
        

    .unity-map-hover
      a.unity-map-hover-screen.screen1(href="./aftersales_workshop/")
        .titlebox
          span.title-icon
            img(src="./assets/icon_menu_workshop.svg", alt="")
          span.title Workshop
          
      a.unity-map-hover-screen.screen2(href="./warehouse/")
        
        .titlebox
          span.title-icon
            img(src="./assets/icon_menu_warehouse.svg", alt="")
          span.title Warehouse

      a.unity-map-hover-screen.screen3(href="./manufacturing_factory/")
        .titlebox
          span.title-icon
           img(src="./assets/icon_menu_manufacturing.svg", alt="")
          span.title Automotive Manufacturing

      a.unity-map-hover-screen.screen4(href="./engineering_lab/")
        .titlebox
          span.title-icon
            img(src="./assets/icon_menu_rd.svg", alt="")
          span.title R&D and Engineering

    <iframe src="aftersales_workshop/index.html" loading="lazy" class="unity-iframe"></iframe>
    <iframe src="engineering_lab/index.html" loading="lazy" class="unity-iframe"></iframe>
    <iframe src="manufacturing_factory/index.html" loading="lazy" class="unity-iframe"></iframe>
    <iframe src="warehouse/index.html" loading="lazy" class="unity-iframe"></iframe>
    
    .unity-map-copyright 
      p © 2021 GETAC. All Rights Reserved.
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src="./../js.lib/jquery-3.6.0.min.js"></script>
    <script src="./../js.lib/popper.min.js"></script>
    <script src="./../js.lib/bootstrap/bootstrap.min.js"></script>
    <script src="./js/functions.js"></script>
    script(src="./js/indexDetectLang.js")
    script(src="./js/mapIndex.js")
  </body>
</html>
