| hotspot1_1:
include ../../map/components/modal/cn/minify/_modal_work_1.html
|
| hotspot1_2:
include ../../map/components/modal/cn/minify/_modal_work_2.html
|
| hotspot1_3:
include ../../map/components/modal/cn/minify/_modal_work_3.html
|
| hotspot1_4:
include ../../map/components/modal/cn/minify/_modal_work_4.html
|
| hotspot1_5:
include ../../map/components/modal/cn/minify/_modal_work_5.html
|
| hotspot1_6:
include ../../map/components/modal/cn/minify/_modal_work_6.html
|
| hotspot2_1:
include ../../map/components/modal/cn/minify/_modal_m_1.html
|
| hotspot2_2:
include ../../map/components/modal/cn/minify/_modal_m_2.html
|
| hotspot2_3:
include ../../map/components/modal/cn/minify/_modal_m_3.html
|
| hotspot2_4:
include ../../map/components/modal/cn/minify/_modal_m_4.html
|
| hotspot4_1:
include ../../map/components/modal/cn/minify/_modal_warehouse_1.html
|
| hotspot3_1:
include ../../map/components/modal/cn/minify/_modal_rd_1.html
|
| hotspot3_2:
include ../../map/components/modal/cn/minify/_modal_rd_2.html
